<div class="row btm-border headings-div">
    <div class="col-12">
        <label class="main-heading"> <a routerLink="/gateway-management">GATEWAY MANAGEMENT / </a></label>
        <span> EDIT GATEWAY</span>
    </div>
</div>
<div class="main-container p-15">
    <form [formGroup]="updateGatewayFormGroup" (ngSubmit)="onSubmitUpdateGateway(updateGatewayFormGroup.value)">
        <section class="main-section">
            <div class="row">
                <!-- <pre>Form values: {{updateGatewayFormGroup.value | json}}</pre> -->
            </div>
            <div class="row">
                <div class="col-4 form-group">
                    <label>Gateway Name</label>
                    <input type="search" class="form-control" id="gw_name" formControlName="gw_name" name="gw_name"
                        placeholder="Enter Gateway Name" />
                    <span class="text-danger pl-1 f-12"
                        *ngIf="updateGatewayFormGroup.get('gw_name').hasError('required') && isUpdateValid">
                        First Name is required
                    </span>
                    <span class="text-danger pl-1 f-12"
                        *ngIf="updateGatewayFormGroup.get('gw_name').hasError('pattern') && updateGatewayFormGroup.get('gw_name').dirty">
                        Please enter valid input
                    </span>
                </div>
                <div class="col-4 form-group">
                    <label>Gateway ID</label>
                    <input type="search" class="form-control" id="gw_id" disabled formControlName="gw_id" name="gw_id"
                        placeholder="Enter Gateway ID" />
                    <span class="text-danger pl-1 f-12"
                        *ngIf="updateGatewayFormGroup.get('gw_id').hasError('required') && isUpdateValid">
                        Gateway ID is required
                    </span>
                    <span class="text-danger pl-1 f-12"
                        *ngIf="updateGatewayFormGroup.get('gw_id').hasError('pattern') && updateGatewayFormGroup.get('gw_id').dirty">
                        Please enter valid input
                    </span>
                </div>
                <div class="col-4 form-group">
                    <label>Gateway Currency</label>
                    <select class="dropdown-select w-100" [(ngModel)]='currency_id' formControlName="currency_id"
                        name="currency_id">
                        <option value="">Select Gateway Currency</option>
                        <option value="{{item.currency_id}}" *ngFor="let item of gatewayCurrencyData?.data"
                            [innerHTML]="( item.currency_name ) + ' - ' + (item.currency_symbol)">
                        </option>
                    </select>
                    <span class="text-danger pl-1 f-12"
                        *ngIf="updateGatewayFormGroup.get('currency_id').hasError('required') && isUpdateValid">
                        Gateway Currency is required
                    </span>
                </div>
            </div>
            <div class="row">
                <div class="col-4 form-group">
                    <label>Gateway Timezone</label>
                    <select class="dropdown-select w-100" formControlName="timezone" name="timezone">
                        <option value="" default>Select Gateway Timezone</option>
                        <option *ngFor="let item of gatewayTimeZoneData?.data" value="{{item.id}}">{{item.timezone}}
                        </option>
                    </select>
                    <span class="text-danger pl-1 f-12"
                        *ngIf="updateGatewayFormGroup.get('timezone').hasError('required') && isUpdateValid">
                        Gateway Timezone is required
                    </span>
                </div>
                <div class="col-4 form-group">
                    <label>Gateway Type</label>
                    <select class="dropdown-select w-100" formControlName="gw_type" name="gw_type">
                        <option value="" default>Select Gateway Type</option>
                        <option value="Direct">Direct</option>
                        <option value="Premium">Premium</option>
                        <option value="Wholesale">Wholesale</option>
                    </select>
                    <span class="text-danger pl-1 f-12"
                        *ngIf="updateGatewayFormGroup.get('gw_type').hasError('required') && isUpdateValid">
                        Gateway Type is required
                    </span>
                </div>

            </div>
            <div class="row">
                <div class="col-4 form-group">
                    <label>Billing Type</label>
                    <select class="dropdown-select w-100" formControlName="billing_type" name="billing_type">
                        <option value="" default>Select Billing Type</option>
                        <option value="prepaid">Prepaid</option>
                        <option value="postpaid">Postpaid</option>
                    </select>
                    <span class="text-danger pl-1 f-12"
                        *ngIf="updateGatewayFormGroup.get('billing_type').hasError('required') && isUpdateValid">
                        Billing Type is required
                    </span>
                </div>
                <div class="col-5 form-group row error-absolute">
                    <label class="col-12">Message Type</label>
                    <div class="col-12">
                        <div class="row ml-0">
                            <span *ngFor="let types of messageType" class="col-4">
                                <label class="checkbox-label" for="{{types.item}}">{{types.item}}
                                    <input type="checkbox" [value]="types.value" id="{{types.item}}"
                                        [checked]="types.status === 1"
                                        (change)=" getMessageType(types.value, $event.target.checked);">
                                    <span class="checkmark"></span>
                                </label>
                            </span>
                        </div>
                    </div>
                    <span class="text-danger pl-3 f-12"
                        *ngIf="updateGatewayFormGroup.get('msg_type').hasError('required') && isUpdateValid">
                        Message Type is required
                    </span>
                </div>
                <div class="col-3 form-group lcr-exclusion">
                    <label class="checkbox-label" for="bill-submission">
                        <b>Bill On Submission</b>
                        <input type="checkbox" id="bill-submission" formControlName="is_bill_on_submission">
                        <span class="checkmark"></span>
                    </label>
                    <label class="checkbox-label mt-3" for="lcr-exclude">
                        <b>Exclude from LCR</b>
                        <input type="checkbox" id="lcr-exclude" formControlName="exclude_lcr">
                        <span class="checkmark"></span>
                    </label>
                </div>

            </div>
        </section>
        <section class="main-section">
            <div class="row">
                <div class="col-4 form-group">
                    <label for="tps">Throughput per second (TPS)</label>
                    <input type="search" class="form-control" id="tps" formControlName="tps" name="tps"
                        placeholder="Enter TPS" />
                    <span class="text-danger pl-1 f-12"
                        *ngIf="updateGatewayFormGroup.get('tps').hasError('pattern') && updateGatewayFormGroup.get('tps').dirty">
                        Please enter valid input
                    </span>
                </div>

                <div class="col-4 form-group">
                    <label>DLR Type</label>
                    <select class="dropdown-select w-100" formControlName="dlr_type" name="dlr_type">
                        <option value="" default>Select DLR Type</option>
                        <option value="Handset DLR">Handset DLR</option>
                        <option value="SMSC DLR">SMSC DLR</option>
                    </select>
                    <span class="text-danger pl-1 f-12"
                        *ngIf="updateGatewayFormGroup.get('dlr_type').hasError('required') && isUpdateValid">
                        DLR Type is required
                    </span>
                </div>
                <div class="col-4 form-group row error-absolute">
                    <label class="col-12">CharSet Encoding Supported</label>
                    <div class="col-12">
                        <div class="row ml-0">
                            <span *ngFor="let types of charsetType" class="col-4">
                                <label class="checkbox-label" for="{{types.item}}">{{types.item}}
                                    <input type="checkbox" value="{{types.item}}" id="{{types.item}}"
                                        [checked]="types.status === 1"
                                        (change)="getCharsetType(types.item, $event.target.checked);">
                                    <span class="checkmark"></span>
                                </label>
                            </span>
                        </div>
                    </div>
                    <div class="text-danger pl-3 f-12">
                        <span *ngIf="updateGatewayFormGroup.get('charset_enc').hasError('required') && isUpdateValid">
                            CharSet Encoding is required
                        </span>
                    </div>
                </div>
            </div>
        </section>
        <section class="main-section">
            <div class="row">
                <div class="col-3 text-center form-group">
                    <label class="col-12 px-0 text-left">Sender ID Whitelisting Required</label>
                    <label class="toggle-switch mt-3">
                        <input type="checkbox" class="switch-btn" formControlName="senderid_whitelist_required">
                        <span class="slider round"></span>
                    </label>
                </div>

                <div class="col-4 offset-1 form-group">
                    <label>Sender ID Type</label>
                    <select class="dropdown-select w-100" formControlName="senderid_type" name="senderid_type">
                        <option value="" default>Select Sender ID Type</option>
                        <option value="0">Open</option>
                        <option value="1">List</option>
                        <option value="2">Static</option>
                        <option value="3">Numeric</option>
                    </select>
                    <span class="text-danger f-12"
                        *ngIf="updateGatewayFormGroup.get('senderid_type').hasError('required') && isUpdateValid">
                        Sender ID Type is required
                    </span>
                </div>
            </div>
        </section>
        <section class="main-section">
            <div class="row">
                <div class="col-12 form-group">
                    <label>Description</label>
                    <textarea class="form-group w-100 p-3" rows="3" placeholder="Enter Short Description"
                        formControlName="description"></textarea>
                    <span class="text-danger pl-1 f-12"
                        *ngIf="updateGatewayFormGroup.get('description').hasError('required') && isUpdateValid">
                        Description is required
                    </span>
                    <span class="text-danger pl-1 f-12"
                        *ngIf="updateGatewayFormGroup.get('description').hasError('pattern') && updateGatewayFormGroup.get('description').dirty">
                        Please enter valid input
                    </span>
                </div>
            </div>
        </section>
        <div class="row">
            <div class="col-12 text-center">
                <a routerLink="/gateway-management" class="btn btn-basic mr-3">Cancel</a>
                <button type="submit" class="btn erp-intl-btn">Update Gateway</button>
            </div>
        </div>
    </form>
</div>