<div class="row btm-border">
    <div class="col-8 pt-10">
        <label class="main-heading">
            <a routerLink="/billplan-management">BILLPLAN MANAGEMENT /</a></label>
        <span><a routerLink="/billplan-management/home"> BILLPLAN /</a> CREATE NEW</span>
    </div>
    <div class="col-4 dropdown text-right pt-2 mb-2" ngbDropdown>
        <span class="green-heading">BILL TYPE - POSTPAID</span>

        <button class="btn dropdown-basic px-4" id="erp-dropdown" disabled>
            Slab
        </button>
    </div>
</div>
<form [formGroup]="SlabFormGroup">
    <div class="btm-border second-row-pr mb_10">
        <div class="row">
            <div class="col-3 text-right">
                <div class="form-group">
                    <button class="btn w-100 dropdown-basic" style="cursor: not-allowed;"
                        [innerHTML]="SlabFormGroup.value.ratecard_name"></button>
                </div>
            </div>
            <div class="col-3 offset-6 text-right">
                <div class="form-group">
                    <button class="btn w-100 dropdown-basic" style="cursor: not-allowed;"
                        innerHTML="Bill Plan Currency ({{currencySybmol.bCurrency?.symbol}})">
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!-- <pre>{{SlabFormGroup.value | json}}</pre> -->
    <div class="main-container p-4">
        <app-slab-stepper-form [parentForm]="SlabFormGroup" (countriesListChildToParent)="listenAddNew($event)"
            [editMode]="editMode.asObservable()" [previewDeleteEvent]="previewDeleteEvent.asObservable()"
            [handlecurrencyList]="handlecurrencyList.asObservable()">
        </app-slab-stepper-form>
    </div>
</form>
<!-- {{previewList | json}} -->
<div class="row btm-border second-row-det">
    <div class="col-7">
        <div class="row mt-1">
            <div class="col-5">
                <label class="mr-2"><b>Total Countries</b></label>
                <span class="border-right">&nbsp;</span>
                <span class="ml-3 badge badge-dark"><b>{{countryCount}}</b></span>
            </div>
            <div class="col-7">
                <label class="mr-2"><b>Total Operators</b></label>
                <span class="border-right">&nbsp;</span>
                <span class="ml-3 badge badge-dark"><b>{{operatorCount}}</b></span>
            </div>
        </div>
    </div>

    <div class="col-5 text-right">
        <input type="search" [(ngModel)]="searchvalue" class="form-control"
            placeholder="&#xf002; Search by Country, Operator" />
    </div>

</div>
<div class="main-container table-responsive">
    <table class="table table-borderless erp-list-table row-hover-effect">
        <thead>
            <tr>
                <th>Country</th>
                <th>Operator</th>
                <th>MCC + MNC</th>
                <th>Min Limit</th>
                <th>Max Limit</th>
                <th innerHTML="Billing Rate ({{currencySybmol.bCurrency?.symbol}})"></th>
                <th innerHTML="Normalize Rate ({{currencySybmol.nCurrency?.symbol}})"></th>
                <th>&nbsp;</th>
                <th>&nbsp;</th>
            </tr>
        </thead>
        <tbody *ngFor="let items of slabRouteService.previewList| 
        filter: { 
             country_name: searchvalue,
             operator_name: searchvalue,
             mcc: searchvalue,
             mnc: searchvalue
            }; let cindex=index">
            <tr #tableRow *ngFor="let item of items.slabs; let sindex=index"
                [ngClass]="{'border-bottom': items.slabs.length - 1 == sindex}">
                <td style="vertical-align: middle;" class="font-weight-semi-bold border-bottom"
                    [attr.rowspan]="items.slabs.length" *ngIf="sindex==0">{{items.country_name}}</td>
                <td style="vertical-align: middle;" class="border-bottom" [attr.rowspan]="items.slabs.length"
                    *ngIf="sindex==0">{{items.operator_name === 'All' ? 'All Operator' : items.operator_name}}</td>
                <td style="vertical-align: middle;" class="border-bottom" [attr.rowspan]="items.slabs.length"
                    *ngIf="sindex==0">{{items.mcc}} {{items.mnc !== 0 ? '+ ' + items.mnc : ''}}</td>
                <td style="padding-left: 26px;">{{item.min}}</td>
                <td>{{item.max}}</td>
                <td>{{item.billing_rate}}</td>
                <td>{{item.normalize_rate}}</td>
                <td style="vertical-align: middle;padding: 0;" class="border-bottom" [attr.rowspan]="items.slabs.length"
                    *ngIf="sindex==0">
                    <img src="assets/icons/edit-icon.svg" alt="edit" class="cursor-pointer"
                        (click)="editPreviewSlabs(cindex, items.country_name)" />
                </td>
                <!-- <td>
                    <img src="assets/icons/edit-icon.svg" alt="edit" />
                </td> -->
                <!-- <td> <img src="assets/icons/delete-icon.svg" class="img-fluid" alt="delete icon" /></td> -->
                <td style="vertical-align: middle;padding: 0;" class="border-bottom" [attr.rowspan]="items.slabs.length"
                    *ngIf="sindex==0">
                    <img src="assets/icons/delete-icon.svg" class="img-fluid cursor-pointer" alt="delete icon"
                        (click)="deletePreviewSlabs(cindex)" />
                </td>
            </tr>

        </tbody>
        <tbody *ngIf="!slabRouteService.previewList.length  
                || (slabRouteService.previewList  |
                 filter: { 
                    country_name: searchvalue,
                    operator_name: searchvalue,
                    mcc: searchvalue,
                    mnc: searchvalue 
                }).length === 0">
            <tr>
                <td colspan="9" class="text-center py-3 main-heading">
                    No Data Available
                </td>
            </tr>
        </tbody>
    </table>
</div>