<div class="row btm-border headings-div">
    <div class="col-12">
        <label class="main-heading"> <a routerLink="/gateway-management">GATEWAY MANAGEMENT / </a></label>
        <span> <a routerLink="/gateway-management/gateway-details"> {{gatewayFileAuditLogData?.data.gw_id}} -
                {{gatewayFileAuditLogData?.data.gw_name}}</a> / FILE AUDIT LOG</span>
    </div>
</div>
<div class="row btm-border second-row-det">
    <div class="col-7">
        <div class="row">
            <div class="col-12">
                <label class="mr-2"><b>Total</b></label>
                <span class="border-right">&nbsp;</span>
                <span class="ml-3 badge badge-dark"><b>{{gatewayFileAuditLogData?.data.total}}</b></span>
            </div>
        </div>
        <div class="row gateway-count">
            <div class="col-3">
                <label>Success <span
                        class=" ml-3 badge badge-dark"><b>{{gatewayFileAuditLogData?.data.success}}</b></span>
                </label>
            </div>
            <div class="col-3 gateway-detail">
                <label>Failure
                    <span class="badge badge-dark ml-3"><b>{{gatewayFileAuditLogData?.data.failure}}</b></span>
                </label>
            </div>
        </div>
    </div>
    <div class="col-5 text-right mt-1">
        <div class="row">
            <div class="col-6 form-group dropdown" ngbDropdown>
                <button class="btn dropdown-basic dropdown-toggle" id="erp-dropdown" ngbDropdownToggle>
                    File Audit Log</button>
                <div class="dropdown-menu" ngbDropdownMenu aria-labelledby="erp-dropdown">
                    <a class="dropdown-item"
                        routerLink="/gateway-management/country-list/{{gatewayFileAuditLogData?.data.gw_id}}/{{gatewayFileAuditLogData?.data.gw_name}}">
                        Country List
                    </a>
                </div>
            </div>
            <div class="col-6">
                <div class="form-group">
                    <app-calendar-picker [params]="params" (selectDate)="getDateSelection($event)">
                    </app-calendar-picker>
                </div>
            </div>
        </div>

    </div>

</div>
<div class="main-container table-responsive audit-log-list">
    <table class="table table-borderless erp-list-table audit-log-list-table">
        <thead>
            <tr>
                <th class="col-hover">File Name</th>
                <th>Upload Date & Time <i class="fa fa-caret-down"></i></th>
                <th>Uploaded By</th>
                <th>Uploaded File</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of gatewayFileAuditLogData?.data.tabledata">
                <td class="font-weight-semi-bold col-hover">
                    <a
                        routerLink="/gateway-management/file-audit-log-view/{{gatewayFileAuditLogData?.data.gw_id}}/{{gatewayFileAuditLogData?.data.gw_name}}/{{item.uuid}}">{{item.uploaded_filename}}</a>
                </td>
                <td>{{item.date}} | {{item.time}}</td>
                <td>{{item.processedby}}</td>
                <td> <span (click)="downloadFileAuditLogFile()">Download</span> | <a
                        routerLink="/gateway-management/file-audit-log-view/{{gatewayFileAuditLogData?.data.gw_id}}/{{gatewayFileAuditLogData?.data.gw_name}}/{{item.uuid}}">View</a>
                </td>
                <td>{{item.status == '1' ? 'Success' : 'Failed'}}</td>
            </tr>
        </tbody>
    </table>
</div>