/*gateway creation css*/
.lcr-exclusion .checkmark {
    top: 2px;
    left: 0px;
}
.lcr-exclusion {
    padding-left:90px;
    margin-top:30px;

}

.ng-select.custom ::ng-deep .ng-select-container  {            
    background-color: #e9edf4;
    color: #3e4b5b;
}
 
.ng-select.custom ::ng-deep:focus {         
    outline: none;   
    border: none !important;
}
 
.ng-select.custom ::ng-deep {
    outline: none !important;            
    border: none !important;
}
 
.ng-select.custom ::ng-deep .ng-option  {            
    background-color: #e9edf4;
    color: #3e4b5b;
}
.ng-select.custom ::ng-deep .ng-option:hover  {            
    background-color: #009aff;
}
