<div class="row btm-border headings-div">
    <div class="col-8">
        <label class="main-heading">
            <a routerLink="/route-management">ROUTE MANAGEMENT /</a></label>
            <span> <a routerLink="/route-management/pool-route"> POOL ROUTE /</a> Route name</span>
    </div>
</div>
<div class="row btm-border second-row-pr">
    <div class="col-5 mt-2">
        <label class="mr-2"><b>Total Countries</b></label>
        <span class="border-right">&nbsp;</span>
        <span class="ml-3 badge badge-dark"><b>435</b></span>
    </div>
    <div class="col-3 text-right lcr-value">
        <span>Fallback - <b>LCR (Direct)</b></span>
    </div>

    <div class="col-4 text-right ">
        <input type="search" class="form-control" placeholder="&#xf002; Search by Country , Operator" />
    </div>

</div>
<div class="main-container table-responsive">
    <table class="table table-borderless erp-list-table row-hover-effect">
        <thead>
            <tr>
                <th>Continent</th>
                <th>Country</th>
                <th>Operator</th>
                <th>MCC + MNC</th>
                <th class="font-weight-semi-bold">DISTRIBUTED GATEWAYS</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="font-weight-semi-bold">Asia</td>
                <td class="font-weight-semi-bold">Australia</td>
                <td>Australian Telecom</td>
                <td>345-345</td>
                <td>
                    <div class="row-details">
                        <label class="mt-1">Nexmo</label><span class="badge badge-white">80%</span>
                        <label class="mt-1">Message Bird</label><span class="badge badge-white">50%</span>
                        <label class="mt-1">Mocean</label><span class="badge badge-white">50%</span>
                    </div>
                </td>
              
            </tr>
            <tr>
                <td class="font-weight-semi-bold">Asia</td>
                <td class="font-weight-semi-bold">Australia</td>
                <td>Australian Telecom</td>
                <td>345-345</td>
                <td><div class="row-details">
                    <label class="mt-1">Nexmo</label><span class="badge badge-white">80%</span>
                    <label class="mt-1">Message Bird</label><span class="badge badge-white">50%</span>
                    <label class="mt-1">Mocean</label><span class="badge badge-white">50%</span>
                    <label class="mt-1">Mocean</label><span class="badge badge-white">50%</span>
                </div></td>
               
            </tr>
            <tr>
                <td class="font-weight-semi-bold">Asia</td>
                <td class="font-weight-semi-bold">Australia</td>
                <td>Australian Telecom</td>
                <td>345-345</td>
                <td><div class="row-details">
                    <label class="mt-1">Nexmo</label><span class="badge badge-white">80%</span>
                    <label class="mt-1">Message Bird</label><span class="badge badge-white">50%</span>
                    <label class="mt-1">Mocean</label><span class="badge badge-white">50%</span>
                </div></td>
              
            </tr>
        </tbody>
    </table>
</div>
<div class="main-container table-responsive p-4">
    <label class="table-heading">ROW (Defined)</label>
    <div class="row-details ">
        <label class="mt-1">Nexmo</label><span class="badge badge-white">80%</span>
        <label class="mt-1">Message Bird</label><span class="badge badge-white">50%</span>
    </div>
</div>
