<div class="row btm-border headings-div">
    <div class="col-12">
        <label class="main-heading">
        <a routerLink="/route-management">ROUTE MANAGEMENT /</a></label>
        <span> <a routerLink="/route-management/pool-route"> POOL ROUTE /</a> </span><span> CREATE ROUTE </span>
    </div>
</div>
<div class="row btm-border second-row-det">
    <div class="col-6">
        <div class="w-50">
            <input type="search" class="form-control" id="" placeholder="Enter Route name here" />
        </div>
    </div>
    <div class="col-3 text-right">
        <select class="dropdown-select w-100">
            <option value="" default>Select Route Type</option>
            <option value="">option1</option>
            <option value="">option2</option>
            <option value="">option3</option>
        </select>
    </div>
    <div class="col-3 text-right">
        <select class="dropdown-select w-100">
            <option value="" default>Fallback - LCR (Direct)</option>
            <option value="">option1</option>
            <option value="">option2</option>
            <option value="">option3</option>
        </select>
    </div>
</div>
<div class="main-container p-4">
    <app-route-stepper-form></app-route-stepper-form>
</div>
<div class="row btm-border second-row-det">
    <div class="col-7">
        <div class="row mt-1">
            <div class="col-5">
                <label class="mr-2"><b>Total Continents</b></label>
                <span class="border-right">&nbsp;</span>
                <span class="ml-3 badge badge-dark"><b>435</b></span>
            </div>
            <div class="col-7">
                <label class="mr-2"><b>Total Countries</b></label>
                <span class="border-right">&nbsp;</span>
                <span class="ml-3 badge badge-dark"><b>435</b></span>
            </div>
        </div>
    </div>

    <div class="col-5 text-right">

        <input type="search" class="form-control" id="" placeholder="&#xf002; Search by Continent, Country, Operator, Gateway" />

    </div>

</div>
<div class="main-container table-responsive">
    <table class="table table-borderless erp-list-table row-hover-effect">
        <thead>
            <tr>
                <th>Continent</th>
                <th>Country</th>
                <th>Operator</th>
                <th>MCC + MNC</th>
                <th>Distributed Gateway and Ratio</th>
                <th>&nbsp;</th>
                <th>&nbsp;</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="font-weight-semi-bold">Asia</td>
                <td class="font-weight-semi-bold">Australia</td>
                <td>Australian Telecom</td>
                <td>345-345</td>
                <td>
                    <span class="badge badge-success mx-1">G1- 20%</span>
                    <span class="badge badge-success">G1- 20%</span>
                </td>
                <td>
                    <img src="assets/icons/edit-icon.svg" alt="edit"/>
                </td>
                <td> <img src="assets/icons/delete-icon.svg" class="img-fluid" alt="delete icon" /></td>
            </tr>
            <tr>
                <td class="font-weight-semi-bold">Asia</td>
                <td class="font-weight-semi-bold">Australia</td>
                <td>Australian Telecom</td>
                <td>345-345</td>
                <td><span class="badge badge-success">G1- 40%</span></td>
                <td>
                    <img src="assets/icons/edit-icon.svg" alt="edit"/>
                </td>
                <td> <img src="assets/icons/delete-icon.svg" class="img-fluid" alt="delete icon" /></td>
            </tr>
            <tr>
                <td class="font-weight-semi-bold">Asia</td>
                <td class="font-weight-semi-bold">Australia</td>
                <td>Australian Telecom</td>
                <td>345-345</td>
                <td><span class="badge badge-success">G1- 40%</span></td>
                <td>
                    <img src="assets/icons/edit-icon.svg" alt="edit"/>
                </td>
                <td> <img src="assets/icons/delete-icon.svg" class="img-fluid" alt="delete icon" /></td>
            </tr>
        </tbody>
    </table>
</div>