<div class="row btm-border headings-div">
    <div class="col-12">
        <label class="main-heading">
            <a routerLink="/route-management">ROUTE MANAGEMENT /</a>
        </label>
        <span>
            <a routerLink="/route-management/pool-route"> POOL ROUTE /</a>
        </span>
        <span> CREATE ROUTE </span>
    </div>
</div>
<div *ngIf="authService.authorizationState?.route_mgmt.poolroute_create_enabled 
    && authService.authorizationState?.route_mgmt.poolroute_clone_enabled">
    <form [formGroup]="parentFormGroup">
        <div class="row btm-border second-row-det">
            <div class="col-6">
                <div class="w-50">
                    <input type="text" [minlength]="routeNameMin" [maxlength]="routeNameMax" class="form-control"
                        placeholder="Enter Route name here" formControlName="route_name" />
                    <span class="text-danger pl-1 f-12" *ngIf="!parentFormGroup.get('route_name').valid && submitted">
                        Route Name is invalid
                    </span>
                    <!-- <span class="text-danger pl-1 f-12" *ngIf="parentFormGroup.get('route_name').hasError('required') && submitted">
                    Gateway Type is required
                </span> -->
                </div>
            </div>
            <div class="col-3 text-right">
                <select class="dropdown-select w-100" formControlName="gw_type" (change)="loadGatewaysList('onChange')">
                    <option value="" disabled>Select Route Type</option>
                    <option value="direct" default>Direct</option>
                    <option value="premium">Premium</option>
                    <option value="wholesale">Wholesale</option>
                </select>
                <span class="text-danger pl-1 f-12"
                    *ngIf="parentFormGroup.get('gw_type').hasError('required') && submitted">
                    Gateway Type is required
                </span>
            </div>
            <div class="col-3 text-right lcr-value" *ngIf="parentFormGroup.get('gw_type').value !== ''">
                <span>Fallback - <b>LCR ({{parentFormGroup.get('gw_type').value}})</b></span>
            </div>
        </div>
        <!-- <pre> {{parentFormGroup.value | json}}</pre> -->
        <div class="main-container p-4">
            <app-route-stepper-form [parentFormGroup]="parentFormGroup" [gatewaysListObs]="gatewaysList.asObservable()"
                [previewEditObs]="previewEditClick.asObservable()" (isSubmitted)="submitState()"
                (passAddNewRouteEventToParent)="listenAddedNewRouteChildEvent()"
                [clonedDataObs]="clonedData.asObservable()" [childDataResetObs]="childDataReset.asObservable()"
                [previewDeleteClickObs]="previewDeleteClick.asObservable()">
            </app-route-stepper-form>
        </div>
    </form>
    <div class="row btm-border second-row-det" *ngIf="poolRouteService.previewList.length">
        <div class="col-7">
            <div class="row mt-1">
                <div class="col-5">
                    <label class="mr-2"><b>Total Continents</b></label>
                    <span class="border-right">&nbsp;</span>
                    <span class="ml-3 badge badge-dark"><b>{{continentsCount}}</b></span>
                </div>
                <div class="col-7">
                    <label class="mr-2"><b>Total Countries</b></label>
                    <span class="border-right">&nbsp;</span>
                    <span class="ml-3 badge badge-dark"><b>{{countryCount}}</b></span>
                </div>
            </div>
        </div>

        <div class="col-5 text-right">

            <input type="search" class="form-control" [(ngModel)]="searchText"
                placeholder="&#xf002; Search by Continent, Country, Operator" />

        </div>

    </div>
    <div class="main-container table-responsive" *ngIf="poolRouteService.previewList.length">
        <table class="table table-borderless erp-list-table row-hover-effect">
            <thead>
                <tr>
                    <th>Continent</th>
                    <th>Country</th>
                    <th>Operator</th>
                    <th>MCC + MNC</th>
                    <th>Distributed Gateway and Ratio</th>
                    <th>&nbsp;</th>
                    <th>&nbsp;</th>
                </tr>
            </thead>
            <tbody>
                <tr #tableRow *ngFor="let route of poolRouteService?.previewList
            | filter: { continent: searchText,  
                country: searchText,
                operator: searchText, 
                mcc: searchText,
                mnc: searchText }; let i = index">
                    <td class="font-weight-semi-bold">{{route.continent}}</td>
                    <td class="font-weight-semi-bold">{{route.country}}</td>
                    <td>{{route.operator}}</td>
                    <td>{{route.mcc}} + {{route.mnc}}</td>
                    <td>
                        <span class="badge badge-success mx-1"
                            *ngFor="let Gate of route.ratios">{{Gate.gw_id}}-{{Gate.ratio_in_percentage}}%</span>
                    </td>
                    <td>
                        <img class="cursor-pointer" src="assets/icons/edit-icon.svg" alt="edit"
                            (click)="onEditPreview(route, i)" />
                    </td>
                    <td> <img src="assets/icons/delete-icon.svg" class="img-fluid cursor-pointer" alt="delete icon"
                            (click)="onDeleteRoute(i)" /></td>
                </tr>
                <tr *ngIf="!poolRouteService?.previewList.length  
            || (poolRouteService?.previewList  | filter: { continent: searchText,  
                country: searchText,
                operator: searchText, 
                mcc: searchText,
                mnc: searchText }).length === 0">
                    <td colspan="6" style="text-align: center;">No Records Found</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="pt-3 center-block h-100" *ngIf="!authService.authorizationState?.route_mgmt.poolroute_create_enabled && 
!authService.authorizationState?.route_mgmt.poolroute_clone_enabled">
    <div class="d-block">
        <img style="width: 150px;" src="assets/icons/icon-lock.png" />
        <span class="w-100 d-block">
            Your are not <b>Authorized</b> to access this page
        </span>
    </div>
</div>