<div class="row btm-border headings-div">
    <div class="col-12">
        <label class="main-heading">  <a routerLink="/gateway-management">GATEWAY MANAGEMENT / </a></label>
        <span> <a routerLink="/gateway-management/gateway-details"> NX - NEXMO /</a> <a routerLink="/gateway-management/country-list"> COUNTRY LIST</a>/ VIEWLOG</span>
    </div>
</div>
<div class="row btm-border second-row-det">
    <div class="col-5">
        <div class="row mb-2">
            <div class="col-3 border-right"><label>Country</label></div>
            <div class="col-9"><span><b>Australia</b></span></div>
        </div>
        <div class="row">
            <div class="col-3 border-right"><label>Operator</label></div>
            <div class="col-9"><span><b>Australia Telecom</b></span></div>
        </div>
    </div>
    <div class="col-3 text-right form-group mt-2">
        <app-calendar-picker></app-calendar-picker>
    </div>
    <div class="col-4 mt-2">
        <div class="form-group">
            <input type="search" class="form-control" id="" placeholder="&#xf002; Search by Date or user" />
        </div>
    </div>
</div>
<div class="main-container table-responsive">
    <table class="table table-borderless erp-list-table">
        <thead>
            <tr>
                <th>Rates (€)</th>
                <th>Creation Date and Time<i class="fa fa-caret-down"></i></th>
                <th>Updated By</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="font-weight-semi-bold">0.0050</td>
                <td>28/10/2019 | 23:25:00</td>
                <td class="font-weight-semi-bold">Sanal C</td>
            </tr>
            <tr>
                <td class="font-weight-semi-bold">0.0050</td>
                <td>28/10/2019 | 23:25:00</td>
                <td class="font-weight-semi-bold">Sanal C</td>
            </tr>
            <tr>
                <td class="font-weight-semi-bold">0.0050</td>
                <td>28/10/2019 | 23:25:00</td>
                <td class="font-weight-semi-bold">Sanal C</td>
            </tr>
        </tbody>
    </table>
</div>
