<div class="row btm-border headings-div">
    <div class="col-12">
        <label class="main-heading"> <a routerLink="/gateway-management">GATEWAY MANAGEMENT / </a></label>
        <span>
            <a routerLink="/gateway-management/gateway-details/{{GtCountryListViewLogData?.data.gw_id}}">
                {{GtCountryListViewLogData?.data.gw_id}} -
                {{GtCountryListViewLogData?.data.gw_name}}
                /</a>
            <a
                routerLink="/gateway-management/country-list/{{GtCountryListViewLogData?.data.gw_id}}/{{GtCountryListViewLogData?.data.gw_name}}">
                COUNTRY LIST
            </a>/ VIEWLOG
        </span>
    </div>
</div>
<div class="row btm-border second-row-det">
    <div class="col-5">
        <div class="row mb-2">
            <div class="col-3 border-right"><label>Country</label></div>
            <div class="col-9"><span><b>{{GtCountryListViewLogData?.data.country}}</b></span></div>
        </div>
        <div class="row">
            <div class="col-3 border-right"><label>Operator</label></div>
            <div class="col-9"><span><b>{{GtCountryListViewLogData?.data.operator}}</b></span></div>
        </div>
    </div>
    <div class="col-3 text-right form-group mt-2">
        <app-calendar-picker [params]="params" (selectDate)="getDateSelection($event)"></app-calendar-picker>
    </div>
    <div class="col-4 mt-2">
        <div class="form-group">
            <input type="search" class="form-control" placeholder="&#xf002; Search by Date or user"
                [(ngModel)]="searchvalue" />
        </div>
    </div>
</div>
<div class="main-container table-responsive">
    <table class="table table-borderless erp-list-table mb-0">
        <thead>
            <tr>
                <th>Rates (€)</th>
                <th>Creation Date and Time<i class="fa fa-caret-down"></i></th>
                <th>Updated By</th>
            </tr>
        </thead>
        <tbody>
            <tr
                *ngFor="let item of GtCountryListViewLogData?.data.tabledata | filter: { date: searchvalue, updatedby: searchvalue }">
                <td class="font-weight-semi-bold">{{item.rates}}</td>
                <td>{{item.date}} | {{item.hours}}</td>
                <td class="font-weight-semi-bold">{{item.updatedby}}</td>
            </tr>
            <tr *ngIf="GtCountryListViewLogData?.data.tabledata.length == 0">
                <td colspan="3" class="text-center py-3 main-heading">No data Found</td>
            </tr>
        </tbody>
    </table>
</div>