<div class="row btm-border headings-div">
    <div class="col-12">
        <label class="main-heading">
            <a routerLink="/route-management">ROUTE MANAGEMENT /</a></label>
        <span> LEAST COST ROUTING / </span>
    </div>

</div>
<div class="row second-row-det">
    <div class="col-7">
        <div class="row">
            <div class="col-12">
                <label class="mr-2"><b>Total Country</b></label>
                <span class="border-right">&nbsp;</span>
                <span class="ml-3 badge badge-dark"><b>435</b></span>
            </div>
        </div>
        <div class="row gateway-count">
            <div class="col-3">
                <label>Direct <span class="badge badge-dark"><b>290</b></span>
                </label>
            </div>
            <div class="col-3 gateway-detail">
                <label>Premium <span class="badge badge-dark"><b>290</b></span></label>
            </div>
            <div class="col-3 gateway-detail">
                <label>Wholesale <span class="badge badge-dark"><b>290</b></span></label>
            </div>
            <div class="col-3 gateway-detail">
                <label>Non LCR <span class="badge badge-dark"><b>290</b></span></label>
            </div>
        </div>

    </div>
    <div class="col-5">
        <div class="row mt-1">
            <div class="col-4">
                <select class="dropdown-select w-100 ">
                    <option value="" default>All Country</option>
                    <option value="" default>option1 </option>
                    <option value="" default>option2 </option>
                </select>
            </div>
            <div class="form-group col-8">
                <input type="search" class="form-control" placeholder="&#xf002; Search by Country, Gateway" />
            </div>
        </div>
    </div>

</div>
<div class="main-container table-responsive">
    <table class="table table-borderless erp-list-table row-hover-effect">
        <thead>
            <tr>
                <th>Country</th>
                <th>MCC</th>
                <th>Direct Gateway</th>
                <th>Premium Gateway</th>
                <th>Wholesale Gateway</th>
                <th>Non-LCR Gateway</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Australia</td>
                <td>345</td>
                <td>
                    <button class="badge badge-success gt-badges" (click)="open(gtModal)">G1</button>
                    <button class="badge badge-success gt-badges" (click)="open(gtModal)">G2</button>
                    <span class="badge badge-danger">G3</span>
                    <span class="badge badge-success">G4</span>
                    <span class="badge badge-danger">G5</span>
                </td>
                <td><span class="badge badge-success">G1</span>
                    <span class="badge badge-success">G2</span>
                    <span class="badge badge-danger">G3</span>
                    <span class="badge badge-success">G4</span>
                    <span class="badge badge-danger">G5</span>
                </td>
                <td><span class="badge badge-success">G1</span>
                    <span class="badge badge-success">G2</span>
                    <span class="badge badge-danger">G3</span>
                    <span class="badge badge-success">G4</span>
                    <span class="badge badge-danger">G5</span>
                </td>
                <td><span class="badge badge-success">G1</span>
                    <span class="badge badge-success">G2</span>
                    <span class="badge badge-danger">G3</span>
                    <span class="badge badge-success">G4</span>
                    <span class="badge badge-danger">G5</span>
                </td>
            </tr>
            <tr>
                <td>Australia</td>
                <td>345</td>
                <td>
                    <span class="badge badge-success">G1</span>
                    <span class="badge badge-success">G2</span>

                </td>
                <td>
                    <span class="badge badge-danger">G3</span>
                    <span class="badge badge-success">G4</span>
                    <span class="badge badge-danger">G5</span>
                </td>
                <td>
                    <span class="badge badge-danger">G3</span>
                    <span class="badge badge-success">G4</span>
                    <span class="badge badge-danger">G5</span>
                </td>
                <td>
                    <span class="badge badge-success">G1</span>
                </td>
            </tr>
            <tr>
                <td>Australia</td>
                <td>345</td>
                <td>
                    <span class="badge badge-danger">G3</span>
                    <span class="badge badge-success">G4</span>
                    <span class="badge badge-danger">G5</span>
                </td>
                <td>
                    <span class="badge badge-success">G1</span>
                    <span class="badge badge-success">G2</span>
                </td>
                <td>
                    <span class="badge badge-danger">G3</span>
                    <span class="badge badge-success">G4</span>
                    <span class="badge badge-danger">G5</span>
                </td>
                <td>
                    <span class="badge badge-success">G1</span>
                    <span class="badge badge-success">G2</span>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<!-- modal pop-up -->
<ng-template #gtModal let-c="close" let-d="dismiss">
    <button type="button" class="offset-11 col-1 modal-close-btn" aria-label="Close" (click)="d('Cross click')">&times;</button>
    <div class="modal-body gt-det-modal">
        <form action="">

            <div class="row">
                <div class="col-4">
                    <label class="mr-2"><b>Country</b></label>
                    <span class="border-right">&nbsp;</span>
                    <span class="ml-3"><b>Australia</b></span>
                </div>
                <div class="col-4">
                    <label class="mr-2"><b>MCC</b></label>
                    <span class="border-right">&nbsp;</span>
                    <span class="ml-3"><b>8900</b></span>
                </div>
            </div>
            <div class="row">
                <div class="card lcr-popup-card">
                    <div class="card-header">Direct Gateway</div>
                    <div class="card-body">
                        <div class="row mt-2">
                            <label class="col-9">NX123- Nexmo</label>
                            <div class="form-group col-3">
                                <label class="toggle-switch">
                                    <input type="checkbox" class="switch-btn">
                                    <span class="slider round"></span>
                                </label>
                            </div>
                        </div>
                        <div class="row ">
                            <label class="col-9">MB345- Message Bird</label>
                            <div class="form-group col-3">
                                <label class="toggle-switch">
                                    <input type="checkbox" class="switch-btn">
                                    <span class="slider round"></span>
                                </label>
                            </div>
                        </div>
                        <div class="row">
                            <label class="col-9">TN4354- Tanla</label>
                            <div class="form-group col-3">
                                <label class="toggle-switch">
                                    <input type="checkbox" class="switch-btn">
                                    <span class="slider round"></span>
                                </label>
                            </div>
                        </div>
                        <div class="row">
                            <label class="col-9">NX123- Nexmo</label>
                            <div class="form-group col-3">
                                <label class="toggle-switch">
                                    <input type="checkbox" class="switch-btn">
                                    <span class="slider round"></span>
                                </label>
                            </div>
                        </div>
                        <div class="row ">
                            <label class="col-9">MB345-Message Bird</label>
                            <div class="form-group col-3">
                                <label class="toggle-switch">
                                    <input type="checkbox" class="switch-btn">
                                    <span class="slider round"></span>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card lcr-popup-card">
                    <div class="card-header">Premium Gateway</div>
                    <div class="card-body">
                        <div class="row mt-2">
                            <label class="col-9">NX123- Nexmo</label>
                            <div class="form-group col-3">
                                <label class="toggle-switch">
                                    <input type="checkbox" class="switch-btn">
                                    <span class="slider round"></span>
                                </label>
                            </div>
                        </div>
                        <div class="row ">
                            <label class="col-9">MB345- Message Bird</label>
                            <div class="form-group col-3">
                                <label class="toggle-switch">
                                    <input type="checkbox" class="switch-btn">
                                    <span class="slider round"></span>
                                </label>
                            </div>
                        </div>
                        <div class="row">
                            <label class="col-9">TN4354- Tanla</label>
                            <div class="form-group col-3">
                                <label class="toggle-switch">
                                    <input type="checkbox" class="switch-btn">
                                    <span class="slider round"></span>
                                </label>
                            </div>
                        </div>
                        <div class="row">
                            <label class="col-9">NX123- Nexmo</label>
                            <div class="form-group col-3">
                                <label class="toggle-switch">
                                    <input type="checkbox" class="switch-btn">
                                    <span class="slider round"></span>
                                </label>
                            </div>
                        </div>
                        <div class="row ">
                            <label class="col-9">MB345-Message Bird</label>
                            <div class="form-group col-3">
                                <label class="toggle-switch">
                                    <input type="checkbox" class="switch-btn">
                                    <span class="slider round"></span>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card lcr-popup-card">
                    <div class="card-header">Wholesale Gateway</div>
                    <div class="card-body">
                        <div class="row mt-2">
                            <label class="col-9">NX123- Nexmo</label>
                            <div class="form-group col-3">
                                <label class="toggle-switch">
                                    <input type="checkbox" class="switch-btn">
                                    <span class="slider round"></span>
                                </label>
                            </div>
                        </div>
                        <div class="row ">
                            <label class="col-9">MB345- Message Bird</label>
                            <div class="form-group col-3">
                                <label class="toggle-switch">
                                    <input type="checkbox" class="switch-btn">
                                    <span class="slider round"></span>
                                </label>
                            </div>
                        </div>
                        <div class="row">
                            <label class="col-9">TN4354- Tanla</label>
                            <div class="form-group col-3">
                                <label class="toggle-switch">
                                    <input type="checkbox" class="switch-btn">
                                    <span class="slider round"></span>
                                </label>
                            </div>
                        </div>
                        <div class="row">
                            <label class="col-9">NX123- Nexmo</label>
                            <div class="form-group col-3">
                                <label class="toggle-switch">
                                    <input type="checkbox" class="switch-btn">
                                    <span class="slider round"></span>
                                </label>
                            </div>
                        </div>
                        <div class="row ">
                            <label class="col-9">MB345-Message Bird</label>
                            <div class="form-group col-3">
                                <label class="toggle-switch">
                                    <input type="checkbox" class="switch-btn">
                                    <span class="slider round"></span>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 text-center mt-3">
                    <input type="reset" class="btn btn-basic mr-3" value="Cancel">
                    <input type="submit" class="btn erp-intl-btn" value="Save">
                </div>
            </div>
        </form>
    </div>

</ng-template>