<div class="row btm-border headings-div">
    <div class="col-12">
        <label class="main-heading">
            <a routerLink="/customer-management">CUSTOMER MANAGEMENT /</a></label>
        <span><a routerLink="/customer-management/customer-management-edit"> 70000 100000011 /</a> AUDIT</span>
    </div>
</div>
<div class="row btm-border second-row-det">
    <div class="col-8">
        <div class="row">
            <div class="col-12">
                <label class="mr-2"><b>ESME Addr.</b></label>
                <span class="border-right">&nbsp;</span>
                <span class="ml-3 badge badge-dark esme-addr"><b>70000 100000011</b></span>
            </div>
        </div>
        <div class="row gateway-count">
            <div class="col-3">
                <label>RateCard Type <span class="badge badge-dark"><b>Group</b></span>
                </label>
            </div>
            <div class="col-4 gateway-detail">
                <label>Bill Plan Name <span class="badge badge-dark"><b>Billplan name</b></span></label>
            </div>
            <div class="col-4 gateway-detail">
                <label>Billing Type <span class="badge badge-dark"><b>Postpaid</b></span></label>
            </div>
        </div>
    </div>

    <div class="col-3 text-right mt-2">
        <div class="form-group">
            <input type="search" class="form-control" placeholder="&#xf002; Search By Country, Operator" />
        </div>
    </div>
    <div class="col-1 mt-2 text-right mt-1">
        <a class="icon-btn" href="#"><i aria-hidden="true" class="fa fa-download"></i></a>
    </div>

</div>
<div class="main-container table-responsive">
    <table class="table table-borderless erp-list-table">
        <thead>
            <tr>
                <th>Bill Plan Name</th>
                <th>RateCard Type</th>
                <th>RateCard Name</th>
                <th>Routing</th>
                <th>Last Modified Date & Time<i class="fa fa-caret-down"></i></th>
                <th>Modified By</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="font-weight-semi-bold">Sanal C</td>
                <td>Flat/ Fixed</td>
                <td>Test Name123</td>
                <td><span class="font-weight-semi-bold">LCR</span> - Direct</td>
                <td>28/10/2019 | 23:25:00</td>
                <td>Sanal C</td>
            </tr>
            <tr>
                <td class="font-weight-semi-bold">Sanal C</td>
                <td>Flat/ Fixed</td>
                <td>Test Name123</td>
                <td><span class="font-weight-semi-bold">LCR</span> - Direct</td>
                <td>28/10/2019 | 23:25:00</td>
                <td>Sanal C</td>
            </tr>
            <tr>
                <td class="font-weight-semi-bold">Sanal C</td>
                <td>Flat/ Fixed</td>
                <td>Test Name123</td>
                <td><span class="font-weight-semi-bold">LCR</span> - Direct</td>
                <td>28/10/2019 | 23:25:00</td>
                <td>Sanal C</td>
            </tr>
        </tbody>
    </table>
</div>
