<div class="row btm-border headings-div">
    <div class="col-12">
        <label class="main-heading">BILL PLAN MANAGEMENT</label>
    </div>

</div>
<section class="rm-dashboard">
    <div class="row">
        <div class="col-4">
            <a routerLink="/billplan-management/home">
                <div class="card rm-card">
                    <div class="card-header">BILLPLAN</div>
                    <div class="card-body">
                        <div class="row mb-2">
                            <label class="col-9">PREPAID</label>
                            <span class="col-2 rm-badge">250</span>
                        </div>
                        <div class="row mb-2">
                            <label class="col-9">POSTPAID</label>
                            <span class="col-2 rm-badge">250</span>
                        </div>
                    </div>
                </div>
            </a>
        </div>

    </div>
    <div class="row mt-4">
    <label class="main-heading col-12 mt-3 mb-5">RATECARD INFO</label>
        <div class="col-4">
            <div class="card rm-card">
                <div class="card-header">POSTPAID</div>
                <div class="card-body">
                    <div class="row mb-2">
                        <label class="col-9">GROUP</label>
                        <span class="col-2 rm-badge">250</span>
                    </div>
                    <div class="row mb-2">
                        <label class="col-9">COUNTRY</label>
                        <span class="col-2 rm-badge">250</span>
                    </div>
                    <div class="row mb-2">
                        <label class="col-9">FLAT / FIXED</label>
                        <span class="col-2 rm-badge">250</span>
                    </div>
                    <div class="row mb-2">
                        <label class="col-9">COUNTRY + OPERATOR</label>
                        <span class="col-2 rm-badge">250</span>
                    </div>
                    <div class="row mb-2">
                        <label class="col-9">SLAB</label>
                        <span class="col-2 rm-badge">250</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card rm-card">
                <div class="card-header">PREPAID</div>
                <div class="card-body">
                    <div class="row mb-2">
                        <label class="col-9">COUNTRY</label>
                        <span class="col-2 rm-badge">250</span>
                    </div>
                    <div class="row mb-2">
                        <label class="col-9">COUNTRY + OPERATOR</label>
                        <span class="col-2 rm-badge">250</span>
                    </div>
                    <div class="row mb-2">
                        <label class="col-9">FLAT / FIXED</label>
                        <span class="col-2 rm-badge">250</span>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
