<div class="row btm-border headings-div">
    <div class="col-12">
        <label class="main-heading"> <a routerLink="/gateway-management">GATEWAY MANAGEMENT / </a></label>
        <span> <a routerLink="/gateway-management/gateway-details/{{gatewayFileAuditFileLogData?.data.gw_id}}">
                {{gatewayFileAuditFileLogData?.data.gw_id}} -
                {{gatewayFileAuditFileLogData?.data.gw_name}}</a><a
                routerLink="/gateway-management/file-audit-log/{{gatewayFileAuditFileLogData?.data.gw_id}}/{{gatewayFileAuditFileLogData?.data.gw_name}}">
                /
                FILE AUDIT LOG</a> / File Name</span>
    </div>
</div>
<div class="row btm-border second-row-det">
    <div class="col-6">
        <div class="row mt-1">
            <div class="col-6">
                <label class="mr-2"><b>Total Countries</b></label>
                <span class="border-right">&nbsp;</span>
                <span class="ml-3 badge badge-dark"><b>{{gatewayFileAuditFileLogData?.data.totalcountry}}</b></span>
            </div>
            <div class="col-6">
                <label class="mr-2"><b>Total Operators</b></label>
                <span class="border-right">&nbsp;</span>
                <span class="ml-3 badge badge-dark"><b>{{gatewayFileAuditFileLogData?.data.totaloperator}}</b></span>
            </div>
        </div>
    </div>
    <div class="col-3">
        <select #countryType class="dropdown-select w-100"
            (change)="selectCountryOperator(countryType.value, operatorType.value)">
            <option *ngFor="let item of GtFileAuditFileCountryData?.data" value="{{item.mcc}}">{{item.country}}</option>
        </select>
    </div>
    <div class="col-3 text-right">
        <select #operatorType class="dropdown-select w-100"
            (change)="selectCountryOperator(countryType.value, operatorType.value)">
            <option *ngFor="let item of GtFileAuditFileOperatorData?.data" value="{{item.mnc}}">{{item.operator}}
            </option>
        </select>
    </div>

</div>
<div class="main-container table-responsive audit-log-list">
    <table class="table table-borderless erp-list-table audit-log-list-table mb-0">
        <thead>
            <tr>
                <th class="col-hover">Country</th>
                <th>Operators</th>
                <th>MCC</th>
                <th>MNC</th>
                <th>Old Rate (€)</th>
                <th>New Rate (€)</th>
                <th>Change Type</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of gatewayFileAuditFileLogData?.data.tabledata">
                <td class="font-weight-semi-bold col-hover">{{item.contry}}</td>
                <td>{{item.operator}}</td>
                <td>{{item.mcc}}</td>
                <td>{{item.mnc}}</td>
                <td>{{item.oldrate ? item.oldrate : '-'}}</td>
                <td>{{item.currentrate ? item.currentrate : '-'}}</td>
                <td>{{item.changetype ? item.changetype : '-'}}</td>
            </tr>
            <tr *ngIf="gatewayFileAuditFileLogData?.data.tabledata.length == 0">
                <td colspan="7" class="text-center py-3 main-heading">No data Found</td>
            </tr>
        </tbody>
    </table>
</div>