<div *ngIf="CmAuthControls.cust_existing_customers_enabled">
    <div class="row btm-border second-row-pr">
        <div class="col-7 mt-2">
            <label class="mr-2"><b>Total ESME Addr.</b></label>
            <span class="border-right">&nbsp;</span>
            <span class="ml-3 badge badge-dark"><b>{{existingUserData?.totalexistingesmes}}</b></span>
        </div>

        <div class="col-5 text-right">
            <input type="search" class="form-control" placeholder="&#xf002; Search by ESME Addr., Username"
                name="searchvalue" [(ngModel)]="searchvalue" />
        </div>
    </div>
    <div class="main-container table-responsive">
        <table class="table table-borderless erp-list-table row-hover-effect">
            <thead>
                <tr>
                    <th>ESME Address</th>
                    <th>User Name</th>
                    <th>Org. Name</th>
                    <th>BillPlan Type</th>
                    <th>Sales Person Name</th>
                    <th>Ratecard Type</th>
                    <th>Ratecard Name</th>
                    <th>Routing</th>
                    <th>&nbsp;</th>
                </tr>
            </thead>
            <tbody>
                <tr
                    *ngFor="let existinguser of existingUsersList | filter: { esmeaddr: searchvalue, username: searchvalue } ">
                    <td class="font-weight-semi-bold">
                        <a [ngClass]="{'disabled-func': CmAuthControls.cust_existing_customer_detailed_view_enabled ? null : true }"
                            [routerLink]="CmAuthControls.cust_existing_customer_detailed_view_enabled ? 
                            ['/customer-management/customer-management-view',existinguser.esmeaddr]: []">
                            {{existinguser.esmeaddr}}
                        </a>
                    </td>
                    <td>{{existinguser.username}}</td>
                    <td>{{existinguser.orgname}}</td>
                    <td>{{existinguser.billingtype}}</td>
                    <td>{{existinguser.salespersonname}}</td>
                    <td>{{existinguser.ratecardtype}}</td>
                    <td>{{existinguser.ratecardname}}</td>
                    <td><span class="font-weight-bold">{{existinguser.routingtype | uppercase}}</span> -
                        {{existinguser.intlaccttype}}</td>
                    <td><a [routerLink]="['/customer-management/customer-management-edit', existinguser.esmeaddr, 'existing']"><img
                                src="assets/icons/edit-icon.svg" alt="edit" /></a></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="pt-3 center-block h-100" *ngIf="!CmAuthControls.cust_existing_customers_enabled">
    <div class="d-block">
        <img style="width: 150px;" src="assets/icons/icon-lock.png" alt="" />
        <span class="w-100 d-block">
            Your are not <b>Authorized</b> to access this page
        </span>
    </div>
</div>