<div class="row btm-border headings-div">
  <div class="col-8">
    <label class="main-heading">
      <a routerLink="/billplan-management">BILLPLAN MANAGEMENT /</a></label>
    <span>
      <a routerLink="/billplan-management/home"> BILLPLAN</a>
    </span>
  </div>
  <div class="col-4 text-right">
    <button class="btn erp-intl-btn" (click)="open(createBillplan)">Create Bill Plan</button>
  </div>
</div>
<div class="row btm-border second-row-pr">
  <div class="col-8 mt-2">
    <label class="mr-2"><b>Total Bill</b></label>
    <span class="border-right">&nbsp;</span>
    <span class="ml-3 badge badge-dark"><b>{{billplanTbaleListApiResponse?.data.totalbillplan}}</b></span>
  </div>

  <div class="col-3 text-right">
    <input type="search" class="form-control" placeholder="&#xf002; Search by BillPlan Name" name="searchvalue"
      [(ngModel)]="searchvalue" />
  </div>
  <div class="col-1">
    <button class="icon-btn" (click)="BillPlanListDownload()"><i aria-hidden="true" class="fa fa-download"></i></button>
  </div>
</div>
<div class="main-container table-responsive">
  <table class="table table-borderless erp-list-table row-hover-effect">
    <thead>
      <tr>
        <th (click)="sort('billplanname')">
          Bill Plan Name
          <i class="fa fa-caret-down"></i>
          <i *ngIf="sortingName === 'billplanname' && isDesc" class="fa fa-arrow-down sorticon m-1"></i>
          <i *ngIf="sortingName === 'billplanname' && !isDesc" class="fa fa-arrow-up sorticon m-1"></i>
        </th>
        <th (click)="sort('ratecardname')">
          Rate Card Name
          <i class="fa fa-caret-down"></i>
          <i *ngIf="sortingName === 'ratecardname' && isDesc" class="fa fa-arrow-down sorticon m-1"></i>
          <i *ngIf="sortingName === 'ratecardname' && !isDesc" class="fa fa-arrow-up sorticon m-1"></i>
        </th>
        <th (click)="sort('billingtype')">
          Billing type
          <i class="fa fa-caret-down"></i>
          <i *ngIf="sortingName === 'billingtype' && isDesc" class="fa fa-arrow-down sorticon m-1"></i>
          <i *ngIf="sortingName === 'billingtype' && !isDesc" class="fa fa-arrow-up sorticon m-1"></i>
        </th>
        <th>
          No. Of Accounts Tagged
        </th>
        <th>
          Billing Currency
        </th>
        <th>
          Created Date & Time
        </th>
        <th>
          Created By
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="
            let tableData of billplanTableListData
              | filter: { billplanname: searchvalue }
              | sort: sortingName:!isDesc
          ">
        <td class="font-weight-bold"> <a
            routerLink="/billplan-management-postpaid/{{tableData.id}}">{{tableData.billplanname}}</a></td>
        <td>{{tableData.ratecardname}}</td>
        <td>
          {{tableData.billingtype}}
        </td>
        <td class="text-center">{{tableData.noofesmetag}}</td>
        <td class="text-left" [innerHTML]="tableData.billingcurrency "> </td>
        <td>{{tableData.date}} | {{tableData.time}}</td>
        <td>{{tableData.createduser}}</td>
      </tr>
      <tr *ngIf="
          !billplanTableListData.length ||
          (billplanTableListData | filter: { billplanname: searchvalue })
            .length == 0
        ">
        <td colspan="5" style="text-align: center;">No Records Found</td>
      </tr>

    </tbody>
  </table>
</div>

<!-- modal pop-up -->
<ng-template #createBillplan let-c="close" let-d="dismiss">
  <button type="button" class="offset-11 col-1 modal-close-btn" aria-label="Close" (click)="closeCBP()">&times;</button>
  <div class="modal-body">
    <form class="my-form" [formGroup]="createBillPlanFormGroup"
      (ngSubmit)="onSubmitCreateBillPlan(createBillPlanFormGroup.value)">
      <!-- {{createBillPlanFormGroup.value | json}} -->
      <div class="w-100">
        <div class="row">
          <div class="col-6">
            <label>Bill Plan Name</label>
            <div class="route-edit-div">
              <input type="text" class="form-control" placeholder="Enter Billplan Name" formControlName="billplan_name"
                (blur)="nameCheck(createBillPlanFormGroup.get('billplan_name').value)" />
              <span class="text-danger pl-1 f-12"
                *ngIf="createBillPlanFormGroup.get('billplan_name').hasError('required') && isCreateValid">
                Bill Plan Name is required
              </span>
              <span class="text-danger pl-1 f-12"
                *ngIf="createBillPlanFormGroup.get('billplan_name').hasError('pattern') && isCreateValid">
                Bill Plan Name is not valid input
              </span>
              <span class="text-danger pl-1 f-12"
                *ngIf="createBillPlanFormGroup.get('billplan_name').dirty && isNameCheck">
                Bill Plan Name is already exists
              </span>
            </div>
          </div>
          <div class="col-6">
            <label>Currency</label>
            <select class="dropdown-select w-100" [(ngModel)]='currency_id' formControlName="currency_id">
              <option value="" disabled>Select BillPlan Currency</option>
              <option value="{{item.currency_id}}" *ngFor="let item of billPlanCurrencyData?.data"
                [innerHTML]="( item.currency_name ) + ' - ' + (item.currency_symbol)">
              </option>
            </select>
            <span class="text-danger pl-1 f-12"
              *ngIf="createBillPlanFormGroup.get('currency_id').hasError('required') && isCreateValid">
              Currency is required
            </span>
          </div>
        </div>
        <div class="row my-3">
          <div class="col-6">
            <label>Billing Type</label>
            <select class="dropdown-select w-100" [(ngModel)]="billingType" formControlName="billing_type">
              <option value="Postpaid" default>Postpaid</option>
              <!-- <option value="Prepaid">Prepaid</option> -->
            </select>
            <span class="text-danger pl-1 f-12"
              *ngIf="createBillPlanFormGroup.get('billing_type').hasError('required') && isCreateValid">
              Billing Type is required
            </span>
          </div>
          <div class="col-6">
            <label>Rate Card Type</label>
            <select class="dropdown-select w-100" formControlName="ratecard_type">
              <option value="" default disabled>Select Rate Card Type</option>
              <option *ngFor="let data of cardTypeObj[createBillPlanFormGroup.get('billing_type').value]"
                [value]="data.value">
                {{data.item}}
              </option>
            </select>
            <span class="text-danger pl-1 f-12"
              *ngIf="createBillPlanFormGroup.get('ratecard_type').hasError('required') && isCreateValid">
              Rate Card Type is required
            </span>
          </div>
        </div>
        <div class="col-12 text-center mt-5">
          <input type="button" class="btn btn-basic mr-3" (click)="closeCBP()" value="Cancel" />
          <input type="submit" class="btn erp-intl-btn" value="Save" />
        </div>
      </div>
    </form>
  </div>
</ng-template>