<div class="row btm-border headings-div first-row">
    <div class="col-12">
        <label class="main-heading pl-2"><a routerLink="/customer-management">CUSTOMER MANAGEMENT /</a></label>
        <span> {{esmeaddr}}</span>
    </div>

</div>
<div class="row second-row-det">
    <div class="col-5">
        <div class="row mb-2">
            <div class="col-5 border-right"><label>ESME Addr.</label></div>
            <div class="col-7"><span><b>{{esmeddrDetails?.data.esmeaddr}}</b></span></div>
        </div>
        <div class="row mb-2">
            <div class="col-5 border-right"><label>Client Name</label></div>
            <div class="col-7"><span><b>{{esmeddrDetails?.data.clientname}}</b></span></div>
        </div>
        <div class="row">
            <div class="col-5 border-right"><label>Customer Type</label></div>
            <div class="col-7"><span><b>{{esmeddrDetails?.data.customertype}}</b></span></div>
        </div>
        <div class="row">
            <div class="col-5 border-right"><label>Services</label></div>
            <div class="col-7"><span>
                    <a class="erp-intl-modal-link" (click)="open(assignedServices)">Assigned Services</a>
                </span></div>
        </div>
    </div>
    <div class="col-7 gateway-description text-right">
       <div class="row mb-2 float-right">
           <div class="border-right ">
                <label>Billing Contact Name</label>
                <span class="badge badge-white mr-3">{{esmeddrDetails?.data.billingcontactname}}</span>
           </div>
           <div class="ml-3">
                <label>Sales Manager</label>
                <span class="badge badge-white">{{esmeddrDetails?.data.salesmanagername}}</span>
          </div>
       </div>
       <div class="row mb-2 float-right">
            <div class="border-right ">
                <label>Message Type</label>
                <span class="badge badge-white mr-3">{{esmeddrDetails?.data.messagetype}}</span>
            </div>
            <div class="ml-3">
                    <label>Billing Type</label>
                    <span class="badge badge-white">{{esmeddrDetails?.data.billingtype}}</span>
            </div>
        </div>
        <div class="row mb-2 float-right">
            <div class="border-right ">
                <label>SMTP Bind Allowed</label>
                <span class="badge badge-white mr-3">{{esmeddrDetails?.data.smppbindallowed}}</span>
            </div>
            <div class="ml-3 border-right">
                    <label>No. Of Binds Allowed</label>
                    <span class="badge badge-white mr-3">{{esmeddrDetails?.data.noofbindsallowed}}</span>
            </div>
            <div class="ml-3">
                    <label>Char. Set Encoding</label>
                    <span class="badge badge-white">{{esmeddrDetails?.data.charsetencoding}}</span>
            </div>
        </div>
        <div class="row mb-2 float-right">
            <div class="border-right ">
                <label>SLA Configuration</label>
                <span class="badge badge-white mr-3"></span>
            </div>
            <div class="ml-3 border-right">
                    <label>DLR Type</label>
                    <span class="badge badge-white mr-3">{{esmeddrDetails?.data.dlrtype}}</span>
            </div>
            <div class="ml-3">
                    <label>DLR Configuration</label>
                    <span class="badge badge-white">{{esmeddrDetails?.data.dlrconfiguration}}</span>
            </div>
        </div>
    </div>
</div>
<section>
    <div class="data-container cm-view-section mb-3">
        <div class="row">
            <div class="col-5">
                <label class="gateway-section-heading">VALIDATION</label>
                <section class="main-section">
                    <div class="row">
                        <div class="col-6 border-right">
                            <label>Sender ID Type</label>
                            <p><b>{{esmeddrDetails?.data.validation.senderidtype}}</b></p>

                        </div>
                        <div class="col-5 offset-1">
                            <label>Default Sender ID</label>
                            <p><b>{{esmeddrDetails?.data.validation.defaultsenderid}}</b></p>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-6 border-right">
                            <label>Template Failed<br> Sender ID</label>
                            <p><b>{{esmeddrDetails?.data.validation.templatefailedsenderid}}</b></p>

                        </div>
                        <div class="col-4 offset-1">
                            <label>Block SMS to India</label>
                            <p><b>{{esmeddrDetails?.data.validation.blocksmstoindia}}</b></p>
                        </div>
                    </div>
                    <hr>
                    <div class="cm-view-btn-div text-center mb-3">
                        <button class="btn erp-intl-btn mr-3" (click)="open(senderIdModal)">Sender ID's</button>
                        <button class="btn btn-basic" (click)="open(blockedSenderIdModal)">Blocked Sender ID's</button>
                    </div>

                </section>
                <div class="cm-view-btn-div">
                    <button class="btn erp-intl-btn mr-3" (click)="open(blacklistTemplateModal)">Blacklisted Template</button>
                    <button class="btn btn-basic" (click)="open(templateType)">Templates Type (Listing)</button>
                </div>
            </div>
            <div class="col-5">
                <label class="gateway-section-heading">ROUTING</label>
                <section class="main-section">
                    <div class="row">
                        <div class="col-6 border-right">
                            <label>Routing Type</label>
                            <p><b>{{esmeddrDetails?.data.routing.routingtype}}</b></p>

                        </div>
                        <div class="col-5 offset-1">
                            <label>Routing Name</label>
                            <p><b>{{esmeddrDetails?.data.routing.routingname}}</b></p>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-6 border-right">
                            <label>Countries Allowed</label>
                            <p class="mt-4">{{esmeddrDetails?.data.routing.countriesallowed}}</p>

                        </div>
                        <div class="col-5 offset-1">
                            <label>Countries Blocked @ Platform</label>
                            <p><b>{{esmeddrDetails?.data.routing.countriesblockedplatform}}</b></p>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-6">
                            <label>ROW Allowed</label>
                            <p><b>{{esmeddrDetails?.data.routing.rowallowed}}</b></p>
                        </div>
                    </div>

                </section>
                <div class="cm-view-btn-div">
                    <a [routerLink]="['/customer-management/allowed-country-operator-list', esmeaddr? esmeaddr : 0]" class="btn btn-basic w-100">Allowed Country & Operator List</a>
                </div>

            </div>
        </div>

    </div>
</section>
<section class="row">
    <div class="data-container cm-view-section mb-3 col-5 ml-15">
        <div class="row">
            <div class="col-12">
                <label class="gateway-section-heading">BILLING INFO</label>
                <section class="main-section">
                    <div class="row">
                        <div class="col-5 border-right">
                            <label>Bill Plan Name</label>
                            <p><b>{{esmeddrDetails?.data.billinginfo.billplanname}}</b></p>

                        </div>
                        <div class="col-5 offset-1">
                            <label>Rate Card Type</label>
                            <p><b>{{esmeddrDetails?.data.billinginfo.ratecardtype}}</b></p>

                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-5 border-right">
                            <label>Billing Currency</label>
                            <p><b>{{esmeddrDetails?.data.billinginfo.billingcurrency}}</b></p>

                        </div>
                        <div class="col-6 offset-1">
                            <label>Applicable Taxation</label>
                            <p><b>{{esmeddrDetails?.data.billinginfo.applicabletaxation}}</b></p>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-8">
                            <label class="font-weight-bold">BillPlan Change Notification to Client</label>
                        </div>
                        <div class="col-4 text-right">
                            <label class="toggle-switch">
                                <input type="checkbox" class="switch-btn" disabled [checked]="esmeddrDetails?.data.billinginfo.billplanchangenotificationtoclient === 1">
                                <span class="slider round"></span>
                            </label>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
    <div class="data-container cm-view-section mb-3 col-5 ml-4">
        <div class="row">
            <div class="col-12">
                <label class="gateway-section-heading">SETTINGS</label>
                <section class="main-section">
                    <div class="row">
                        <div class="col-5 border-right">
                            <label>Process ROW</label>
                            <p><b>{{esmeddrDetails?.data.settings.processrow}}</b></p>

                        </div>
                        <div class="col-5 offset-1">
                            <label style="padding-right: 3px;" >Process @ Loss </label>
                            <label class="toggle-switch">
                                <input type="checkbox" class="switch-btn" disabled [checked]="esmeddrDetails?.data.settings.processloss === 1">
                                <span class="slider round"></span>
                            </label>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-5 border-right">
                            <label>Loss Threshold</label>
                            <p><b>{{esmeddrDetails?.data.settings.lossthreshold}}</b></p>
                        </div>
                        <div class="col-5 offset-1">
                            <label>Billing Timezone</label>
                            <p><b>{{esmeddrDetails?.data.settings.billingtimezone}}</b></p>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-8">
                            <label class="font-weight-bold">Failure Notification to Sales And International Team</label>
                        </div>
                        <div class="col-4 text-right">
                            <label class="toggle-switch">
                                <input type="checkbox" class="switch-btn" disabled [checked]="esmeddrDetails?.data.settings.failurenotificationtosalesandinternationalteam === 1">
                                <span class="slider round"></span>
                            </label>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</section>
<div class="data-container mb-3">
    <div class="row">
        <label class="gateway-section-heading col-6">ACCOUNT ACTIVITIES</label>
        <div class="col-6 text-right f-12">
            <a [routerLink]="['/customer-management/customer-management-view-log', esmeaddr,esmeddrDetails?.data.clientname]" class="font-weight-bold">
                View Activities Logs<i class="fa fa-angle-double-right ml-1"></i>
            </a>
        </div>
    </div>
    <section class="main-section validation-section account-activity-section">
        <div class="row">
            <div class="col-8">
                <div class="row">
                    <div class="form-group col-4 gateway-activity-detail">
                        <label class="col-12">Creation Date & Time</label>
                        <div class="row ml-1 font-weight-bold">
                            <div class="col-12 border-right">
                                <span>{{esmeddrDetails?.data.accountactivities.creationdatetime}}</span>
                            </div>
                            <!-- <div class="col-5">
                                <span>14:30</span>
                            </div> -->
                        </div>
                    </div>

                    <div class="form-group col-5 gateway-activity-detail">
                        <label class="col-12">Last Modification Date & Time</label>
                        <div class="row font-weight-bold ml-1">
                            <div class="col-12 border-right">
                                <span>{{esmeddrDetails?.data.accountactivities.lastmodificationdatetime}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-3 p-0">
                        <label class="col-12">Last Modified User</label>
                        <span class="col-12 font-weight-bold">
                         <img src="assets/images/user-image.png" alt="user" class="username-img"/> {{esmeddrDetails.data.accountactivities.lastmodifieduser}}</span>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-4 gateway-activity-detail">
                        <label class="col-12 pr-0">Rate Card Assign Date & Time</label>
                        <div class="row ml-1 font-weight-bold">
                            <div class="col-12 border-right">
                                <span>{{esmeddrDetails?.data.accountactivities.ratecardAssigndatetime}}</span>
                            </div>
                        </div>
                    </div>

                    <div class="form-group col-5 gateway-activity-detail">
                        <label class="col-12">Bill Plan Last Modification Date & Time</label>
                        <div class="row font-weight-bold ml-1">
                            <div class="col-7 border-right">
                                <span>{{esmeddrDetails?.data.accountactivities.billplanlastmodificationdatetime}}</span>
                            </div>

                        </div>
                    </div>
                    <div class="form-group col-3 p-0">
                        <label class="col-12">Bill Plan Modified By</label>
                        <span class="col-12 font-weight-bold">
                         <img src="assets/images/user-image.png" alt="user" class="username-img"/> {{esmeddrDetails.data.accountactivities.billplanmodifiedby}}</span>
                    </div>
                </div>
            </div>
            <div class="col-4 bg-grey">
              <table class="table  table-borderless table-responsive">
                <thead>
                  <tr>
                    <th scope="col">RateCard Name</th>
                    <th scope="col">Effective Date</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of rateCardList?.data.tabledata">
                    <td>{{item.ratecardname}}</td>
                    <td>{{item.effectivefrom}} - {{item.effectivefrom}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
        </div>
    </section>
</div>

<!-- modal pop-up -->
<ng-template #senderIdModal let-c="close" let-d="dismiss">
    <button type="button" class="offset-11 col-1 modal-close-btn" aria-label="Close" (click)="d('Cross click')">&times;</button>
    <div class="modal-body">
        <form action="">
            <div class="row font-weight-bold">
                <div class="col-3 border-right"><label>ESME Addr.</label></div>
                <div class="col-8 ml-1"><span>{{esmeaddr}}</span></div>
            </div>
            <div class="row my-2 f-14">
                <div class="col-3"><label>Sender IDs</label></div>
                <div class="col-9"><span class="badge badge-dark">{{senderidLis?.data.total}}</span></div>
            </div>
            <div class="row">
                <div class="table-responsive senderid-list-table">
                    <table class="table table-borderless erp-list-table">
                        <tbody>
                            <tr *ngFor="let item of senderidLis?.data.senderidlists">
                                <td>{{item.senderid}}</td>
                            </tr>
                            <tr *ngIf="senderidLis?.data.senderidlists.length === 0">
                              <td>No Data Available</td>
                          </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </form>
    </div>
</ng-template>

<ng-template #blockedSenderIdModal let-c="close" let-d="dismiss">
    <button type="button" class="offset-11 col-1 modal-close-btn" aria-label="Close" (click)="d('Cross click')">&times;</button>
    <div class="modal-body">
        <form action="">
            <div class="row font-weight-bold">
                <div class="col-3 border-right"><label>ESME Addr.</label></div>
                <div class="col-8 ml-1"><span>{{esmeaddr}}</span></div>
            </div>
            <div class="row my-2 f-14">
                <div class="col-4 "><label>Blocked Sender IDs</label></div>
                <div class="col-8"><span class="badge badge-dark">{{blockedSenderidList?.data.total}}</span></div>
            </div>
            <div class="row">
                <div class="table-responsive senderid-list-table">
                    <table class="table table-borderless erp-list-table">
                        <tbody>
                            <tr *ngFor="let item of blockedSenderidList?.data.blockedsenderidlists">
                                <td>{{item.senderid}}</td>
                            </tr>
                            <tr *ngIf=" blockedSenderidList?.data.blockedsenderidlists.length === 0">
                              <td>No Data Available</td>
                          </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </form>
    </div>
</ng-template>

<ng-template #blacklistTemplateModal let-c="close" let-d="dismiss">
    <button type="button" class="offset-11 col-1 modal-close-btn" aria-label="Close" (click)="d('Cross click')">&times;</button>
    <div class="modal-body">
        <form action="">
            <div class="row font-weight-bold">
                <div class="col-3 border-right"><label>ESME Addr.</label></div>
                <div class="col-8 ml-1"><span>{{esmeaddr}}</span></div>
            </div>
            <div class="row my-2 f-14">
                <div class="col-4"><label>Blacklisted Templates</label></div>
                <div class="col-8"><span class="badge badge-dark">{{blockedTemplateList?.data.total}}</span></div>
            </div>
            <div class="row">
                <div class="table-responsive senderid-list-table">
                    <table class="table table-borderless erp-list-table">
                        <tbody>
                            <tr *ngFor="let item of blockedTemplateList?.data.blockedtemplatelists" >
                                <td>{{item.template}}</td>
                            </tr>
                            <tr *ngIf=" blockedTemplateList?.data.blockedtemplatelists.length === 0">
                              <td>No Data Available</td>
                          </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </form>
    </div>
</ng-template>

<ng-template #templateType let-c="close" let-d="dismiss">
    <button type="button" class="offset-11 col-1 modal-close-btn" aria-label="Close" (click)="d('Cross click')">&times;</button>
    <div class="modal-body">
        <form action="">
            <div class="row font-weight-bold">
                <div class="col-3 border-right"><label>ESME Addr.</label></div>
                <div class="col-8 ml-1"><span>{{esmeaddr}}</span></div>
            </div>
            <div class="row my-2 f-14">
                <div class="col-2"><label>Templates</label></div>
                <div class="col-9"><span class="badge badge-dark">{{templateBlockedLis?.data.total}}</span></div>
            </div>
            <div class="row">
                <div class="table-responsive senderid-list-table">
                    <table class="table table-borderless erp-list-table">
                        <tbody>
                            <tr *ngFor="let item of templateBlockedLis?.data.whitelistedtemplatelists">
                                <td>{{item.pattern}}</td>
                            </tr>
                            <tr *ngIf=" templateBlockedLis?.data.whitelistedtemplatelists.length === 0">
                              <td>No Data Available</td>
                          </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </form>
    </div>
</ng-template>

<!-- modal pop-up assigned services -->
<ng-template #assignedServices let-c="close" let-d="dismiss">
    <button type="button" class="offset-11 col-1 modal-close-btn" aria-label="Close" (click)="d('Cross click')">&times;</button>
    <div class="modal-body assigned-services">
        <form action="">
            <div class="row">
                <label class=" col-12 font-weight-bold">ASSIGNED SERVICES</label>
                <div class="col-1 font-weight-bold f-14"><label>MEDIA</label></div>
                <div class="col-11 f-14">
                    <div class="row">
                        <div class="col-2">
                            <label class="checkbox-label col-4 ml-15" for="sms">SMS
                                <input type="checkbox" disabled [checked]="asignedService.data.channel.includes('sms')" >
                                <span class="checkmark"></span>
                            </label>
                        </div>
                        <div class="col-3">
                            <label class="checkbox-label col-4 ml-15" for="voice">Voice
                                <input type="checkbox" disabled [checked]="asignedService.data.channel.includes('voice')" >
                                <span class="checkmark"></span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <section class="main-section mt-2">
                <div class="row" >
                  <div class="col-3" >
                    <div class="col-12" *ngFor="let item of asignedService.data.mediaandservicelists.sms">
                      <label class="checkbox-label col-4 ml-15" for="globalOne">{{item}}
                        <input type="checkbox" checked="checked" disabled id="globalOne">
                        <span class="checkmark"></span>
                    </label>
                  </div>
                  </div>
                  <div class="col-3" >
                    <div class="col-12" *ngFor="let item of asignedService.data.mediaandservicelists.voice">
                      <label class="checkbox-label col-4 ml-15" for="globalOne">{{item}}
                        <input type="checkbox" checked="checked" disabled id="globalOne">
                        <span class="checkmark"></span>
                    </label>
                    </div>
                  </div>




                </div>
                <div class="col-12 text-center mt-3">
                    <button type="button" class="btn erp-intl-btn w-25" aria-label="Close" (click)="d('Cross click')">OK</button>
                </div>

            </section>


        </form>
    </div>
</ng-template>
