<div class="row btm-border second-row-pr">
    <div class="col-7">
        <div class="row">
            <div class="col-12">
                <label class="mr-2"><b>Total</b></label>
                <span class="border-right">&nbsp;</span>
                <span class="ml-3 badge badge-dark"><b>435</b></span>
            </div>
        </div>
        <div class="row gateway-count">
            <div class="col-3">
                <label>Mobile <span class="badge badge-dark"><b>290</b></span>
                </label>
            </div>
            <div class="col-3 gateway-detail">
                <label>SenderID <span class="badge badge-dark"><b>290</b></span></label>
            </div>

        </div>
    </div>

    <div class="col-3 text-right mt-1">
        <div class="form-group">
            <input type="search" class="form-control" placeholder="&#xf002; Search by Mobile,SenderID" />
        </div>
    </div>
    <div class="col-2 text-right">
        <a routerLink="/route-management/blacklist/add-route/senderid-mobile-route" class="btn erp-intl-btn">Add New</a>
    </div>

</div>

  <div class="main-container table-responsive">
    <table class="table table-borderless erp-list-table row-hover-effect">
        <thead>
            <tr>
                <th>Mobile Number</th>
                <th>Blacklisting Type</th>
                <th>Blacklisted Date & Time</th>
                <th>SenderID</th>
                <th>Primary Route</th>
                <th>Fallback Route</th>
                <th>&nbsp;</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="font-weight-semi-bold" >9879 901989</td>
                <td>Global</td>
                <td>28/10/2019 | 23:25:00</td>
                <td>HDFC4556</td>
                <td>Nexmo</td>
                <td>Tanla</td>
                <td><img src="assets/icons/delete-icon.svg" class="img-fluid" alt="delete icon"/></td>
            </tr>
            <tr>
                <td class="font-weight-semi-bold" >9879 901989</td>
                <td>70000 100000011</td>
                <td>28/10/2019 | 23:25:00</td>
                <td>HDFC4556</td>
                <td>Nexmo</td>
                <td>Tanla</td>
                <td><img src="assets/icons/delete-icon.svg" class="img-fluid" alt="delete icon"/></td>
            </tr>
            <tr>
                <td class="font-weight-semi-bold" >9879 901989</td>
                <td>Global</td>
                <td>28/10/2019 | 23:25:00</td>
                <td>HDFC4556</td>
                <td>Nexmo</td>
                <td>Tanla</td>
                <td><img src="assets/icons/delete-icon.svg" class="img-fluid" alt="delete icon"/></td>
            </tr>
        </tbody>
    </table>
</div>


