<div *ngIf="authService.authorizationState.route_mgmt.blacklist_mobilesenderid_list_enabled">
    <div class="row btm-border second-row-pr">
        <div class="col-7">
            <div class="row">
                <div class="col-12">
                    <label class="mr-2"><b>Total</b></label>
                    <span class="border-right">&nbsp;</span>
                    <span class="ml-3 badge badge-dark"><b>{{blMobileSenderData?.unique_mobile_count}}</b></span>
                </div>
            </div>
            <div class="row gateway-count">
                <div class="col-3">
                    <label>Mobile <span
                            class="badge badge-dark"><b>{{blMobileSenderData?.unique_mobile_count}}</b></span>
                    </label>
                </div>
                <div class="col-3 gateway-detail">
                    <label>SenderID <span
                            class="badge badge-dark"><b>{{blMobileSenderData?.unique_senderid_count}}</b></span></label>
                </div>

            </div>
        </div>

        <div class="col-3 text-right mt-1">
            <div class="form-group">
                <input type="search" class="form-control" placeholder="&#xf002; Search by Mobile,SenderID"
                    name="searchvalue" [(ngModel)]="searchvalue" />
            </div>
        </div>
        <div class="col-2 text-right">
            <a [ngClass]="{'isDisabled': !authService.authorizationState.route_mgmt.blacklist_mobilesenderid_add_enabled}"
                [routerLink]="authService.authorizationState.route_mgmt.blacklist_mobilesenderid_add_enabled ?
                ['/route-management/blacklist/add-route/senderid-mobile-route']:[]" class="btn erp-intl-btn">Add
                New</a>
        </div>

    </div>

    <div class="main-container table-responsive">
        <table class="table table-borderless erp-list-table row-hover-effect">
            <thead>
                <tr>
                    <th (click)="sort('mobile')">
                        Mobile Number
                        <i *ngIf="sortingName==='mobile' && isDesc" class="fa fa-arrow-down sorticon m-1"></i>
                        <i *ngIf="sortingName==='mobile' && !isDesc" class="fa fa-arrow-up sorticon m-1"></i>
                    </th>
                    <th (click)="sort('blacklist_type')">
                        Blacklisting Type
                        <i *ngIf="sortingName==='blacklist_type' && isDesc" class="fa fa-arrow-down sorticon m-1"></i>
                        <i *ngIf="sortingName==='blacklist_type' && !isDesc" class="fa fa-arrow-up sorticon m-1"></i>
                    </th>
                    <th (click)="sort('cts')">
                        Blacklisted Date & Time
                        <i *ngIf="sortingName==='cts' && isDesc" class="fa fa-arrow-down sorticon m-1"></i>
                        <i *ngIf="sortingName==='cts' && !isDesc" class="fa fa-arrow-up sorticon m-1"></i>
                    </th>
                    <th (click)="sort('senderid')">
                        SenderID
                        <i *ngIf="sortingName==='senderid' && isDesc" class="fa fa-arrow-down sorticon m-1"></i>
                        <i *ngIf="sortingName==='senderid' && !isDesc" class="fa fa-arrow-up sorticon m-1"></i>
                    </th>
                    <th>&nbsp;</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let blmobilesender of blMobileSenderData?.mobile_senderid_list
               | filter: { mobile: searchvalue,senderid:searchvalue } | sort:sortingName:isDesc;">
                    <td class="font-weight-semi-bold">{{blmobilesender.mobile}}</td>
                    <td>{{blmobilesender.blacklist_type}}</td>
                    <td>{{blmobilesender.cts}}</td>
                    <td>{{blmobilesender.senderid}}</td>
                    <td><img [ngClass]="{'isDisabled': !authService.authorizationState.route_mgmt.blacklist_mobilesenderid_delete_enabled}"
                            src="assets/icons/delete-icon.svg" class="img-fluid" alt="delete icon"
                            (click)="authService.authorizationState.route_mgmt.blacklist_mobilesenderid_delete_enabled && deleteBlMobileSender(blmobilesender)" />
                    </td>
                </tr>
                <tr
                    *ngIf="!blMobileSenderData?.mobile_senderid_list.length || (blMobileSenderData?.mobile_senderid_list | filter:  { mobile: searchvalue,senderid:searchvalue }).length == 0">
                    <td colspan="5" style="text-align: center;">No Records Found</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="pt-3 center-block h-100"
    *ngIf="!authService.authorizationState.route_mgmt.blacklist_mobilesenderid_list_enabled">
    <div class="d-block">
        <img style="width: 150px;" src="assets/icons/icon-lock.png" />
        <span class="w-100 d-block">
            Your are not <b>Authorized</b> to access this page
        </span>
    </div>
</div>
