<div class="main-container table-responsive">
    <table class="table table-borderless erp-list-table row-hover-effect">
        <thead>
            <tr>
                <th>ESME Address</th>
                <th>User Name</th>
                <th>Org. Name</th>
                <th>Intl Route Type</th>
                <th>Sales Person Name</th>
                <th>Submission Date & Time<i class="fa fa-caret-down"></i></th>
                <th>&nbsp;</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of usersData?.data.pendingesmelists">
                <td class="font-weight-semi-bold"><a routerLink="/customer-management/customer-management-view">{{user.esmeaddr}}</a></td>
                <td>{{user.username}}</td>
                <td>{{user.orgname}}</td>
                <td>Direct</td>
                <td>{{user.salespersonname}}</td>
                <td>{{user.submissiondateandtime}}</td>
                <td><a routerLink="/customer-management/customer-management-edit"><i class="fa fa-paperclip" aria-hidden="true"></i></a></td>
            </tr>
        </tbody>
    </table>
</div>