<div class="main-container table-responsive">
    <table class="table table-borderless erp-list-table row-hover-effect">
        <thead>
            <tr>
                <th>ESME Address</th>
                <th>User Name</th>
                <th>Org. Name</th>
                <th>Intl Route Type</th>
                <th>Sales Person Name</th>
                <th>Submission Date & Time<i class="fa fa-caret-down"></i></th>
                <th>&nbsp;</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="font-weight-semi-bold"><a routerLink="/customer-management/customer-management-view">70000 100000011</a></td>
                <td>usrname</td>
                <td>xxx xxx xxx</td>
                <td>Direct</td>
                <td>Nawal</td>
                <td>28/10/2019 | 23:25:00</td>
                <td><a routerLink="/customer-management/customer-management-edit"><i class="fa fa-paperclip" aria-hidden="true"></i></a></td>
            </tr>
            <tr>
                <td class="font-weight-semi-bold"><a routerLink="/customer-management/customer-management-view">70000 100000011</a></td>
                <td>usrname</td>
                <td>xxx xxx xxx</td>
                <td>Direct</td>
                <td>Nawal</td>
                <td>28/10/2019 | 23:25:00</td>
                <td><a routerLink="/customer-management/customer-management-edit"><i class="fa fa-paperclip" aria-hidden="true"></i></a></td>
            </tr>
            <tr>
                <td class="font-weight-semi-bold"><a routerLink="/customer-management/customer-management-view">70000 100000011</a></td>
                <td>usrname</td>
                <td>xxx xxx xxx</td>
                <td>Direct</td>
                <td>Nawal</td>
                <td>28/10/2019 | 23:25:00</td>
                <td><a routerLink="/customer-management/customer-management-edit"><i class="fa fa-paperclip" aria-hidden="true"></i></a></td>
            </tr>
        </tbody>
    </table>
</div>