<div class="row btm-border headings-div">
    <div class="col-7">
        <label class="main-heading"> <a routerLink="/gateway-management">GATEWAY MANAGEMENT / </a></label>
        <span><a routerLink="/gateway-management/gateway-details"> {{GtDetailsCountryList?.data.gw_id}} -
                {{GtDetailsCountryList?.data.gw_name}}</a> / COUNTRY LIST</span>
    </div>
    <div class="col-5 text-right">
        <button class="btn erp-intl-btn" (click)="open(senderidConfig)">SenderId Configuration</button>
    </div>
</div>
<div class="btm-border mt-2 mb_10">
    <div class="row">
        <div class="col-6 font-weight-bold">
            <div class="row mt-2">
                <div class="col-6">
                    <div class="row">
                        <div class="col-7 border-right"><label>Total Countries</label></div>
                        <div class="col-2"><span>{{GtDetailsCountryList?.data.totalcountry}}</span></div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="row">
                        <div class="col-7 border-right"><label>Total Operators</label></div>
                        <div class="col-2"><span>{{GtDetailsCountryList?.data.totaloperator}}</span></div>
                    </div>
                </div>

            </div>
        </div>
        <div class="col-6 text-right">
            <div class="row">
                <div class="col-4 form-group dropdown" ngbDropdown>
                    <button class="btn dropdown-basic dropdown-toggle" id="erp-dropdown" ngbDropdownToggle>
                        Country List</button>
                    <div class="dropdown-menu" ngbDropdownMenu aria-labelledby="erp-dropdown">
                        <a class="dropdown-item"
                            routerLink="/gateway-management/file-audit-log/{{GtDetailsCountryList?.data.gw_id}}/{{GtDetailsCountryList?.data.gw_name}}">File
                            Audit Log</a>
                    </div>
                </div>
                <div class="col-7">
                    <div class="form-group">
                        <input type="search" class="form-control" placeholder="&#xf002; Search by Country, Operator"
                            name="searchvalue" [(ngModel)]="searchvalue" />
                    </div>
                </div>
                <div class="col-1 text-center">
                    <span (click)="downloadCountryListFile()" href="#" class="icon-btn">
                        <i class="fa fa-download" aria-hidden="true"></i>
                    </span>
                </div>
            </div>

        </div>
    </div>


</div>
<div class="main-container table-responsive">
    <table class="table table-borderless erp-list-table">
        <thead>
            <tr>
                <th>Country <i class="fa fa-caret-down"></i></th>
                <th>Operator <i class="fa fa-caret-down"></i></th>
                <th>MCC + MNC</th>
                <th>SenderID Type</th>
                <th>Default SenderID</th>
                <th>Current Rate (€)</th>
                <th>&nbsp;</th>
                <th class="text-center">Status (Active/ Inactive)</th>
            </tr>
        </thead>
        <tbody>
            <tr
                *ngFor="let item of GtDetailsCountryList?.data.tabledata | filter: { country: searchvalue, operator: searchvalue }">
                <td class="font-weight-semi-bold">{{item.country}}</td>
                <td>{{item.operator}}</td>
                <td>{{item.mcc}}-{{item.mnc}}</td>
                <td>{{item.senderid_type}}</td>
                <td>{{item.default_senderid}}</td>
                <td class="rate-change-td"><span>{{item.current_rate}}</span>
                    <button *ngIf="item.ratehistory.length" type="button" class="rate-change-list-btn"
                        [autoClose]="'outside'" #r="ngbPopover" triggers="manual" [ngbPopover]="recentRateChangeList"
                        data-placement="right" (click)="toggleRateChange(r,item.ratehistory)">
                        <i class="fa fa-clock-o ml-4"></i>
                    </button>
                </td>
                <td class="send-test-msg-td">
                    <button type="button" class="btn btn-default p-0 test-msg-popup" [autoClose]="'outside'"
                        [ngbPopover]="sendTestMsg" data-placement="left" #p="ngbPopover">
                        Test</button>
                </td>
                <td>
                    <div class="form-group text-center">
                        <label class="toggle-switch">
                            <input type="checkbox" class="switch-btn"
                                (click)="handleStatus(item.gw_id, item.status, item.id)" [checked]="item.status === 1">
                            <span class="slider round"></span>
                        </label>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<!-- pop over divs -->
<ng-template #sendTestMsg>
    <section class="send-test-msg">
        <form action="">
            <div class="row">
                <div class="col-12">
                    <button type="button" class="close-btn float-right" (click)="close(p)">&times;</button>
                </div>
                <div class="form-group col-6">
                    <input type="text" class="form-control" placeholder="Enter SenderID" />
                </div>
                <div class="form-group col-6">
                    <input type="text" class="form-control" placeholder="Enter Mobile No." />
                </div>
            </div>

            <div class="row">
                <div class="form-group col-8">
                    <input type="text" class="form-control" placeholder="Enter your text here" />
                </div>
                <div class="col-4 text-right">
                    <input type="submit" class="btn erp-intl-btn" value="send">
                </div>
            </div>
        </form>
    </section>
</ng-template>
<ng-template #recentRateChangeList let-rlist="rlist">
    <section id="recent-rate-change-list">
        <form action="">
            <div class="row">
                <div class="col-12" *ngFor="let item of rlist | slice:0:5; let i=index">
                    <label class="font-weight-bold">{{item.rate}}</label> - <span>{{item.date}}</span>
                </div>
                <a *ngIf="rlist.length > 5" routerLink="/gateway-management/country-list-view"
                    class="col-12 font-weight-semi-bold float-right">Show More
                </a>
            </div>
        </form>
    </section>
</ng-template>
<!-- modal pop-up -->

<ng-template #senderidConfig let-c="close" let-d="dismiss">
    <button type="button" class="offset-11 col-1 modal-close-btn" aria-label="Close"
        (click)="d('Cross click')">&times;</button>
    <div class="modal-body">
        <form action="">
            <div class="row">

                <div class="col-6">
                    <label>Country</label>
                    <select class="dropdown-select w-100">
                        <option value="" default>Select Country</option>
                        <option value="">option1</option>
                        <option value="">option2</option>
                        <option value="">option3</option>
                    </select>

                </div>
                <div class="col-6">
                    <label>Operator</label>
                    <select class="dropdown-select w-100">
                        <option value="" default>Select Operator</option>
                        <option value="">option1</option>
                        <option value="">option2</option>
                        <option value="">option3</option>
                    </select>
                </div>
            </div>
            <div class="row my-3">
                <div class="col-6">
                    <label>Sender ID Type</label>
                    <select class="dropdown-select w-100">
                        <option value="" default>Select Sender ID Type</option>
                        <option value="" default>option1</option>
                        <option value="">option1</option>
                    </select>
                </div>
                <div class="col-6">
                    <label>Default Sender ID</label>
                    <div class="route-edit-div">
                        <input type="text" class="form-control" placeholder="Enter Default Sender ID" />
                    </div>

                </div>

            </div>
            <div class="col-12 text-center mt-5">
                <input type="submit" class="btn btn-basic mr-3" value="Cancel" />
                <input type="submit" class="btn erp-intl-btn" value="Save" />
            </div>
        </form>
    </div>
</ng-template>