<div class="row btm-border headings-div">
  <div class="col-12">
    <label class="main-heading">
      <a routerLink="/route-management">ROUTE MANAGEMENT /</a></label>
    <span> CUSTOM ROUTE</span>
  </div>
</div>
<section class="rm-dashboard" *ngIf="AuthService.authorizationState.route_mgmt.customroute_dashboard_enabled">
  <div class="row">
    <div class="col-4">
      <a routerLink="/route-management/custom-route/mobile">
        <div class="card rm-card">
          <div class="card-header">MOBILE NUMBER</div>
          <div class="card-body">
            <div class="row mb-2">
              <label class="col-9">TOTAL MOBILE NO.</label>
              <span class="col-2 rm-badge">{{
                customSummaryData?.unique_mobile_routes_count
              }}</span>
            </div>
          </div>
        </div>
      </a>
    </div>
    <div class="col-4">
      <a routerLink="/route-management/custom-route/mobile-sender-id">
        <div class="card rm-card">
          <div class="card-header">MOBILE + SENDERID</div>
          <div class="card-body">
            <div class="row mb-2">
              <label class="col-9">TOTAL MOBILE NO.</label>
              <span class="col-2 rm-badge">{{
                customSummaryData?.unique_mobile_senderid_mobile_count
              }}</span>
            </div>
            <div class="row mb-2">
              <label class="col-9">TOTAL SENDERID</label>
              <span class="col-2 rm-badge">{{
                customSummaryData?.unique_mobile_senderid_senderid_count
              }}</span>
            </div>
          </div>
        </div>
      </a>
    </div>
    <div class="col-4">
      <a routerLink="/route-management/custom-route/sender-id">
        <div class="card rm-card">
          <div class="card-header">SENDERID + CONTENT</div>
          <div class="card-body">
            <div class="row mb-2">
              <label class="col-9">TOTAL COUNTRY</label>
              <span class="col-2 rm-badge">{{
                customSummaryData?.unique_country_count
              }}</span>
            </div>
            <div class="row mb-2">
              <label class="col-9">TOTAL OPERATOR</label>
              <span class="col-2 rm-badge">{{
                customSummaryData?.unique_operator_count
              }}</span>
            </div>
          </div>
        </div>
      </a>
    </div>
  </div>
</section>
<div class="pt-3 center-block h-100" *ngIf="!AuthService.authorizationState.route_mgmt.customroute_dashboard_enabled">
  <div class="d-block">
    <img style="width: 150px;" src="assets/icons/icon-lock.png" />
    <span class="w-100 d-block">
      Your are not <b>Authorized</b> to access this page
    </span>
  </div>
</div>