<div class="row btm-border headings-div">
    <div class="col-8">
        <label class="main-heading">
            <a routerLink="/route-management">ROUTE MANAGEMENT /</a></label>
        <span> POOL ROUTE </span>
    </div>
    <div class="col-4 text-right">
        <a routerLink="/route-management/pool-route/create-pool" class="btn erp-intl-btn">Create Route</a>
    </div>
</div>
<div class="row btm-border second-row-pr">
    <div class="col-9 mt-2">
        <label class="mr-2"><b>Total Routes</b></label>
        <span class="border-right">&nbsp;</span>
        <span class="ml-3 badge badge-dark"><b>{{poolListRes?.data.routes_count}}</b></span>
    </div>

    <div class="col-3 text-right">
        <input type="search" [(ngModel)]="searchText" class="form-control"
            placeholder="&#xf002; Search by Route Name" />
    </div>

</div>
<div class="main-container table-responsive">
    <table class="table table-borderless erp-list-table row-hover-effect">
        <thead>
            <tr>
                <th (click)="sort('route_name')">Route Name
                    <i [ngClass]="{'fa fa-arrow-up sorticon m-1': sortingName==='route_name' && isDesc}"></i>
                    <i [ngClass]="{'fa fa-arrow-down sorticon m-1': sortingName==='route_name' && !isDesc}"></i>
                </th>
                <th (click)="sort('countries_count')">No. Of Countries
                    <i [ngClass]="{'fa fa-arrow-up sorticon m-1': sortingName==='countries_count' && isDesc}"></i>
                    <i [ngClass]="{'fa fa-arrow-down sorticon m-1': sortingName==='countries_count' && !isDesc}"></i>
                </th>
                <th>No. Of Accounts Tagged
                    <!-- <i [ngClass]="{'fa fa-arrow-up sorticon m-1': sortingName==='route_name' && isDesc}"></i>
                    <i [ngClass]="{'fa fa-arrow-down sorticon m-1': sortingName==='route_name' && !isDesc}"></i> -->
                </th>
                <th (click)="sort('created_date')">Created Date & Time
                    <i [ngClass]="{'fa fa-arrow-up sorticon m-1': sortingName==='created_date' && isDesc}"></i>
                    <i [ngClass]="{'fa fa-arrow-down sorticon m-1': sortingName==='created_date' && !isDesc}"></i>
                </th>
                <th (click)="sort('createdby')">Created By
                    <i [ngClass]="{'fa fa-arrow-up sorticon m-1': sortingName==='createdby' && isDesc}"></i>
                    <i [ngClass]="{'fa fa-arrow-down sorticon m-1': sortingName==='createdby' && !isDesc}"></i>
                </th>
                <th>&nbsp;</th>
                <th>&nbsp;</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let row of poolListRes?.data.routes_list 
            | filter: { route_name: searchText,  
                countries_count: searchText, 
                created_date: searchText,
                created_time: searchText, 
                createdby: searchText }
            | sort: sortingName: isDesc; index as i">
                <td class="font-weight-semi-bold">
                    <a
                        [routerLink]="['/route-management/pool-route/account-wise-view', row.route_id]">{{row.route_name}}</a>
                </td>
                <td>{{row.countries_count}}</td>
                <td><a
                        (click)="row.tagged_accounts_list.length > 0 && open(acntsTagged, row.tagged_accounts_list, row.createdby, row.route_name)">
                        {{row.tagged_accounts_list.length}}</a></td>
                <td>{{row.created_date}} | {{row.created_time}}</td>
                <td>{{row.createdby}}</td>
                <td>
                    <a [routerLink]="['/route-management/pool-route/clone-pool', row.route_id]">
                        <img src="assets/icons/copy.svg" class="img-fluid" alt="copy-icon" />
                    </a>
                </td>
                <td> <img src="assets/icons/delete-icon.svg" class="img-fluid" alt="delete icon"
                        *ngIf="row.tagged_accounts_list.length"
                        (click)="checkConfirm(row.route_id, row.route_name, i)" /></td>
            </tr>
            <tr *ngIf="!poolListRes?.data.routes_list  
            || (poolListRes?.data.routes_list  | filter: { route_name: searchText,  countries_count: searchText,  created_date: searchText,
                created_time: searchText, createdby: searchText }).length == 0">
                <td colspan="7" style="text-align: center;">No Records Found</td>
            </tr>
        </tbody>
    </table>
</div>
<!-- modal pop-up -->
<ng-template #acntsTagged let-c="close" let-d="dismiss">
    <button type="button" class="offset-11 col-1 modal-close-btn" aria-label="Close"
        (click)="d('Cross click')">&times;</button>
    <div class="modal-body gt-det-modal">
        <form action="">

            <div class="row mb-2">
                <label class="mr-2"><b>ROUTE NAME</b></label>
                <span class="border-right">&nbsp;</span>
                <span class="ml-3"><b>route name123</b></span>
            </div>

            <div class="row mb-2">
                <div class="col-7 pl-0">
                    <label>No. Of Accounts Tagged</label><span class="badge badge-dark ml-3">200</span>
                </div>
                <div class="col-5 text-right"><label>Created By</label><span class="badge badge-dark ml-3">Nawal</span>
                </div>
            </div>
            <div class="row mb-2 mr-0">
                <input type="search" class="form-control" id="" placeholder="&#xf002; Search By ESME Addr." />
            </div>

            <div class="main-container table-responsive">
                <table class="table table-borderless erp-list-table row-hover-effect">
                    <thead>
                        <tr>
                            <th>ESME ADDR.</th>
                            <th>Tagged Date</th>
                            <th>Tagged By</th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="font-weight-semi-bold">70000 100000011</td>
                            <td>21/11/2019</td>
                            <td>Sanal</td>

                        </tr>
                        <tr>
                            <td class="font-weight-semi-bold">70000 100000011</td>
                            <td>21/11/2019</td>
                            <td>Sanal</td>

                        </tr>
                        <tr>
                            <td class="font-weight-semi-bold">70000 100000011</td>
                            <td>21/11/2019</td>
                            <td>Sanal</td>

                        </tr>
                    </tbody>
                </table>
            </div>
        </form>
    </div>

</ng-template>