<div *ngIf="authService.authorizationState.route_mgmt.customroute_mobilesenderid_list_enabled">
  <div class="row btm-border second-row-pr">
    <div class="col-6">
      <div class="row">
        <div class="col-12">
          <label class="mr-2"><b>Total</b></label>
          <span class="border-right">&nbsp;</span>
          <span class="ml-3 badge badge-dark"><b>{{ mobileSenderidCustomData?.total }}</b></span>
        </div>
      </div>
      <div class="row gateway-count">
        <div class="col-3">
          <label>Mobile
            <span class="badge badge-dark"><b>{{ mobileSenderidCustomData?.unique_mobile_count }}</b></span>
          </label>
        </div>
        <div class="col-3 gateway-detail">
          <label>SenderID
            <span class="badge badge-dark"><b>{{ mobileSenderidCustomData?.unique_senderid_count }}</b></span></label>
        </div>
      </div>
    </div>

    <div class="col-4 text-right mt-1">
      <div class="form-group">
        <input type="search" class="form-control" placeholder="&#xf002; Search by Mobile, SenderID" name="searchvalue"
          [(ngModel)]="searchvalue" />
      </div>
    </div>
    <div class="col-2 text-right">
      <a [ngClass]="{'isDisabled': !authService.authorizationState.route_mgmt.customroute_mobilesenderid_add_route_enabled}"
        [routerLink]="authService.authorizationState.route_mgmt.customroute_mobilesenderid_add_route_enabled ? 
      ['/route-management/custom-route/add-route/senderid-mobile-route'] : []" class="btn erp-intl-btn">Add
        Route</a>
    </div>
  </div>
  <div class="main-container table-responsive">
    <table class="table table-borderless erp-list-table row-hover-effect">
      <thead>
        <tr>
          <th (click)="sort('mobile')">
            Mobile Number
            <i *ngIf="sortingName === 'mobile' && isDesc" class="fa fa-arrow-down sorticon m-1"></i>
            <i *ngIf="sortingName === 'mobile' && !isDesc" class="fa fa-arrow-up sorticon m-1"></i>
          </th>
          <th (click)="sort('whitelist_type')">
            Whitelist Type
            <i *ngIf="sortingName === 'whitelist_type' && isDesc" class="fa fa-arrow-down sorticon m-1"></i>
            <i *ngIf="sortingName === 'whitelist_type' && !isDesc" class="fa fa-arrow-up sorticon m-1"></i>
          </th>
          <th (click)="sort('senderid')">
            SenderID
            <i *ngIf="sortingName === 'senderid' && isDesc" class="fa fa-arrow-down sorticon m-1"></i>
            <i *ngIf="sortingName === 'senderid' && !isDesc" class="fa fa-arrow-up sorticon m-1"></i>
          </th>
          <th (click)="sort('primary_route.gw_id')">
            Primary Route
            <i *ngIf="sortingName === 'primary_route.gw_id' && isDesc" class="fa fa-arrow-down sorticon m-1"></i>
            <i *ngIf="sortingName === 'primary_route.gw_id' && !isDesc" class="fa fa-arrow-up sorticon m-1"></i>
          </th>
          <th (click)="sort('fallback_route.gw_id')">
            Fallback Route
            <i *ngIf="sortingName === 'fallback_route.gw_id' && isDesc" class="fa fa-arrow-down sorticon m-1"></i>
            <i *ngIf="sortingName === 'fallback_route.gw_id' && !isDesc" class="fa fa-arrow-up sorticon m-1"></i>
          </th>
          <th (click)="sort('cts')">
            Creation Date & Time
            <i *ngIf="sortingName === 'cts' && isDesc" class="fa fa-arrow-down sorticon m-1"></i>
            <i *ngIf="sortingName === 'cts' && !isDesc" class="fa fa-arrow-up sorticon m-1"></i>
          </th>
          <th>&nbsp;</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="
          let mobileroute of mobileSenderidCustomData?.mobile_senderid_list
            | filter: { mobile: searchvalue, senderid: searchvalue }
            | sort: sortingName:isDesc
        ">
          <td class="font-weight-semi-bold">{{ mobileroute.mobile }}</td>
          <td>{{ mobileroute.whitelist_type }}</td>
          <td>{{ mobileroute.senderid }}</td>
          <td>{{ mobileroute.primary_route.gw_id }}</td>
          <td>{{ mobileroute.fallback_route.gw_id }}</td>
          <td>{{ mobileroute.cts }}</td>
          <td>
            <img src="assets/icons/delete-icon.svg" class="img-fluid" alt="delete icon"
              [ngClass]="{'isDisabled': !authService.authorizationState.route_mgmt.customroute_mobilesenderid_delete_route_enabled}"
              (click)="authService.authorizationState.route_mgmt.customroute_mobilesenderid_delete_route_enabled && deleteMobileCustom(mobileroute)" />
          </td>
        </tr>
        <tr *ngIf="
          !mobileSenderidCustomData?.mobile_senderid_list.length ||
          (
            mobileSenderidCustomData.mobile_senderid_list
            | filter: { mobile: searchvalue, senderid: searchvalue }
          ).length == 0
        ">
          <td colspan="7" style="text-align: center;">No Records Found</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="second-row-det" *ngIf="!authService.authorizationState.route_mgmt.customroute_mobilesenderid_list_enabled">
  <span>You are not <b>authorized</b> for this page</span>
</div>