<div class="row btm-border headings-div">
    <div class="col-8">
        <label class="main-heading"> <a routerLink="/gateway-management">GATEWAY MANAGEMENT / </a></label>
        <span><a routerLink="/gateway-management/gateway-details/{{GtESMEAddrRoutedData?.data.gw_id}}">
                {{GtESMEAddrRoutedData?.data.gw_id}} -
                {{GtESMEAddrRoutedData?.data.gw_name}} /</a> No. of ESMEAddr routed
            (On Gateway directly)</span>
    </div>
</div>
<div class="row btm-border second-row-det">
    <div class="col-7">
        <div class="row mb-2">
            <div class="col-3 border-right"><label>Gateway ID</label></div>
            <div class="col-8"><span><b>{{GtESMEAddrRoutedData?.data.gw_id}}</b></span></div>
        </div>
        <div class="row">
            <div class="col-3 border-right"><label>Gateway Name</label></div>
            <div class="col-8"><span><b>{{GtESMEAddrRoutedData?.data.gw_name}}</b></span></div>
        </div>
    </div>
    <div class="col-3">
        <div class="row">
            <div class="col-3 border-right"><label>Total</label></div>
            <div class="col-8"><span><b>{{GtESMEAddrRoutedData?.data.total}}</b></span></div>
        </div>
    </div>
</div>
<div class="main-container table-responsive">
    <table class="table table-borderless erp-list-table mb-0">
        <thead>
            <tr>
                <th>S.No</th>
                <th>data</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of GtESMEAddrRoutedData?.data.data; index as i">
                <td [innerHTML]="i+1"></td>
                <td class="font-weight-semi-bold" [attr.data-index]="i">{{item}}</td>
            </tr>
            <tr *ngIf="GtESMEAddrRoutedData?.data.data.length == 0">
                <td colspan="2" class="text-center py-3 main-heading">No data Found</td>
            </tr>
        </tbody>
    </table>
</div>