<div class="row btm-border headings-div" *ngIf="showEditPage">
    <div class="col-12">
        <label class="main-heading">
            <a routerLink="/customer-management">CUSTOMER MANAGEMENT /</a></label>
        <span> {{esmeaddr}}</span>
    </div>
</div>
<div *ngIf="fromTabName === 'existing' || fromTabName === 'pending' && CmAuthControls.cust_pending_acct_review_enabled">
    <div class="row btm-border second-row-det" *ngIf="showEditPage">
        <div class="col-12">
            <div class="row">
                <div class="col-12">
                    <label class="mr-2"><b>ESME Addr.</b></label>
                    <span class="border-right">&nbsp;</span>
                    <span class="ml-3 badge badge-dark esme-addr"><b>{{usersData?.esmeaddr}}</b></span>
                </div>
            </div>
            <div class="row gateway-count">
                <div class="col-3">
                    <label>Company Name <span class="badge badge-dark ml-2"><b>{{usersData?.company_name}}</b></span>
                    </label>
                </div>
                <div class="col-3">
                    <label>Billing Type <span
                            class="badge badge-dark ml-2"><b>{{usersData?.billing_type}}</b></span></label>
                </div>
                <div class="col-3">
                    <label>Intl. Route Type <span
                            class="badge badge-dark ml-2"><b>{{usersData?.intl_routetype}}</b></span></label>
                </div>
                <div class="col-3">
                    <label>Billing Currency <span class="badge badge-dark ml-2"><b
                                [innerHTML]="(usersData?.billing_currency)"></b></span></label>
                </div>
            </div>
        </div>
    </div>

    <form [formGroup]="updateAccountFormGroup">
        <div class="data-container m-lr_15" *ngIf="showEditPage">
            <!-- <form [formGroup]="updateAccountFormGroup" (ngSubmit)="onSubmit(updateAccountFormGroup.value)"> -->
            <div class="row border-bottom pb-4">
                <div class=" form-group col-4">
                    <label>Bill Plan</label>
                    <input type="text" class="form-control" formControlName="billplanName" />
                </div>
                <div class="col-1 billplan-view mr-4">
                    <a (click)="fromTabName === 'existing' && CmAuthControls.cust_existing_view_billplan_ratecard_enabled 
                    || fromTabName === 'pending' && CmAuthControls.cust_pending_view_billplan_ratecard_enabled && openNewTab(usersData?.ratecard_id, usersData?.ratecard_type)"
                        [ngClass]="{'isDisabled':fromTabName === 'existing' && !CmAuthControls.cust_existing_view_billplan_ratecard_enabled 
                    || fromTabName === 'pending' && !CmAuthControls.cust_pending_view_billplan_ratecard_enabled}">
                        <i class="fa fa-eye"></i></a>
                </div>
                <div class="col-3 border-left pl-4">
                    <label>Char.Set Encoding</label>
                    <select class="dropdown-select w-100" formControlName="selectedCharSetEncoding"
                        [attr.disabled]="fromTabName === 'existing' && !CmAuthControls.cust_existing_additional_settings_enabled
                                        || fromTabName === 'pending' && !CmAuthControls.cust_pending_additional_settings_enabled ? '' : null">
                        <option [disabled]="fromTabName === 'existing' && !CmAuthControls.cust_existing_additional_settings_enabled
                        || fromTabName === 'pending' && !CmAuthControls.cust_pending_additional_settings_enabled"
                            [value]=encoding *ngFor="let encoding of charsetEncodings"> {{encoding}} </option>
                    </select>
                </div>
                <div class="col-3">
                    <label>DLR Type</label>
                    <select class="dropdown-select w-100" formControlName="selectedDlrType"
                        [attr.disabled]="fromTabName === 'existing' && !CmAuthControls.cust_existing_additional_settings_enabled
                                        || fromTabName === 'pending' && !CmAuthControls.cust_pending_additional_settings_enabled ? '' : null">
                        <option [disabled]="fromTabName === 'existing' && !CmAuthControls.cust_existing_additional_settings_enabled
                        || fromTabName === 'pending' && !CmAuthControls.cust_pending_additional_settings_enabled"
                            [value]=dlr *ngFor="let dlr of dlrTypes"> {{dlr}} </option>
                    </select>
                </div>
            </div>
            <div class="row route-det-div">
                <label class="col-6 font-weight-bold">ROUTING</label>
                <div class="col-5">
                    <div class="row bg-grey">
                        <div class="col-9 border-right">
                            <label>Intl. Customer Type - <span>
                                    <select class="dropdown-select"
                                        (change)="fromTabName === 'existing' && CmAuthControls.cust_existing_routing_change_enabled
                                    || fromTabName === 'pending' && CmAuthControls.cust_pending_routing_change_enabled && onChangeCustomerType($event)"
                                        formControlName="selectedCustomerType"
                                        [attr.disabled]="fromTabName === 'existing' && !CmAuthControls.cust_existing_routing_change_enabled
                                        || fromTabName === 'pending' && !CmAuthControls.cust_pending_routing_change_enabled ? '' : null">
                                        <option [value]=ctype *ngFor="let ctype of customerTypes"> {{ctype}} </option>
                                    </select></span>
                            </label>
                        </div>
                        <div class="col-3 mt-2">
                            <label class="checkbox-label col-4 ml-15" for="lcr_only" title="LCR only">LCR
                                <input type="checkbox" [checked]="lcrOnly === 1" id="lcr_only"
                                    (click)="fromTabName === 'existing' && CmAuthControls.cust_existing_routing_change_enabled
                                    || fromTabName === 'pending' && CmAuthControls.cust_pending_routing_change_enabled && onChangeLcrOnly($event)" formControlName="lcrOnly"
                                    [attr.disabled]="fromTabName === 'existing' && !CmAuthControls.cust_existing_routing_change_enabled
                                        || fromTabName === 'pending' && !CmAuthControls.cust_pending_routing_change_enabled ? '' : null">
                                <span class="checkmark"></span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row routing-div-radio">
                <div class="col-4">
                    <!-- <input type="radio" class="custom-control-input"  value="lcr1" id="lcr1" *ngIf="!lcrAndGwRadioEnabled"> -->
                    <input type="radio" class="custom-control-input"
                        [attr.disabled]="lcrRadioEnabled == true ? true : null" value="lcr" id="lcr"
                        [checked]="selectedRouteType === 'lcr'" formControlName="selectedRouteType">
                    <label class="" for="lcr"
                        (click)="lcrRadioEnabled && fromTabName === 'existing' && CmAuthControls.cust_existing_routing_change_enabled
                        || fromTabName === 'pending' && CmAuthControls.cust_pending_routing_change_enabled ? setradio('lcr') : isSelected('gw')">Least
                        Cost Routing</label>

                    <div class="route-edit-div" *ngIf="isSelected('lcr')">
                        <div class="triangle-up"></div>
                        <select class="dropdown-select w-100" disabled>
                            <option [value]=rtype *ngFor="let rtype of lcrRouteType"> {{rtype}} </option>
                        </select>
                    </div>
                </div>
                <div class="col-4">
                    <input type="radio" class="custom-control-input" value="gt" id="gt"
                        [checked]="selectedRouteType === 'gt'" formControlName="selectedRouteType">
                    <label for="gt"
                        (click)="fromTabName === 'existing' && CmAuthControls.cust_existing_routing_change_enabled
                    || fromTabName === 'pending' && CmAuthControls.cust_pending_routing_change_enabled && setradio('gt')">Gateway</label>
                    <div class="route-edit-div" *ngIf="isSelected('gt')">
                        <div class="triangle-up"></div>
                        <select class="dropdown-select mb-3 w-100" formControlName="primary_gwid">
                            <!-- <option value="" default>Select Primary Gateway</option> -->
                            <option [value]=gateway.gw_id *ngFor="let gateway of gateways"> {{gateway.gw_name}}
                            </option>
                        </select>
                        <select class="dropdown-select w-100" formControlName="fallback_gwid">
                            <option [value]=gateway.gw_id *ngFor="let gateway of gateways"> {{gateway.gw_name}}
                            </option>
                        </select>
                    </div>
                </div>
                <div class="col-4">
                    <!-- <input type="radio" class="custom-control-input"  value="pr1" id="pr1" *ngIf="!lcrAndGwRadioEnabled"> -->
                    <input type="radio" class="custom-control-input"
                        [attr.disabled]="prRadioEnabled == true ? true : null" value="pr" id="pr"
                        [checked]="selectedRouteType === 'pr'" formControlName="selectedRouteType">
                    <label for="pr"
                        (click)="prRadioEnabled && fromTabName === 'existing' && CmAuthControls.cust_existing_routing_change_enabled
                    || fromTabName === 'pending' && CmAuthControls.cust_pending_routing_change_enabled ? setradio('pr') : isSelected('gw')">Pool
                        Routing</label>
                    <div class="route-edit-div" *ngIf="isSelected('pr')">
                        <div class="triangle-up"></div>
                        <section class="search-suggestion-wrapper">
                            <input formControlName="selectedPoolRouteName" type="search"
                                class="form-control search-suggestion-input" placeholder="Enter Route Name"
                                autocomplete="off" />
                            <div class="pad-r-3" *ngIf="poolRoutes?.length && showdropdown == true">
                                <span class="suggestion-select">
                                    <span *ngFor="let result of poolRoutes" class="filter-select-list"
                                        (click)="onSelectPoolRoute(result)">
                                        <span class="filter-product-wrapper">
                                            <a class="rateCard-name">
                                                {{ result.route_name }}
                                            </a>
                                        </span>
                                    </span>
                                </span>
                            </div>
                        </section>
                    </div>
                    <div class="text-right mt-3">
                        <a class="erp-intl-modal-link"
                            [ngClass]="{'isDisabled': !CmAuthControls.cust_existing_customer_test_routing_enabled }"
                            (click)="CmAuthControls.cust_existing_customer_test_routing_enabled && open(routingTestModal)">Test
                            Routing</a>
                    </div>
                </div>
            </div>
            <span class="text-danger pl-1 f-12" *ngIf="routeTypeError !=''">
                {{routeTypeError}}
            </span>
            <div class="row bg-grey process-det-div text-center mx-0">
                <div class="col-3 brder-right">
                    <label>Process ROW</label>
                    <div class="col-12">
                        <label class="toggle-switch">
                            <input type="checkbox" formControlName="process_row" class="switch-btn"
                                [checked]="process_row === 1"
                                (change)="$event.target.checked?process_row=1:process_row=0">
                            <span class="slider round"></span>
                        </label>
                    </div>
                </div>
                <div class="col-4 brder-right">
                    <div class="row">
                        <div class="col-8"><label>Process @ Loss</label></div>
                        <div class="col-4">
                            <label class="toggle-switch">
                                <input type="checkbox" class="switch-btn" formControlName="process_at_loss"
                                    [checked]="process_at_loss === 1" (change)="handleStatus($event)"> 
                                <span class="slider round"></span>
                            </label>
                        </div>
                        <input type="text" class="form-control" placeholder="Enter max loss per SMS Threshold"
                            formControlName="max_loss_per_sms" />
                    </div>
                    <span class="text-danger pull-left f-12" *ngIf="errorMessageProcessAtLoss.length > 0">
                        {{errorMessageProcessAtLoss}}</span>
                </div>
                <div class="col-4">
                    <div class="row mb-1">
                        <div class="col-6">TimeZone</div>
                        <div class="col-6 day-light-check">
                            <label class="checkbox-label pl-0" for="day-light">Day Light
                                <input type="checkbox" id="day-light" disabled>
                                <span class="checkmark"></span>
                            </label>
                        </div>
                    </div>
                    <select class="dropdown-select w-100" formControlName="selectedTzString"
                        (change)="onChangeTimezone($event)">
                        <option [value]=timeZone.cntry_offset *ngFor="let timeZone of timeZones"
                            title="{{timeZone.timezone}}">{{timeZone.country_name}} (UTC{{timeZone.offset}})</option>
                    </select>
                    <span class="text-danger pull-left f-12"
                        *ngIf="updateAccountFormGroup.get('selectedTzString').hasError('required')">
                        Timezone is required
                    </span>
                </div>
            </div>
            <div class="row">
                <div class="col-12 process-det-div">
                    <label>Comments</label>
                    <textarea class="form-group w-100 p-3" rows="3" placeholder="Enter Comment here"
                        formControlName="comments"></textarea>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-12">
                    <label class="checkbox-label msg-notify-label" for="msg-notify">
                        Send Failed message Notification to Account Manager
                        <input type="checkbox" id="msg-notify" [checked]="notifysales === 1"
                            formControlName="notifysales"
                            [attr.disabled]="fromTabName === 'existing' && !CmAuthControls.cust_existing_additional_settings_enabled
                            || fromTabName === 'pending' && !CmAuthControls.cust_pending_additional_settings_enabled ? '' : null">
                        <span class="checkmark"></span>
                    </label>
                </div>
            </div>
            <div class="col-12 text-center">
                <input type="button" class="btn btn-basic mr-3" *ngIf="isSelected('lcr')" value="Save"
                    (click)="set('permanent')">
                <button class="btn btn-basic mr-3" *ngIf="!isSelected('lcr')"
                    (click)="open(selectedRouteModal)">Save</button>
                <button class="btn erp-intl-btn mr-3" [ngClass]="{'isDisabled':fromTabName === 'existing' && !CmAuthControls.cust_existing_customer_show_margin_enabled 
                 || fromTabName === 'pending' && !CmAuthControls.cust_pending_for_activation_show_margin_enabled}"
                    [disabled]="fromTabName === 'existing' && !CmAuthControls.cust_existing_customer_show_margin_enabled ||
                    fromTabName === 'pending' && !CmAuthControls.cust_pending_for_activation_show_margin_enabled"
                    (click)="fromTabName === 'existing' && CmAuthControls.cust_existing_customer_show_margin_enabled ||
                    fromTabName === 'pending' && CmAuthControls.cust_pending_for_activation_show_margin_enabled ? set('showmargin') : ''">Show
                    Margin</button>
                <a [ngClass]="{'isDisabled': !CmAuthControls.cust_existing_customer_audit_logs_enabled }"
                    [routerLink]="CmAuthControls.cust_existing_customer_audit_logs_enabled ? ['/customer-management/customer-management-audit-log', esmeaddr, fromTabName] : []"
                    class="btn btn-basic">Audit Log</a>
            </div>
            <!-- </form> -->
        </div>

        <!-- modal pop-up -->
        <ng-template #routingTestModal let-c="close" let-d="dismiss">
            <button type="button" class="offset-11 col-1 modal-close-btn" aria-label="Close"
                (click)="d('Cross click')">&times;</button>
            <div class="modal-body">
                <form action="">
                    <div class="row">
                        <div class="col-6">
                            <label>Country</label>
                            <select class="dropdown-select w-100">
                                <option value="" default>Select Country</option>
                                <option value="">option1</option>
                                <option value="">option2</option>
                                <option value="">option3</option>
                            </select>
                        </div>
                        <div class="col-6">
                            <label>Operator</label>
                            <select class="dropdown-select w-100">
                                <option value="" default>Select Operator</option>
                                <option value="">option1</option>
                                <option value="">option2</option>
                                <option value="">option3</option>
                            </select>
                        </div>
                    </div>
                    <div class="row my-3">
                        <div class="col-6">
                            <label>Sender ID</label>
                            <select class="dropdown-select w-100">
                                <option value="" default>Select Sender ID</option>
                                <option value="">option1</option>
                                <option value="">option2</option>
                                <option value="">option3</option>
                            </select>
                        </div>
                        <div class="col-6">
                            <label>Mobile Number</label>
                            <input type="text" class="form-control" placeholder="Enter Mobile Number" />
                        </div>
                    </div>
                    <div class="mt-4">
                        <textarea class="form-group w-100" rows="3" placeholder="Type Test Message"></textarea>
                    </div>
                    <div class="col-12 text-center">
                        <input type="submit" class="btn erp-intl-btn" value="Send" />
                    </div>
                </form>
            </div>
        </ng-template>

        <!-- route selected modal pop-up -->
        <ng-template #selectedRouteModal let-c="close" let-d="dismiss">
            <button type="button" class="offset-11 col-1 modal-close-btn" aria-label="Close"
                (click)="d('Cross click')">&times;</button>
            <div class="modal-body">
                <label class="modal-heading">ROUTE CHANGE</label>
                <!-- <form action=""> -->
                <div class="row">
                    <div class="col-12">
                        <label class="mr-3">Selected Route</label>
                        <span class="border-right">&nbsp;</span>
                        <span class="ml-3"><b>Gateway</b></span>
                    </div>
                </div>
                <hr>
                <div class="row  mb-3">
                    <div class="col-4">
                        <label>Effective From now</label>
                        <input type="submit" class="btn btn-basic w-100 text-center" value="Permanent"
                            (click)="set('permanent')">
                    </div>
                    <div class="col-4 route-effective-calendar">
                        <label>Effective Till</label>
                        <app-date-time-picker [params]="params" (selectDate)="getDateSelection($event)">
                        </app-date-time-picker>
                    </div>
                    <div class="col-4 mt-1 pull-left">
                        <span>&nbsp;</span><br>
                        <button class="btn btn-basic mr-3" (click)="set('temp')">Set</button>
                    </div>
                </div>
                <div class="col-12 px-0" *ngIf="effectiveTillError">
                    <p>{{errorMessage}}</p>
                </div>
                <div class="col-12 px-0">
                    <p><b>Permanent: </b>The route change you have selected will be a permanent change and
                        will be effective from now on.</p>
                </div>
                <div class="col-12 px-0">
                    <p><b>Effective Period:</b> The route change you have selected will be effective based on the
                        duration
                        selected and will rollback to the current route after the effective period.</p>
                </div>
                <!-- </form> -->
            </div>
        </ng-template>

        <app-cm-show-margin *ngIf="showMargin" [marginPageInput]="marginPageInput" (notify)='onNotify($event)'>
        </app-cm-show-margin>

    </form>
</div>


<div class="pt-3 center-block h-100"
    *ngIf="fromTabName === 'pending' && !CmAuthControls.cust_existing_customers_enabled">
    <div class="d-block">
        <img style="width: 150px;" src="assets/icons/icon-lock.png" alt="" />
        <span class="w-100 d-block">
            Your are not <b>Authorized</b> to access this page
        </span>
    </div>
</div>