<div class="row btm-border headings-div">
    <div class="col-12">
        <label class="main-heading">
            <a routerLink="/customer-management">CUSTOMER MANAGEMENT /</a></label>
        <span> {{esmeaddr}}</span>
    </div>
</div>
<div class="row btm-border second-row-det">
    <div class="col-12">
        <div class="row">
            <div class="col-12">
                <label class="mr-2"><b>ESME Addr.</b></label>
                <span class="border-right">&nbsp;</span>
                <span class="ml-3 badge badge-dark esme-addr"><b>{{usersData?.esmeaddr}}</b></span>
            </div>
        </div>
        <div class="row gateway-count">
            <div class="col-3">
                <label>Company Name <span class="badge badge-dark ml-2"><b>{{usersData?.company_name}}</b></span>
                </label>
            </div>
            <div class="col-3">
                <label>Billing Type <span class="badge badge-dark ml-2"><b>{{usersData?.billing_type}}</b></span></label>
            </div>
            <div class="col-3">
                <label>Intl. Route Type <span class="badge badge-dark ml-2"><b>{{usersData?.intl_routetype}}</b></span></label>
            </div>
            <div class="col-3">
                <label>Billing Currency <span class="badge badge-dark ml-2"><b>{{usersData?.billing_currency}}</b></span></label>
            </div>
        </div>
    </div>

</div>
<div class="data-container m-lr_15">
    <div class="row border-bottom pb-4">
        <div class=" form-group col-4">
            <label>Bill Plan</label>
            <input type="text" class="form-control" placeholder="Enter Billplan Name" />
        </div>
        <div class="col-1 billplan-view mr-4">
            <a routerLink="/billplan-management/postpaid/country/assigned-ratecard-view"> <i class="fa fa-eye"></i></a>
        </div>
        <div class="col-3 border-left pl-4">
            <label>Char.Set Encoding</label>
            <select class="dropdown-select w-100">
                <option [value]=encoding *ngFor="let encoding of charsetEncodings"> {{encoding}} </option>
            </select>
        </div>
        <div class="col-3">
            <label>DLR Type</label>
            <select class="dropdown-select w-100">
                <option [value]=dlr *ngFor="let dlr of dlrTypes"> {{dlr}} </option>
            </select>
        </div>
    </div>
    <div class="row route-det-div">
        <label class="col-6 font-weight-bold">ROUTING</label>
        <div class="col-5">
          <div class="row bg-grey">
              <div class="col-9 border-right">
                  <label>Intl. Customer Type -<span>
                    <select class="dropdown-select">
                        <option value="" default>Wholesale</option>
                        <option value="">option1</option>
                        <option value="">option2</option>
                        <option value="">option3</option>
                    </select></span>
                </label>
              </div>
              <div class="col-3 mt-2">
                <label class="checkbox-label col-4 ml-15" for="lcr">LCR
                    <input type="checkbox" checked="checked" id="lcr">
                    <span class="checkmark"></span>
                </label>
            </div>
          </div>
        </div>
    </div>

    <div class="row routing-div-radio">
        <div class="col-4">

            <input type="radio" class="custom-control-input" name="routes" value="lcr" id="lcr" [checked]='true'>
            <label class="" for="lcr" (click)="setradio('lcr')">Least Cost Routing</label>

            <div class="route-edit-div" *ngIf="isSelected('lcr')">
                <div class="triangle-up"></div>
                <select class="dropdown-select w-100">
                    <option value="" default>Wholesale</option>
                    <option value="">option1</option>
                    <option value="">option2</option>
                    <option value="">option3</option>
                </select>
            </div>
        </div>
        <div class="col-4">
            <input type="radio" class="custom-control-input" name="routes" value="gt" id="gt" ngModel>
            <label for="gt" (click)="setradio('gt')">Gateway</label>
            <div class="route-edit-div" *ngIf="isSelected('gt')">
                <div class="triangle-up"></div>
                <select class="dropdown-select mb-3 w-100">
                    <option value="" default>Select Primary Gateway</option>
                    <option value="">option1</option>
                    <option value="">option2</option>
                    <option value="">option3</option>
                </select>
                <select class="dropdown-select w-100">
                    <option value="" default>Select Fallback Gateway</option>
                    <option value="">option1</option>
                    <option value="">option2</option>
                    <option value="">option3</option>
                </select>
            </div>
        </div>
        <div class="col-4">

            <input type="radio" class="custom-control-input" name="routes" value="pr" id="pr" ngModel>
            <label for="pr" (click)="setradio('pr')">Pool Routing</label>
            <div class="route-edit-div" *ngIf="isSelected('pr')">
                <div class="triangle-up"></div>
                <input type="text" class="form-control" placeholder="Enter Route Name" />
            </div>
            <div class="text-right mt-3">
                <a class="erp-intl-modal-link" (click)="open(routingTestModal)">Test Routing</a>
            </div>
        </div>
    </div>
    <div class="row bg-grey process-det-div text-center mx-0">
        <div class="col-3 brder-right">
            <label>Process ROW</label>
            <div class="col-12">
                <label class="toggle-switch">
                    <input type="checkbox" [(ngModel)]="process_row"
                            (click)="handleStatus()" class="switch-btn"
                            [checked]="process_row === 1">
                    <span class="slider round"></span>
                </label>
            </div>
        </div>
        <div class="col-4 brder-right">
            <div class="row">
                <div class="col-8"><label>Process @ Loss</label></div>
                <div class="col-4">
                    <label class="toggle-switch">
                        <input type="checkbox" class="switch-btn" checked>
                        <span class="slider round"></span>
                    </label>
                </div>
                <input type="text" class="form-control" placeholder="Enter max loss per SMS Threshold" />
            </div>
        </div>
        <div class="col-4">
            <div class="row mb-1">
                <div class="col-6">TimeZone</div>
                <div class="col-6 day-light-check">
                    <label class="checkbox-label pl-0" for="day-light">Day Light
                        <input type="checkbox" id="day-light">
                        <span class="checkmark"></span>
                    </label>
                </div>
            </div>
            <input type="text" class="form-control" placeholder="UTC - 22:36:42" />
        </div>
    </div>
    <div class="row">
        <div class="col-12 process-det-div">
            <label>Comments</label>
            <textarea class="form-group w-100 p-3" rows="3" placeholder="Enter Comment here"></textarea>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-12">
            <label class="checkbox-label msg-notify-label" for="msg-notify">
                Send Failed message Notification to Account Manager
                <input type="checkbox" id="msg-notify">
                <span class="checkmark"></span>
            </label>
        </div>
    </div>
    <div class="col-12 text-center">
        <input type="submit" class="btn btn-basic mr-3" *ngIf="isSelected('lcr')" value="Save" >
        <button class="btn btn-basic mr-3"  *ngIf="isSelected('gt')" (click)="open(selectedRouteModal)">Save</button>
        <button class="btn btn-basic mr-3"  *ngIf="isSelected('pr')" (click)="open(selectedRouteModal)">Save</button>
        <a routerLink="/customer-management/customer-management-show-margin-list" class="btn erp-intl-btn mr-3">Show Margin</a>
        <a routerLink="/customer-management/customer-management-audit-log" class="btn btn-basic">Audit Log</a>
    </div>
</div>

<!-- modal pop-up -->
<ng-template #routingTestModal let-c="close" let-d="dismiss">
    <button type="button" class="offset-11 col-1 modal-close-btn" aria-label="Close" (click)="d('Cross click')">&times;</button>
    <div class="modal-body">
        <form action="">
            <div class="row">
                <div class="col-6">
                    <label>Country</label>
                    <select class="dropdown-select w-100">
                        <option value="" default>Select Country</option>
                        <option value="">option1</option>
                        <option value="">option2</option>
                        <option value="">option3</option>
                    </select>
                </div>
                <div class="col-6">
                    <label>Operator</label>
                    <select class="dropdown-select w-100">
                        <option value="" default>Select Operator</option>
                        <option value="">option1</option>
                        <option value="">option2</option>
                        <option value="">option3</option>
                    </select>
                </div>
            </div>
            <div class="row my-3">
                <div class="col-6">
                    <label>Sender ID</label>
                    <select class="dropdown-select w-100">
                        <option value="" default>Select Sender ID</option>
                        <option value="">option1</option>
                        <option value="">option2</option>
                        <option value="">option3</option>
                    </select>
                </div>
                <div class="col-6">
                    <label>Mobile Number</label>
                    <input type="text" class="form-control" placeholder="Enter Mobile Number" />
                </div>
            </div>
            <div class="mt-4">
                <textarea class="form-group w-100" rows="3" placeholder="Type Test Message"></textarea>
            </div>
            <div class="col-12 text-center">
                <input type="submit" class="btn erp-intl-btn" value="Send" />
            </div>
        </form>
    </div>
</ng-template>

<!-- route selected modal pop-up -->
<ng-template #selectedRouteModal let-c="close" let-d="dismiss">
    <button type="button" class="offset-11 col-1 modal-close-btn" aria-label="Close" (click)="d('Cross click')">&times;</button>
    <div class="modal-body">
        <label class="modal-heading">ROUTE CHANGE</label>
        <form action="">
            <div class="row">
                <div class="col-12">
                    <label class="mr-3">Selected Route</label>
                    <span class="border-right">&nbsp;</span>
                    <span class="ml-3"><b>Gateway</b></span>
                </div>
            </div><hr>
            <div class="row  mb-3">
               <div class="col-5">
                   <label>Effective From now</label>
                   <input type="submit" class="btn btn-basic w-100 text-center" value="Permanent" >
                  
               </div>
               <div class="col-7 route-effective-calendar">
                <label>Effective Till</label>
                <app-date-time-picker></app-date-time-picker>
               </div>
            </div>

            <div class="col-12 px-0">
                <p><b>Permanent: </b>The route change you have selected will be a permanent change and
                 will be effective from now on.</p> 
            </div>
            <div class="col-12 px-0">
                <p><b>Effective Period:</b> The route change you have selected will be effective based on the duration
                selected and will rollback to the current route after the effective period.</p> 
            </div>
        </form>
    </div> 
</ng-template>