<div class="row btm-border headings-div">
    <div class="col-8">
        <label class="main-heading"> <a routerLink="/gateway-management">GATEWAY MANAGEMENT / </a></label>
        <span><a routerLink="/gateway-management/gateway-details/{{GtSenderIdWhiteList?.data.gw_id}}">
                {{GtSenderIdWhiteList?.data.gw_id}} -
                {{GtSenderIdWhiteList?.data.gw_name}} /</a> SENDERID’s WHITELISTED</span>
    </div>
    <div class="col-4 text-right">
        <button class="btn erp-intl-btn" (click)="open(senderIdModal)">Add SenderID</button>
    </div>
</div>
<div class="row btm-border second-row-det">
    <div class="col-7">
        <div class="row mb-2">
            <div class="col-3 border-right"><label>Gateway ID</label></div>
            <div class="col-8"><span><b>{{GtSenderIdWhiteList?.data.gw_id}}</b></span></div>
        </div>
        <div class="row">
            <div class="col-3 border-right"><label>Gateway Name</label></div>
            <div class="col-8"><span><b>{{GtSenderIdWhiteList?.data.gw_name}}</b></span></div>
        </div>
    </div>
    <div class="col-2 text-right">
        <!-- <select class="dropdown-select fa">
            <option value="" default>
                &#xf1de;
            </option>
        </select> -->
    </div>
    <div class="col-3">
        <div class="form-group">
            <input type="search" class="form-control" placeholder="&#xf002; Search by Country, SenderID"
                name="searchvalue" [(ngModel)]="searchvalue" />
        </div>
    </div>
</div>
<div class="main-container table-responsive">
    <table class="table table-borderless erp-list-table">
        <thead>
            <tr>
                <th>Country</th>
                <th>SenderID</th>
                <th>Creation Date and Time<i class="fa fa-caret-down"></i></th>
                <th>&nbsp;</th>
            </tr>
        </thead>
        <tbody>
            <tr
                *ngFor="let item of GtSenderIdWhiteList?.data.tabledata | filter: { country: searchvalue, senderid: searchvalue }">
                <td class="font-weight-semi-bold">{{item.country}}</td>
                <td class="font-weight-semi-bold">{{item.senderid}}</td>
                <td>{{item.date}} | {{item.time}}</td>
                <td>
                    <img (click)="handleDelete(item.gw_id, item.id)" alt="delete icon" class="img-fluid"
                        src="assets/icons/delete-icon.svg">
                </td>
            </tr>
        </tbody>
    </table>
</div>
<!-- modal pop-up -->
<ng-template #senderIdModal let-c="close" let-d="dismiss">
    <button type="button" class="offset-11 col-1 modal-close-btn" aria-label="Close"
        (click)="d('Cross click')">&times;</button>
    <div class="modal-body">
        <form action="" [formGroup]="addSenderidFormGroup" (ngSubmit)="onSubmitaddSenderid(addSenderidFormGroup.value)">
            <div class="row">
                <div class="col-4 border-right"><label>Gateway ID</label></div>
                <div class="col-8"><span><b>{{GtSenderIdWhiteList?.data.gw_id}}</b></span></div>
                <div class="col-4 border-right"><label>Gateway Name</label></div>
                <div class="col-8"><span><b>{{GtSenderIdWhiteList?.data.gw_name}}</b></span></div>
            </div>
            <div class="row mt-4">
                <div class="col-6 form-group">
                    <label>Country</label>
                    <select class="dropdown-select w-100" formControlName="country" name="country">
                        <option value="" default>Select Country</option>
                        <option value="1">option1</option>
                        <option value="2">option2</option>
                        <option value="3">option3</option>
                    </select>
                    <span class="text-danger pl-1 f-12"
                        *ngIf="addSenderidFormGroup.get('country').hasError('required') && isAddSenderidValid">
                        Country is required
                    </span>
                </div>
                <div class="form-group col-6">
                    <label>SenderID</label>
                    <input type="search" class="form-control" id="" placeholder="Enter SenderID"
                        formControlName="senderid" name="senderid" />
                    <span class="text-danger pl-1 f-12"
                        *ngIf="addSenderidFormGroup.get('senderid').hasError('required') && isAddSenderidValid">
                        SenderID is required
                    </span>
                </div>
                <div class="form-group col-6">
                    <div class="upload-btn-wrapper">
                        <button class="upload-btn">
                            <i class="fa fa-upload mr-1" aria-hidden="true"></i>Browse file to
                            upload</button>
                        <input type="file" name="" />
                    </div>
                </div>
                <div class="col-12 text-center">
                    <input type="reset" class="btn btn-basic mr-3" value="Cancel" aria-label="Close"
                        (click)="d('Cross click')">
                    <input type="submit" class="btn erp-intl-btn save-btn" value="Save">
                </div>
            </div>
        </form>
    </div>

</ng-template>