<div class="row btm-border headings-div" *ngIf="GtMgmtAuthControls.gw_whitelisted_senderid_list_enabled">
    <div class="col-8">
        <label class="main-heading"> <a routerLink="/gateway-management">GATEWAY MANAGEMENT / </a></label>
        <span><a routerLink="/gateway-management/gateway-details/{{GtSenderIdWhiteList?.data.gw_id}}">
                {{GtSenderIdWhiteList?.data.gw_id}} - {{GtSenderIdWhiteList?.data.gw_name}} /</a>
            SENDERID’s WHITELISTED</span>
    </div>
    <div class="col-4 text-right">
        <button class="btn erp-intl-btn" (click)="open(senderIdModal)">Add SenderID</button>
    </div>
</div>
<div class="row btm-border second-row-det" *ngIf="GtMgmtAuthControls.gw_whitelisted_senderid_list_enabled">
    <div class="col-7">
        <div class="row mb-2">
            <div class="col-3 border-right"><label>Gateway ID</label></div>
            <div class="col-8"><span><b>{{GtSenderIdWhiteList?.data.gw_id}}</b></span></div>
        </div>
        <div class="row">
            <div class="col-3 border-right"><label>Gateway Name</label></div>
            <div class="col-8"><span><b>{{GtSenderIdWhiteList?.data.gw_name}}</b></span></div>
        </div>
    </div>
    <div class="col-2 text-right">
        <!-- <select class="dropdown-select fa">
            <option value="" default>
                &#xf1de;
            </option>
        </select> -->
    </div>
    <div class="col-3">
        <div class="form-group">
            <input type="search" class="form-control" placeholder="&#xf002; Search by Country, SenderID"
                name="searchvalue" [(ngModel)]="searchvalue" />
        </div>
    </div>
</div>
<div class="main-container table-responsive" *ngIf="GtMgmtAuthControls.gw_whitelisted_senderid_list_enabled">
    <table class="table table-borderless erp-list-table mb-0">
        <thead>
            <tr>
                <th>Country</th>
                <th>SenderID</th>
                <th class="cursor-pointer" (click)="sort('date')">Creation Date and Time
                    <i class="fa fa-caret-down"></i>
                    <i [ngClass]="{'fa fa-arrow-up sorticon m-1': sortingName==='date' && isDesc}"></i>
                    <i [ngClass]="{'fa fa-arrow-down sorticon m-1': sortingName==='date' && !isDesc}"></i>
                </th>
                <th>&nbsp;</th>
            </tr>
        </thead>
        <tbody>
            <tr
                *ngFor="let item of GtSenderIdWhiteList?.data.tabledata | filter: { country: searchvalue, senderid: searchvalue } | sort: sortingName: !isDesc">
                <td class=" font-weight-semi-bold">{{item.country}}</td>
                <td class="font-weight-semi-bold">{{item.senderid}}</td>
                <td>{{item.date}} | {{item.time}}</td>
                <td
                    [ngClass]="{'disabled-func': GtMgmtAuthControls.gw_whitelisted_senderid_delete_enabled ? null : true }">
                    <img [ngClass]="{'cursor-pointer': !GtMgmtAuthControls.gw_whitelisted_senderid_delete_enabled ? null : true }"
                        (click)="GtMgmtAuthControls.gw_whitelisted_senderid_delete_enabled ? handleDelete(item.gw_id, item.id) : ''"
                        alt="delete icon" class="img-fluid" src="assets/icons/delete-icon.svg">
                </td>
            </tr>
            <tr *ngIf="GtSenderIdWhiteList?.data.tabledata.length == 0">
                <td colspan="4" class="text-center py-3 main-heading">No data Found</td>
            </tr>
        </tbody>
    </table>
</div>
<!-- modal pop-up -->
<ng-template #senderIdModal let-c="close" let-d="dismiss">
    <button type="button" class="offset-11 col-1 modal-close-btn" aria-label="Close"
        (click)="d('Cross click')">&times;</button>
    <div class="modal-body">
        <form action="" [formGroup]="addSenderidFormGroup" (ngSubmit)="onSubmitaddSenderid(addSenderidFormGroup.value)">
            <div class="row">
                <!-- <pre>Form values: {{addSenderidFormGroup.value | json}}</pre> -->
            </div>
            <div class="row">
                <div class="col-4 border-right"><label>Gateway ID</label></div>
                <div class="col-8"><span><b>{{GtSenderIdWhiteList?.data.gw_id}}</b></span></div>
                <div class="col-4 border-right"><label>Gateway Name</label></div>
                <div class="col-8"><span><b>{{GtSenderIdWhiteList?.data.gw_name}}</b></span></div>
            </div>
            <div class="row mt-4">
                <div class="col-6 form-group">
                    <label>Country</label>
                    <select class="dropdown-select w-100" formControlName="country" name="country">
                        <option value="" default>Select Country</option>
                        <option *ngFor="let item of GtSenderIdCountryList?.data" value="{{item}}">{{item}}</option>
                    </select>
                    <span class="text-danger pl-1 f-12"
                        *ngIf="addSenderidFormGroup.get('country').hasError('required') && isAddSenderidValid">
                        Country is required
                    </span>
                </div>
                <div class="form-group col-6">
                    <label>SenderID</label>
                    <input type="search" class="form-control" id="" placeholder="Enter SenderID"
                        formControlName="senderid" name="senderid" />
                    <span class="text-danger pl-1 f-12"
                        *ngIf="addSenderidFormGroup.get('senderid').hasError('required') && isAddSenderidValid">
                        SenderID is required
                    </span>
                </div>
                <div class="form-group col-12">
                    (OR)
                </div>
                <div class="form-group col-6">
                    <div class="upload-btn-wrapper">
                        <button class="upload-btn">
                            <i class="fa fa-upload mr-1" aria-hidden="true"></i>Browse file to
                            upload</button>
                        <input type="file" name="file" (change)="fileUpload($event.target.files)" />
                    </div>
                    <span *ngIf="addSenderidFormGroup.get('file').value">
                        {{addSenderidFormGroup.get('file').value}}
                        <img (click)="removeSenderIdFile()" alt="delete icon" class="img-fluid cursor-pointer"
                            src="assets/icons/delete-icon.svg">
                    </span>
                    <span class="text-danger pl-1 f-12"
                        *ngIf="addSenderidFormGroup.get('file').hasError('required') && isAddSenderidValid">
                        File is required
                    </span>
                </div>
                <div class="col-12 text-center">
                    <input type="reset" class="btn btn-basic mr-3" value="Cancel" aria-label="Close"
                        (click)="resetSenderIdForm();">
                    <input type="submit" class="btn erp-intl-btn save-btn" value="Save">
                </div>
            </div>
        </form>
    </div>

</ng-template>

<div class="pt-3 center-block h-100" *ngIf="!GtMgmtAuthControls.gw_whitelisted_senderid_list_enabled">
    <div class="d-block">
        <img style="width: 150px;" src="assets/icons/icon-lock.png" alt="" />
        <span class="w-100 d-block">
            Your are not <b>Authorized</b> to access this page
        </span>
    </div>
</div>