<div class="center-block" *ngIf="!isLoggedIn; else authorized">
    <div class="d-block">
        <img style="width: 150px;" src="assets/icons/icon-lock.png" />
        <span class="w-100 d-block">
            Invalid session. please try <b>login</b> again.
        </span>
    </div>
</div>

<ng-template #authorized>
    <app-navbar></app-navbar>
    <button type="button" class="btn btn-light ml-4 sidenav-btn" (click)="toggleClass()">
        <img src="assets/images/sidenav.png" alt="sidenav" />
    </button>

    <div class="container-fluid mt-100">
        <div class="row">
            <div class="col-3 sidebar-div" [class.active]="classApplied">
                <app-sidenav></app-sidenav>
            </div>
            <div class="col-12 detail-container" [class.active]="classApplied">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</ng-template>