<div class="row btm-border headings-div">
    <div class="col-12">
        <label class="main-heading">
            <a routerLink="/billplan-management">BILLPLAN MANAGEMENT /</a></label>
        <span><a routerLink="/billplan-management/home"> BILLPLAN /</a> CREATE-ASSIGN RATECARD</span>
    </div>
</div>

<div class="row second-row-det">
    <div class="col-7">
        <div class="row">
            <div class="col-12">
                <label class="mr-2"><b>Bill Plan Name</b></label>
                <span class="border-right">&nbsp;</span>
                <span class="ml-2"><b>{{this.billPlanDetailsViewData?.data.billplanname}}</b></span>
            </div>
        </div>
        <div class="row gateway-count">
            <div class="col-12">
                <label>Billplan Type</label>
                <span class="border-right">&nbsp;</span>
                <span class="ml-2 badge badge-dark f-14">
                    <b>{{this.billPlanDetailsViewData?.data.billingtype}}</b>
                </span>
            </div>
        </div>
    </div>
</div>
<form [formGroup]="rateCardSearchForm" (ngSubmit)="onrateCardSearchFormSubmit(rateCardSearchForm.value)">
    <!-- {{rateCardSearchForm.value | json}} -->
    <div class="row btm-border mt-2 second-row-det">
        <div class="col-3">
            <label>Rate Card Type</label>
            <select disabled formControlName="ratecardtype" class="dropdown-select w-100 dark-input">
                <option value="" default disabled>Select Rate Card Type</option>
                <option value="country">Country</option>
                <option value="country-operator">Country + Operator</option>
                <option value="flat-fixed">Flat / Fixed</option>
                <option value="group">Group</option>
                <option value="slab">Slab</option>
            </select>
        </div>
        <div class="col-4">
            <div class="form-group">
                <label>Ratecard Name</label>
                <section class="search-suggestion-wrapper">
                    <input formControlName="ratecardname" type="search"
                        class="form-control dark-input search-suggestion-input" placeholder="Enter Rate Card Name"
                        autocomplete="off" />
                    <div class="pad-r-3" *ngIf="rateCardNameList?.length && showdropdown == true">
                        <span class="suggestion-select">
                            <span *ngFor="let result of rateCardNameList" class="filter-select-list"
                                (click)="onSelectRateCardName(result)">
                                <span class="filter-product-wrapper">
                                    <a class="rateCard-name">
                                        {{ result.ratecard_name }}
                                    </a>
                                </span>
                            </span>
                        </span>
                    </div>
                    <span class="text-danger pl-1 f-12"
                        *ngIf="rateCardSearchForm.get('ratecardname').hasError('required') && rateCardValid">
                        Ratecard Name is required
                    </span>
                    <span class="text-danger pl-1 f-12"
                        *ngIf="rateCardSearchForm.get('ratecardname').hasError('pattern') && rateCardValid">
                        Ratecard Name is not valid input
                    </span>
                </section>
            </div>
        </div>
        <div class="col-5">
            <div class="form-group date-div">
                <label>Effective Date & Time from (IST) (HH:MM:SS => 00:00:00)</label>
                <app-calendar-picker [params]="params" (selectDate)="getDateSelection($event)"></app-calendar-picker>
            </div>
        </div>
        <div class="col-12 text-center" *ngIf="rateCardSearchForm.get('ratecardtype').value === 'country'">
            <div class="form-group">
                <a routerLink="/billplan-management/home" class="btn btn-basic mr-3">Cancel</a>
                <button type="submit" *ngIf="rateCardSearchForm.get('ratecardid').value != ''" class="btn erp-intl-btn">
                    Assign RateCard</button>
                <button type="submit" *ngIf="rateCardSearchForm.get('ratecardid').value == ''" class="btn erp-intl-btn">
                    Create RateCard</button>
            </div>
        </div>
        <div class="col-12 text-center" *ngIf="rateCardSearchForm.get('ratecardtype').value === 'country-operator'">
            <div class="form-group">
                <a routerLink="/billplan-management/home" class="btn btn-basic mr-3">Cancel</a>
                <button type="submit" *ngIf="rateCardSearchForm.get('ratecardid').value != ''" class="btn erp-intl-btn">
                    Assign RateCard</button>
                <button type="submit" *ngIf="rateCardSearchForm.get('ratecardid').value == ''" class="btn erp-intl-btn">
                    Create RateCard</button>
            </div>
        </div>
        <div class="col-12 text-center" *ngIf="rateCardSearchForm.get('ratecardtype').value === 'flat-fixed'">
            <div class="form-group">
                <a routerLink="/billplan-management/home" class="btn btn-basic mr-3">Cancel</a>
                <button type="submit" *ngIf="rateCardSearchForm.get('ratecardid').value != ''" class="btn erp-intl-btn">
                    Assign RateCard</button>
                <button type="submit" *ngIf="rateCardSearchForm.get('ratecardid').value == ''" class="btn erp-intl-btn">
                    Create RateCard</button>
            </div>
        </div>
        <div class="col-12 text-center" *ngIf="rateCardSearchForm.get('ratecardtype').value === 'group'">
            <div class="form-group">
                <a routerLink="/billplan-management/home" class="btn btn-basic mr-3">Cancel</a>
                <button type="submit" *ngIf="rateCardSearchForm.get('ratecardid').value != ''" class="btn erp-intl-btn">
                    Assign RateCard</button>
                <button type="submit" *ngIf="rateCardSearchForm.get('ratecardid').value == ''" class="btn erp-intl-btn">
                    Create RateCard</button>
            </div>
        </div>
        <div class="col-12 text-center" *ngIf="rateCardSearchForm.get('ratecardtype').value === 'slab'">
            <div class="form-group">
                <a routerLink="/billplan-management/home" class="btn btn-basic mr-3">Cancel</a>
                <button type="submit" *ngIf="rateCardSearchForm.get('ratecardid').value != ''" class="btn erp-intl-btn">
                    Assign RateCard</button>
                <button type="submit" *ngIf="rateCardSearchForm.get('ratecardid').value == ''" class="btn erp-intl-btn">
                    Create RateCard</button>
            </div>
        </div>
    </div>
</form>


<div class="main-container table-responsive">
    <table class="table table-borderless erp-list-table">
        <thead>
            <tr>
                <th>Rate Card Name</th>
                <th>Rate Card Type</th>
                <th>Effective Period</th>
                <th>Upload Date & Time</th>
                <th>Uploaded By</th>
                <th>&nbsp;</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of billPlanDetailsViewData?.data.tabledata">
                <td class="font-weight-semi-bold">
                    <a *ngIf="item.ratecardtype === 'country' || item.ratecardtype === 'Country'"
                        [routerLink]="['/billplan-management/postpaid/country/assigned-ratecard-view/', item.ratecardid, item.ratecardtype]">
                        {{item.ratecardname}}
                    </a>
                    <a *ngIf="item.ratecardtype === 'country-operator'"
                        [routerLink]="['/billplan-management/postpaid/country-operator/assigned-ratecard-view/', item.ratecardid, item.ratecardtype]">
                        {{item.ratecardname}}
                    </a>
                    <a *ngIf="item.ratecardtype === 'flat-fixed'"
                        [routerLink]="['/billplan-management/postpaid/flat-fixed/assigned-ratecard-view/', item.ratecardid, item.ratecardtype]">
                        {{item.ratecardname}}
                    </a>
                    <a *ngIf="item.ratecardtype === 'group' || item.ratecardtype === 'Group'"
                        [routerLink]="['/billplan-management/postpaid/group/assigned-ratecard-view/', item.ratecardid, item.ratecardtype]">
                        {{item.ratecardname}}
                    </a>
                    <a *ngIf="item.ratecardtype === 'slab' || item.ratecardtype === 'Slab'"
                        [routerLink]="['/billplan-management/postpaid/slab/assigned-ratecard-view/', item.ratecardid, item.ratecardtype]">
                        {{item.ratecardname}}
                    </a>
                </td>
                <td>{{item.ratecardtype}}</td>
                <td>{{item.fromeffectivedate}} | Present</td>
                <td>{{item.uploaddate}} | {{item.uploadtime}}</td>
                <td>{{item.uploaduser}}</td>
                <td>
                    <img *ngIf="item.deleteenabled" (click)="delete(item.billplanid, item.ratecardid)"
                        src="assets/icons/delete-icon.svg" class="img-fluid cursor-pointer" alt="delete icon" />
                </td>
            </tr>
        </tbody>
    </table>
</div>