<div class="row btm-border headings-div">
    <div class="col-8">
        <label class="main-heading">GATEWAY MANAGEMENT</label>
    </div>
    <div class="col-4 text-right">
        <a routerLink="/gateway-management/create-gateway" routerLinkActive="active" class="btn erp-intl-btn">Create Gateway</a>
    </div>
</div>
<div class="row btm-border second-row-det">
    <div class="col-7">
        <div class="row">
            <div class="col-12">
                <label class="mr-2"><b>Total</b></label>
                <span class="border-right">&nbsp;</span>
                <span class="ml-3 badge badge-dark"><b>435</b></span>
            </div>
        </div>
        <div class="row gateway-count">
            <div class="col-3">
                <label>Premium <span class="badge badge-dark"><b>290</b></span>
                </label>
            </div>
            <div class="col-3 gateway-detail">
                <label>Direct <span class="badge badge-dark"><b>290</b></span></label>
            </div>
            <div class="col-3 gateway-detail">
                <label>Wholesale <span class="badge badge-dark"><b>290</b></span></label>
            </div>
        </div>
    </div>
    <div class="col-1 mt-1 w-100">
        <select class="dropdown-select w-100 fa">
            <option value="" default> &#xf1de;</option>
            <option value="" default>option1 </option>
            <option value="" default>option2 </option>
        </select>
    </div>
    <div class="col-3 text-right mt-1">
        <div class="form-group">
            <input type="search" class="form-control" placeholder="&#xf002; Search by ID, Name" />
        </div>
    </div>
    <div class="col-1">
        <button class="icon-btn" href="#"><i aria-hidden="true" class="fa fa-download"></i></button>
    </div>

</div>
<div class="main-container table-responsive">
    <table class="table table-borderless erp-list-table row-hover-effect">
        <thead>
            <tr>
                <th>Gateway ID</th>
                <th>Name</th>
                <th>Type<i class="fa fa-caret-down"></i></th>
                <th>Last Modified Date & Time<i class="fa fa-caret-down"></i></th>
                <th>Price Updated On<i class="fa fa-caret-down"></i></th>
                <th>Status (Active/ Inactive)</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="font-weight-bold"><a routerLink="/gateway-management/gateway-details/">NX</a></td>
                <td>Nexmo</td>
                <td>Premium</td>
                <td>28/10/2019 | 23:25:00</td>
                <td>28/10/2019 | 23:25:00</td>
                <td>
                    <div class="form-group text-center">
                        <label class="toggle-switch">
                            <input type="checkbox" class="switch-btn">
                            <span class="slider round"></span>
                        </label>
                    </div>
                </td>
            </tr>
            <tr>
                <td class="font-weight-bold">NX</td>
                <td>Message Bird</td>
                <td>Wholesale</td>
                <td>28/10/2019 | 23:25:00</td>
                <td>28/10/2019 | 23:25:00</td>
                <td>
                    <div class="form-group text-center">
                        <label class="toggle-switch">
                            <input type="checkbox" class="switch-btn" checked>
                            <span class="slider round"></span>
                        </label>
                    </div>
                </td>
            </tr>
            <tr>
                <td class="font-weight-bold">NX</td>
                <td>Tanla</td>
                <td>Direct</td>
                <td>28/10/2019 | 23:25:00</td>
                <td>28/10/2019 | 23:25:00</td>
                <td>
                    <div class="form-group text-center">
                        <label class="toggle-switch">
                            <input type="checkbox" class="switch-btn">
                            <span class="slider round"></span>
                        </label>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>

