<div class="row btm-border headings-div">
    <div class="col-8">
        <label class="main-heading">GATEWAY MANAGEMENT</label>
    </div>
    <div class="col-4 text-right">
        <a routerLink="create-gateway" routerLinkActive="active" class="btn erp-intl-btn">Create Gateway</a>
    </div>
</div>
<div class="row btm-border second-row-det">
    <div class="col-7">
        <div class="row">
            <div class="col-12">
                <label class="mr-2"><b>Total</b></label>
                <span class="border-right">&nbsp;</span>
                <span class="ml-3 badge badge-dark"><b>{{gatewayData?.data.total}}</b></span>
            </div>
        </div>
        <div class="row gateway-count">
            <div class="col-3">
                <label>Premium <span class="badge badge-dark"><b>{{gatewayData?.data.premium}}</b></span>
                </label>
            </div>
            <div class="col-3 gateway-detail">
                <label>Direct <span class="badge badge-dark"><b>{{gatewayData?.data.direct}}</b></span></label>
            </div>
            <div class="col-3 gateway-detail">
                <label>Wholesale <span class="badge badge-dark"><b>{{gatewayData?.data.wholesale}}</b></span></label>
            </div>
        </div>
    </div>
    <div class="col-1 mt-1 w-100">
        <select #type class="dropdown-select w-100 fa" (change)="selectType(type.value)">
            <option value="All" default></option>
            <option value="Recently Modified">Recently Modified</option>
            <option value="Direct">Direct</option>
            <option value="premium">Premium</option>
            <option value="Wholesale">Wholesale</option>
            <option value="Only Active">Only Active</option>
            <option value="Only InActive">Only InActive</option>
        </select>
    </div>
    <div class="col-3 text-right mt-1">
        <div class="form-group">
            <input type="search" [(ngModel)]="searchText" class="form-control"
                placeholder="&#xf002; Search by ID, Name" />
        </div>
    </div>
    <div class="col-1">
        <button class="icon-btn" href="#"><i aria-hidden="true" class="fa fa-download"></i></button>
    </div>

</div>
<div class="main-container table-responsive">
    <table class="table table-borderless erp-list-table row-hover-effect">
        <thead>
            <tr>
                <th>Gateway ID</th>
                <th>Name</th>
                <th>Type<i class="fa fa-caret-down"></i></th>
                <th>Last Modified Date & Time<i class="fa fa-caret-down"></i></th>
                <th>Price Updated On<i class="fa fa-caret-down"></i></th>
                <th>Status (Active/ Inactive)</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of gatewayData?.data.tabledata | filter : searchText: 1">
                <td class="font-weight-bold"><a routerLink="/gateway-management/gateway-details/">{{item.gw_id}}</a>
                </td>
                <td>{{item.gw_name}}</td>
                <td>{{item.gw_type}}</td>
                <td>{{item.lastdate }} | {{item.lasttime}}</td>
                <td>{{item.pricedate }} | {{item.pricetime}}</td>
                <td>
                    <div class="form-group text-center">
                        <label class="toggle-switch">
                            <input type="checkbox" disabled class="switch-btn" [checked]="item.status === 1">
                            <span class="slider round"></span>
                        </label>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>