<div class="row btm-border second-row-pr">
  <div class="col-7 mt-2">
    <label class="mr-2"><b>Total Numbers</b></label>
    <span class="border-right">&nbsp;</span>
    <span class="ml-3 badge badge-dark"
      ><b>{{ blMobileData?.total }}</b></span
    >
  </div>

  <div class="col-3 text-right">
    <input
      type="search"
      class="form-control"
      placeholder="&#xf002; Search by Mobile Number"
      name="searchvalue"
      [(ngModel)]="searchvalue"
    />
  </div>
  <div class="col-2 text-right">
    <a
      routerLink="/route-management/blacklist/add-route"
      class="btn erp-intl-btn"
      >Add Route</a
    >
  </div>
</div>
<div class="main-container table-responsive">
  <table class="table table-borderless erp-list-table row-hover-effect">
    <thead>
      <tr>
        <th (click)="sort('mobile')">
          Mobile Number
          <i
            *ngIf="sortingName === 'mobile' && isDesc"
            class="fa fa-arrow-down sorticon m-1"
          ></i>
          <i
            *ngIf="sortingName === 'mobile' && !isDesc"
            class="fa fa-arrow-up sorticon m-1"
          ></i>
        </th>
        <th (click)="sort('blacklist_type')">
          Blacklisting Type
          <i
            *ngIf="sortingName === 'blacklist_type' && isDesc"
            class="fa fa-arrow-down sorticon m-1"
          ></i>
          <i
            *ngIf="sortingName === 'blacklist_type' && !isDesc"
            class="fa fa-arrow-up sorticon m-1"
          ></i>
        </th>
        <th (click)="sort('date')">
          Blacklisted Date & Time
          <i
            *ngIf="sortingName === 'date' && isDesc"
            class="fa fa-arrow-down sorticon m-1"
          ></i>
          <i
            *ngIf="sortingName === 'date' && !isDesc"
            class="fa fa-arrow-up sorticon m-1"
          ></i>
        </th>
        <th (click)="sort('createdby')">
          Blacklisted By
          <i
            *ngIf="sortingName === 'createdby' && isDesc"
            class="fa fa-arrow-down sorticon m-1"
          ></i>
          <i
            *ngIf="sortingName === 'createdby' && !isDesc"
            class="fa fa-arrow-up sorticon m-1"
          ></i>
        </th>
        <th>&nbsp;</th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="
          let blmobile of blMobileData?.mobile_list
            | filter: { mobile: searchvalue }
            | sort: sortingName:isDesc
        "
      >
        <td class="font-weight-semi-bold">{{ blmobile.mobile }}</td>
        <td>{{ blmobile.blacklist_type }}</td>
        <td>{{ blmobile.date }}&nbsp;|&nbsp;{{ blmobile.time }}</td>
        <td>{{ blmobile.createdby }}</td>
        <td>
          <img
            src="assets/icons/delete-icon.svg"
            class="img-fluid"
            alt="delete icon"
            (click)="deleteBlMobile(blmobile)"
          />
        </td>
      </tr>
      <tr
        *ngIf="
          !blMobileData?.mobile_list.length ||
          (blMobileData?.mobile_list | filter: { mobile: searchvalue })
            .length == 0
        "
      >
        <td colspan="5" style="text-align: center;">No Records Found</td>
      </tr>
    </tbody>
  </table>
</div>
