<div class="row btm-border headings-div first-row" *ngIf="GtMgmtAuthControls.gw_view_enabled">
    <div class="col-5">
        <label class="main-heading pl-2">
            <a routerLink="/gateway-management">GATEWAY MANAGEMENT / </a></label>
        <span> {{GtDetailsData?.data.gw_id}} - {{GtDetailsData?.data.gw_name}}</span>
    </div>
    <div class="col-7 text-right">
        <div class="row">
            <div class="col-8 border-right">
                <a [ngClass]="{'disabled': GtMgmtAuthControls.gw_countries_list_enabled ? null : true }"
                    *ngIf="GtDetailsData"
                    [routerLink]="GtMgmtAuthControls.gw_countries_list_enabled ? ['/gateway-management/country-list/', GtDetailsData?.data.gw_id,GtDetailsData?.data.gw_name] : ''"
                    class="btn btn-basic mr-2 ">Countries List</a>
                <a [ngClass]="{'disabled': GtMgmtAuthControls.gw_rate_files_audit_logs_enabled ? null : true }"
                    *ngIf="GtDetailsData"
                    [routerLink]="GtMgmtAuthControls.gw_rate_files_audit_logs_enabled ? ['/gateway-management/file-audit-log/',GtDetailsData?.data.gw_id,GtDetailsData?.data.gw_name]: []"
                    class="btn erp-intl-btn">File Audit</a>
            </div>
            <div class="col-2 border-right text-center" *ngIf="GtDetailsData">
                <a [ngClass]="{'disabled-func': GtMgmtAuthControls.gw_rateupload_enabled ? null : true }"
                    [routerLink]="GtMgmtAuthControls.gw_rateupload_enabled ? ['/gateway-management/update-gateway/', gwId,GtDetailsData?.data.gw_name,GtDetailsData?.data.currency_id] : []"
                    class="fa-2x icon-btn icons-div"><i class="fa fa-upload" aria-hidden="true"></i>
                </a>
            </div>
            <div class="col-2 text-center">
                <a [ngClass]="{'disabled-func': GtMgmtAuthControls.gw_edit_enabled ? null : true }"
                    [routerLink]="GtMgmtAuthControls.gw_edit_enabled ? ['/gateway-management/edit-gateway/', gwId] : []"
                    class="fa-2x icon-btn icons-div"><img src="assets/icons/edit-icon.svg" alt="edit" />
                </a>
            </div>
        </div>
    </div>
</div>
<div class="row second-row-det" *ngIf="GtMgmtAuthControls.gw_view_enabled">
    <div class="col-4">
        <div class="row mb-2">
            <div class="col-5 border-right"><label>Gateway ID</label></div>
            <div class="col-6"><span><b>{{GtDetailsData?.data.gw_id}}</b></span></div>
        </div>
        <div class="row mb-2">
            <div class="col-5 pr-0 border-right"><label>Gateway Name</label></div>
            <div class="col-6"><span><b>{{GtDetailsData?.data.gw_name}}</b></span></div>
        </div>
        <div class="row">
            <div class="col-5 border-right"><label>Gateway Type</label></div>
            <div class="col-6"><b>{{GtDetailsData?.data.gw_type}}</b>
                <span *ngIf="GtDetailsData?.data.exclude_lcr == 1"> (Non-LCR)</span>
            </div>
        </div>
    </div>
    <div class="col-8 p-0 gateway-description">
        <div class="row ">
            <div class="border-right ">
                <label>Status</label>
                <span class="badge badge-white mr-3">{{GtDetailsData?.data.status == 1 ? 'Active' : 'In-active'}}</span>
            </div>
            <div class="ml-3">
                <label>Message Type</label>
                <span class="badge badge-white">{{GtDetailsData?.data.msg_type}}</span>
            </div>
        </div>
        <div class="row">
            <div class="border-right" *ngIf="GtDetailsData?.data.is_bill_on_submission == 1">
                <span class="badge badge-white mr-3">Bill on Submission</span>
            </div>
            <div class="border-right ml-3">
                <label>Billing Type</label>
                <span class="badge badge-white mr-3">{{GtDetailsData?.data.billing_type}}</span>
            </div>
            <div class="ml-3 border-right">
                <label>Gateway Currency</label>
                <span class="badge badge-white mr-3" [innerHTML]="GtDetailsData?.data.currency_symbol"></span>
            </div>
            <div class="ml-3">
                <label>Gateway Timezone</label>
                <span class="badge badge-white">{{GtDetailsData?.data.timezone}}</span>
            </div>
        </div>
        <div class="row">
            <div class="border-right ">
                <label>Throughput</label>
                <span class="badge badge-white mr-3">{{GtDetailsData?.data.tps}}</span>
            </div>
            <div class="ml-3 border-right">
                <label>CharSet Encoding</label>
                <span class="badge badge-white mr-3">{{GtDetailsData?.data.charset_enc}}</span>
            </div>
            <div class="ml-3">
                <label>DLR Type</label>
                <span class="badge badge-white">{{GtDetailsData?.data.dlr_type}}</span>
            </div>
        </div>
    </div>
</div>
<section *ngIf="GtMgmtAuthControls.gw_view_enabled">
    <div class="data-container mb-3">
        <label class="gateway-section-heading">VALIDATION</label>
        <section class="main-section validation-section">
            <div class="row">
                <div class="form-group col-4">
                    <div class="row ml-2">
                        <label class="col-8">Sender ID Whitelisting Required</label>
                        <div class="col-4">
                            <label class="toggle-switch">
                                <input type="checkbox" class="switch-btn" disabled
                                    [checked]="GtDetailsData?.data.senderid_whitelist_required === 1">
                                <span class="slider round cursor-default"></span>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group col-3">
                    <label class="col-5 px-0">Sender ID Type</label>
                    <span class="badge badge-light col-5">
                        <b>{{senderIdType[GtDetailsData?.data.senderid_type]}}</b>
                    </span>
                </div>
                <div class="form-group col-5 row pl-0 mx-0">
                    <label class="col-4">Mobile Blacklisted</label>
                    <div class="col-2">
                        <label class="toggle-switch">
                            <input type="checkbox" class="switch-btn" disabled
                                [checked]="GtDetailsData?.data.mobileblocklist === 1">
                            <span class="slider round cursor-default"></span>
                        </label>
                    </div>
                </div>
            </div>
            <div class="row validation-det mb-3">
                <div class="col-3 text-center bg-grey">
                    <a *ngIf="GtDetailsData"
                        routerLink="['/gateway-management/country-list/', GtDetailsData?.data.gw_id,GtDetailsData?.data.gw_name]">
                        <label class="box-heading">Supported Destination</label>
                        <div class="row">
                            <div class="col-6 box-data">
                                <label>Active<span><b>{{GtDetailsData?.data.activedestination}}</b></span></label>
                            </div>
                            <div class="col-6 box-data">
                                <label>In-active<span><b>{{GtDetailsData?.data.inactivedestination}}</b></span></label>
                            </div>
                            <div class="col-12">
                                <span class="number-data">{{GtDetailsData?.data.totaldestination}}</span>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-3 text-center bg-grey">
                    <a *ngIf="GtDetailsData"
                        [routerLink]="GtMgmtAuthControls.gw_whitelisted_senderid_list_enabled ? ['/gateway-management/sender-id-whitelist/', GtDetailsData?.data.gw_id,GtDetailsData?.data.gw_name] : []">
                        <label class="box-heading">Sender IDs Whitelisted</label>
                        <div class="row">
                            <div class="col-6 box-data">
                                <label>Numeric<span><b>{{GtDetailsData?.data.numericsenderid}}</b></span></label>
                            </div>
                            <div class="col-6 box-data">
                                <label>Alphabetic<span><b>{{GtDetailsData?.data.alphabeticsenderid}}</b></span></label>
                            </div>
                            <div class="col-12 text-center">
                                <span class="number-data">{{GtDetailsData?.data.senderidcount}}</span>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="col-3 text-center bg-grey">
                    <a *ngIf="GtDetailsData"
                        [routerLink]="GtMgmtAuthControls.gw_blacklisted_senderid_content_list_enabled ? ['/gateway-management/senderid-content-block/', GtDetailsData?.data.gw_id,GtDetailsData?.data.gw_name] : []">
                        <label class="box-heading">Sender ID + Content Blocked</label>
                        <div class="row">
                            <div class="col-12 text-center pt-4">
                                <span class="number-data">{{GtDetailsData?.data.senderidcontent}}</span>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-3 text-center bg-grey">
                    <a *ngIf="GtDetailsData"
                        routerLink="/gateway-management/esme-addr-routed/{{GtDetailsData?.data.gw_id}}/{{GtDetailsData?.data.gw_name}}">
                        <label class="box-heading">No. of ESMEAddr routed
                            <br>(On Gateway directly)
                        </label>
                        <div class="row">
                            <div class="col-12 text-center">
                                <span class="number-data">{{GtDetailsData?.data.noofesmeaddrs}}</span>
                            </div>
                        </div>
                    </a>
                </div>
            </div>

        </section>
    </div>
    <div class="data-container mb-3">
        <div class="row">
            <label class="gateway-section-heading col-6">GATEWAY ACTIVITIES</label>
            <div class="col-6 text-right f-12">
                <a *ngIf="GtDetailsData"
                    [ngClass]="{'disabled-func': GtMgmtAuthControls.gw_activity_logs_enabled ? null : true }"
                    [routerLink]="GtMgmtAuthControls.gw_activity_logs_enabled ? ['/gateway-management/details-view-log/',GtDetailsData?.data.gw_id, GtDetailsData?.data.gw_name] : []"
                    class="font-weight-bold">
                    View Activities Logs<i class="fa fa-angle-double-right ml-1"></i>
                </a>
            </div>
        </div>
        <section class="main-section validation-section">
            <div class="row">
                <div class="form-group col-3 gateway-activity-detail">
                    <label class="col-12">Creation Date & Time</label>
                    <div class="row ml-1 font-weight-bold">
                        <div class="col-7 border-right">
                            <span>{{GtDetailsData?.data.cdate}}</span>
                        </div>
                        <div class="col-5">
                            <span>{{GtDetailsData?.data.ctime}}</span>
                        </div>
                    </div>
                </div>

                <div class="form-group col-3 gateway-activity-detail">
                    <label class="col-12">Last Modification Date & Time</label>
                    <div class="row font-weight-bold ml-1">
                        <div class="col-7 border-right">
                            <span>{{GtDetailsData?.data.mdate}}</span>
                        </div>
                        <div class="col-5">
                            <span>{{GtDetailsData?.data.mtime}}</span>
                        </div>
                        <span *ngIf="!(GtDetailsData?.data.mdate && GtDetailsData?.data.mtime)"
                            class="text-center col-8">-</span>
                    </div>
                </div>
                <div class="form-group col-2 gateway-activity-detail">
                    <label class="col-12">Last Modified User</label>
                    <span class="col-12 font-weight-bold">
                        <img src="assets/images/user-image.png" alt="user" class="username-img mr-3" />
                        {{GtDetailsData?.data.modifiedby ? GtDetailsData?.data.modifiedby : '-'}}</span>


                </div>
                <div class="form-group col-3">
                    <label class="col-12">Last Price Change Date & Time</label>
                    <div class="row ml-1 font-weight-bold">
                        <div class="col-6 border-right">
                            <span>{{GtDetailsData?.data.pdate}}</span>
                        </div>
                        <div class="col-6">
                            <span>{{GtDetailsData?.data.ptime}}</span>
                        </div>
                        <span *ngIf="!(GtDetailsData?.data.pdate && GtDetailsData?.data.ptime)"
                            class="text-center col-8">-</span>
                    </div>
                </div>

            </div>
            <div class="row validation-det mb-3">
                <div class="card bg-grey text-center" (click)="open(addedCountryListModal)">
                    <div class="card-body">
                        <label class="box-heading">No. of Countries Added
                            <br>(In Current Month)</label>
                        <div class="row">
                            <div class="col-12">
                                <span class="number-data">{{GtDetailsData?.data.addcountrypercurrentmonth}}</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card bg-grey text-center" (click)="open(inactiveCountryListModal)">
                    <div class="card-body">
                        <label class="box-heading">No. of Countries Inactivated
                            <br>(In Current Month)</label>
                        <div class="row">
                            <div class="col-12">
                                <span class="number-data">{{GtDetailsData?.data.inactivecountrypercurrentmonth}}</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card bg-grey text-center" (click)="open(priceChangeCountryListModal)">
                    <div class="card-body">
                        <label class="box-heading">Price Changed for No. of Countries
                            <br>(In Current Month)</label>
                        <div class="row">
                            <div class="col-12">
                                <span class="number-data">{{GtDetailsData?.data.noofcountrypricechanged}}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </section>
    </div>
    <div class="data-container mb-3">
        <label class="gateway-section-heading">GLIMPSE ON PERFORMANCE</label>
        <section class="main-section performance-section">
            <div class="row performance-det mb-3">
                <div class="col-3 bg-grey text-center">
                    <label class="box-heading">Current Month</label>
                    <span class="number-data">{{GtDetailsData?.data.currentmonthcount}}</span>
                </div>
                <div class="col-3 traffic-destination mt-2">
                    <label>Top 5 Traffic Destination</label>
                    <div class="row">
                        <div *ngFor="let item of GtDetailsData?.data.top5traffic" class="col-6 mb-1">
                            <span class="badge badge-light">
                                {{item.name}}
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-3 traffic-destination mt-2">
                    <label>Top 5 Profitable Destination</label>
                    <div class="row">
                        <div *ngFor="let item of GtDetailsData?.data.top5profitable" class="col-6 mb-1">
                            <span class="badge badge-light">
                                {{item.name}}
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-3 traffic-destination mt-2">
                    <label>Least 5 Profitable Destination</label>
                    <div class="row">
                        <div *ngFor="let item of GtDetailsData?.data.least5profitable" class="col-6 mb-1">
                            <span class="badge badge-light">
                                {{item.name}}
                            </span>
                        </div>
                    </div>
                </div>
            </div>

        </section>
    </div>
</section>

<!-- modal pop-up -->
<ng-template #addedCountryListModal let-c="close" let-d="dismiss">
    <button type="button" class="offset-11 col-1 modal-close-btn" aria-label="Close"
        (click)="d('Cross click')">&times;</button>
    <div class="modal-body">
        <form action="">
            <div class="row font-weight-bold">
                <div class="col-4 border-right"><label>Gateway Name</label></div>
                <div class="col-7 ml-1"><span>{{GtAddedCountryListData?.data.gw_name}}</span></div>
            </div>
            <div class="row my-2 f-14">
                <div class="col-3"><label>Total Countries</label></div>
                <div class="col-9"><span class="badge badge-dark">{{GtAddedCountryListData?.data.total}}</span>
                </div>
            </div>
            <div class="row">
                <div class="table-responsive senderid-list-table">
                    <table class="table table-borderless erp-list-table">
                        <tbody>
                            <tr *ngFor="let item of GtAddedCountryListData?.data.data; index as i">
                                <td [attr.data-index]="i">{{item}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </form>
    </div>
</ng-template>
<ng-template #inactiveCountryListModal let-c="close" let-d="dismiss">
    <button type="button" class="offset-11 col-1 modal-close-btn" aria-label="Close"
        (click)="d('Cross click')">&times;</button>
    <div class="modal-body">
        <form action="">
            <div class="row font-weight-bold">
                <div class="col-4 border-right"><label>Gateway Name</label></div>
                <div class="col-7 ml-1"><span>{{GtInactiveCountryListData?.data.gw_name}}</span></div>
            </div>
            <div class="row my-2 f-14">
                <div class="col-3"><label>Total Countries</label></div>
                <div class="col-9"><span class="badge badge-dark">{{GtInactiveCountryListData?.data.total}}</span>
                </div>
            </div>
            <div class="row">
                <div class="table-responsive senderid-list-table">
                    <table class="table table-borderless erp-list-table">
                        <tbody>
                            <tr *ngFor="let item of GtInactiveCountryListData?.data.data; index as i">
                                <td [attr.data-index]="i">{{item}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </form>
    </div>
</ng-template>
<ng-template #priceChangeCountryListModal let-c="close" let-d="dismiss">
    <button type="button" class="offset-11 col-1 modal-close-btn" aria-label="Close"
        (click)="d('Cross click')">&times;</button>
    <div class="modal-body">
        <form action="">
            <div class="row font-weight-bold">
                <div class="col-4 border-right"><label>Gateway Name</label></div>
                <div class="col-7 ml-1"><span>{{GtPriceChangeCountryListData?.data.gw_name}}</span></div>
            </div>
            <div class="row my-2 f-14">
                <div class="col-3"><label>Total Countries</label></div>
                <div class="col-9"><span class="badge badge-dark">{{GtPriceChangeCountryListData?.data.total}}</span>
                </div>
            </div>
            <div class="row">
                <div class="table-responsive senderid-list-table">
                    <table class="table table-borderless erp-list-table">
                        <tbody>
                            <tr *ngFor="let item of GtPriceChangeCountryListData?.data.data; index as i">
                                <td [attr.data-index]="i">{{item}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </form>
    </div>
</ng-template>

<div class="pt-3 center-block h-100" *ngIf="!GtMgmtAuthControls.gw_view_enabled">
    <div class="d-block">
        <img style="width: 150px;" src="assets/icons/icon-lock.png" alt="" />
        <span class="w-100 d-block">
            Your are not <b>Authorized</b> to access this page
        </span>
    </div>
</div>