<div class="row btm-border">
    <div class="col-8 pt-10">
        <label class="main-heading">
            <a routerLink="/billplan-management">BILLPLAN MANAGEMENT /</a></label>
        <span><a routerLink="/billplan-management/home"> BILLPLAN /</a> CREATE NEW</span>
    </div>
    <div class="col-4 dropdown text-right pt-2 mb-2" ngbDropdown>
        <span class="green-heading">BILL TYPE - POSTPAID</span>

        <button class="btn dropdown-basic px-4" style="cursor: not-allowed;" id="erp-dropdown" >
            Flat / Fixed</button>

    </div>
</div>
<div class="btm-border second-row-pr mb_10">
    <div class="row">
        <div class="col-3 text-right">
            <div class="form-group">
              <button class="btn w-100 dropdown-basic" style="cursor: not-allowed;" [innerHTML]=" ratecard_name" ></button>
            </div>
        </div>
        <div class="col-3 offset-6 text-right">
            <div class="form-group">
              <button class="btn w-100 dropdown-basic" style="cursor: not-allowed;"  innerHTML="Billing Rate ({{currencySybmol.bCurrency.symbol}})" >
                Country + Operator </button>
              </div>
        </div>
    </div>
</div>
<div class="main-container p-4 second-form-div">
  <form [formGroup] ="fixedRateFrom" (ngSubmit)="onSubmit()">
    <div class="row">
            <div class="col-6">
                <label class="font-weight-bold col-12">Flat / Fixed</label>
                <div class="gt-ratio-div">
                <div class="row">
                    <div class="col-6">
                      <label
                      innerHTML="Billing Rate ({{currencySybmol.bCurrency.symbol}})"></label>
                        <div class="form-group">
                          <input type="text" class="form-control"
                              formControlName="billing_rate" placeholder="Enter Rate" maxlength="10" />
                          <span class="text-danger pl-1 f-12"
                          *ngIf="fixedRateFrom.get('billing_rate').hasError('required') && Submitted">
                              Billing Rate is required
                          </span>
                          <span class="text-danger pl-1 f-12"
                          *ngIf="fixedRateFrom.get('billing_rate').hasError('pattern') && fixedRateFrom.get('billing_rate').dirty">
                              Please enter valid input
                          </span>
                      </div>
                    </div>
                    <div class="col-6">
                      <label
                      innerHTML="Normalize Rate ({{currencySybmol.nCurrency.symbol}})"></label>
                        <div class="form-group">
                          <input type="number" class="form-control" disabled
                              [value]="round(control.billing_rate.value)"
                              formControlName="normalize_rate" placeholder="" />
                      </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-6">
            <label class="font-weight-bold col-12">Discount in % or Amount in €</label>
            <div class="gt-ratio-div">
                <div class="row">
                    <div class="col-6">
                        <label>Discount Amount</label>
                        <div class="form-group">
                          <input type="search" class="form-control" id="" placeholder="Enter Discount"
                              formControlName="discount_rate" />
                      </div>
                    </div>
                    <div class="col-6 mt-31 discount-select">
                      <select class="dropdown-select w-100" formControlName="discount_type">
                        <option value="percentage" default>Percentage</option>
                        <option value="amount">Amount</option>
                    </select>
                    </div>


                </div>

            </div>
        </div>

    </div>

    <div class="row mt-4">
        <div class="col-12">
            <Label class="font-weight-bold"  >Description:</Label>
            <textarea rows="4" class="w-100" formControlName="description" placeholder="Enter short Description here"></textarea>
        </div>
    </div>

    <div class="row mt-4 create-route-section">
        <div class="col-12 text-center">
          <button type="reset" class="btn btn-basic mr-3"
          [routerLink]="['/billplan-management-postpaid/', fixedRateFrom.get('billplan_id').value]"> Cancel</button>
          <button type="submit" class="btn erp-intl-btn" > Save</button>

        </div>
    </div>
  </form>
</div>
