<div class="row btm-border">
    <div class="col-8 pt-10">
        <label class="main-heading">
            <a routerLink="/billplan-management">BILLPLAN MANAGEMENT /</a></label>
        <span><a routerLink="/billplan-management/home"> BILLPLAN /</a> CREATE NEW</span>
    </div>
    <div class="col-4 dropdown text-right pt-2 mb-2" ngbDropdown>
        <span class="green-heading">BILL TYPE - POSTPAID</span>

        <button class="btn dropdown-basic dropdown-toggle" id="erp-dropdown" ngbDropdownToggle>
            Flat / Fixed</button>
        <div class="dropdown-menu" ngbDropdownMenu aria-labelledby="erp-dropdown">
            <a class="dropdown-item" routerLink="/billplan-management/prepaid/country/create-ratecard">Country</a>
            <a class="dropdown-item" routerLink="/billplan-management/prepaid/country-operator/create-ratecard">Country + Operator</a>
        </div>
    </div>
</div>
<div class="btm-border second-row-pr mb_10">
    <div class="row">
        <div class="col-3 text-right">
            <div class="form-group">
                <input type="search" class="form-control" id="" placeholder="Lorem Ispum" />
            </div>
        </div>
        <div class="col-3 offset-6 text-right">
            <div class="form-group">
                <input type="search" class="form-control" id="" placeholder="Bill Plan Currency (€)" />
            </div>
        </div>
    </div>
</div>
<div class="main-container p-4 second-form-div">
    <div class="row">
            <div class="col-6">
                <label class="font-weight-bold">Flat / Fixed</label>
                <div class="gt-ratio-div">
                <div class="row mb-2">
                    <div class="col-6">
                        <label>Billing Rate (€)</label>
                        <div class="form-group">
                            <input type="search" class="form-control" id="" placeholder="Enter Rate" />
                        </div>
                    </div>
                    <div class="col-6">
                        <label>Normalize Rate (€)</label>
                        <div class="form-group">
                            <input type="search" class="form-control" id="" placeholder="0.0678" />
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="row mt-4">
        <div class="col-12">
            <Label class="font-weight-bold">Description:</Label>
            <textarea rows="4" class="w-100" placeholder="Enter short Description here"></textarea>
        </div>
    </div>

    <div class="row mt-4 create-route-section">
        <div class="col-12 text-center">
            <input type="reset" class="btn btn-basic mr-3" value="Cancel" />
            <input type="submit" class="btn erp-intl-btn" value="Save" />
        </div>
    </div>
</div>
