<div class="row btm-border">
  <div class="col-8 pt-10">
    <label class="main-heading">
      <a routerLink="/route-management">ROUTE MANAGEMENT /</a></label>
    <span><a routerLink="/route-management/custom-route/sender-id">
        CUSTOM ROUTE - SENDERID & CONTENT /</a>
      CREATE NEW</span>
  </div>
  <div class="col-4 dropdown text-right pt-2 mb-2" ngbDropdown>
    <button class="btn dropdown-basic dropdown-toggle" id="erp-dropdown" ngbDropdownToggle>
      SenderID + Template
    </button>
    <div class="dropdown-menu" ngbDropdownMenu aria-labelledby="erp-dropdown">
      <a class="dropdown-item" routerLink="/route-management/custom-route/add-route/mobile-route">Mobile Number</a>
      <a class="dropdown-item" routerLink="/route-management/custom-route/add-route/senderid-mobile-route">
        Mobile + SenderID</a>
    </div>
  </div>
</div>
<div *ngIf="authService.authorizationState.route_mgmt.customroute_senderidcontent_add_route_enabled">
  <div class="main-container p-4">
    <form [formGroup]="senderContentFrom" (ngSubmit)="onSubmit()">
      <mat-radio-group class="mat-radio-group" formControlName="whitelist_type"
        (change)="cmobilesenderUpload = null; selectedFile = null; onChange()">
        <mat-radio-button class="mat-radio-button" *ngFor="let labelname of accounts" [value]="labelname">
          {{ labelname }}
        </mat-radio-button>
      </mat-radio-group>

      <div class="input-container">
        <div *ngIf="control['whitelist_type'].value == 'Global'">
          <div class="create-custom-route-div">
            <div class="row">
              <div class="form-group col-4">
                <label>Country</label>
                <select class="dropdown-select w-100" (change)="getCountryBasedOperator(control.country.value)"
                  formControlName="country">
                  <option value="null" disabled>Select country</option>
                  <option *ngFor="let cnt of countriesData" [value]="cnt.country">
                    {{ cnt.country }}
                  </option>
                </select>
                <div *ngIf="
                  control.country.errors &&
                  (submitted ||
                    control.country.touched ||
                    control.country.dirty)
                " class="text-danger">
                  <div *ngIf="control.country.errors.required">
                    Country is required
                  </div>
                </div>
              </div>
              <div class="form-group col-4">
                <label>Operator</label>
                <select class="dropdown-select w-100" formControlName="operator">
                  <option value="null" disabled>Select operator</option>
                  <option *ngFor="let op of operatorList" [value]="op.operator">
                    {{ op.operator }}
                  </option>
                </select>
                <div *ngIf="
                  control.operator.errors &&
                  (submitted ||
                    control.operator.touched ||
                    control.operator.dirty)
                " class="text-danger">
                  <div *ngIf="control.operator.errors.required">
                    Operator is required
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="form-group col-4">
                <label>Type Template</label>
                <input type="text" class="form-control"  maxlength="500"  formControlName="template" placeholder="Type Template" />
              </div>
              <div class="form-group col-4">
                <label>SenderId</label>
                <input type="text" class="form-control" placeholder="Enter SenderID" formControlName="senderid" />
                <div *ngIf="
                  control.senderid.errors &&
                  (submitted ||
                    control.senderid.touched ||
                    control.senderid.dirty)
                " class="text-danger">
                  <div *ngIf="control.senderid.errors.required">
                    Sender Id is required
                  </div>
                  <div *ngIf="control.senderid.errors.pattern">
                    Invalid Sender Id.
                  </div>
                </div>
              </div>
              <div class="form-group col-4">
                <label>Priority</label>
                <select class="dropdown-select w-100" formControlName="priority">
                  <option value="null" disabled>Select Priority</option>
                  <option *ngFor="let priority of priorities" [value]="priority">
                    {{ priority }}
                  </option>
                </select>
                <div *ngIf="
                  control.priority.errors &&
                  (submitted ||
                    control.priority.touched ||
                    control.priority.dirty)
                " class="text-danger">
                  <div *ngIf="control.priority.errors.required">
                    Priority is required
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="form-group col-4">
                <label>Primary Gateway</label>
                <select class="dropdown-select w-100" formControlName="primary_gw_id">
                  <option value="null" disabled>Select Primary Gateway</option>
                  <option *ngFor="let gateway of gatewayListData" [value]="gateway.gw_id" [disabled]="
                    control.fallback_gw_id.value &&
                    gateway.gw_id === control.fallback_gw_id.value
                  ">
                    <span class="mr-1" style="font-weight: bolder;">{{ gateway.gw_id }}&nbsp;-</span>
                    {{ gateway.gw_name }}
                  </option>
                </select>

                <div *ngIf="
                  control.primary_gw_id.errors &&
                  (submitted ||
                    control.primary_gw_id.touched ||
                    control.primary_gw_id.dirty)
                " class="text-danger">
                  <div *ngIf="control.primary_gw_id.errors.required">
                    Primary Gateway is required
                  </div>
                </div>
              </div>
              <div class="form-group col-4">
                <label>Fallback Gateway</label>
                <select class="dropdown-select w-100" formControlName="fallback_gw_id">
                  <option value="null" disabled>Select Fallback Gateway</option>
                  <option *ngFor="let gateway of gatewayListData" [value]="gateway.gw_id" [disabled]="
                    control.primary_gw_id.value &&
                    gateway.gw_id === control.primary_gw_id.value
                  ">
                    <span class="mr-1" style="font-weight: bolder;">{{ gateway.gw_id }}&nbsp;-</span>
                    {{ gateway.gw_name }}
                  </option>
                </select>

                <div *ngIf="
                  control.fallback_gw_id.errors &&
                  (submitted ||
                    control.fallback_gw_id.touched ||
                    control.fallback_gw_id.dirty)
                " class="text-danger">
                  <div *ngIf="control.fallback_gw_id.errors.required">
                    Fallback Gateway is required
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row p-3">
            <label class="w-100">Add File List</label>
            <div class="form-group">
              <div class="upload-btn-wrapper">
                <button type="button" class="upload-btn">
                  <i class="fa fa-upload mr-1" aria-hidden="true"></i>
                  Browse Excel file to upload
                  <input type="file" accept=".xlsx,.xls" (change)="fileUpload($event)" />
                </button>
                <span class="m-2" *ngIf="cmobilesenderUpload">
                  {{ cmobilesenderUpload
                }}<i class="fa fa-times m-1" (click)="cmobilesenderUpload = null; selectedFile = null"
                    style="cursor: pointer;" title="Remove File"></i>
                </span>
              </div>
            </div>
          </div>
          <div class="row">
            <label class="col-12">Comments</label>
            <textarea class="w-100 ml-15" placeholder="Enter Comment" rows="4" formControlName="comments"></textarea>
          </div>
          <div class="col-12 text-center mt-4">
            <button type="reset" class="btn btn-basic mr-3" (click)="cancel()">
              Cancel
            </button>
            <button type="submit" class="btn erp-intl-btn save-btn">
              Add Route
            </button>
          </div>
        </div>
        <div *ngIf="control['whitelist_type'].value === 'Account'">
          <div class="create-custom-route-div">
            <div class="row">
              <div class="form-group col-4">
                <label>ESME Address</label>
                <input type="text" class="form-control" placeholder="Enter ESME Addr." formControlName="esmeaddr" />
                <div *ngIf="
                  control.esmeaddr.errors &&
                  (submitted ||
                    control.esmeaddr.touched ||
                    control.esmeaddr.dirty)
                " class="text-danger">
                  <div *ngIf="control.esmeaddr.errors.required">
                    ESME is required
                  </div>
                  <div *ngIf="control.esmeaddr.errors.pattern">
                    Invalid ESme Address.
                  </div>
                </div>
              </div>
              <div class="form-group col-4">
                <label>Country</label>
                <select class="dropdown-select w-100" (change)="getCountryBasedOperator(control.country.value)"
                  formControlName="country">
                  <option value="null" disabled>Select country</option>
                  <option *ngFor="let cnt of countriesData" [value]="cnt.country">
                    {{ cnt.country }}
                  </option>
                </select>
                <div *ngIf="
                  control.country.errors &&
                  (submitted ||
                    control.country.touched ||
                    control.country.dirty)
                " class="text-danger">
                  <div *ngIf="control.country.errors.required">
                    Country is required
                  </div>
                </div>
              </div>
              <div class="form-group col-4">
                <label>Operator</label>
                <select class="dropdown-select w-100" formControlName="operator">
                  <option value="null" disabled>Select operator</option>
                  <option *ngFor="let op of operatorList" [value]="op.operator">
                    {{ op.operator }}
                  </option>
                </select>
                <div *ngIf="
                  control.operator.errors &&
                  (submitted ||
                    control.operator.touched ||
                    control.operator.dirty)
                " class="text-danger">
                  <div *ngIf="control.operator.errors.required">
                    Operator is required
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="form-group col-4">
                <label>Template</label>
                <input type="text" class="form-control"  maxlength="500" formControlName="template" placeholder="Type Template" />
              </div>
              <div class="form-group col-4">
                <label>SenderID</label>
                <input type="text" class="form-control" formControlName="senderid" placeholder="Type SenderID" />
                <div *ngIf="
                  control.senderid.errors &&
                  (submitted ||
                    control.senderid.touched ||
                    control.senderid.dirty)
                " class="text-danger">
                  <div *ngIf="control.senderid.errors.required">
                    Sender Id is required
                  </div>
                  <div *ngIf="control.senderid.errors.pattern">
                    Invalid Sender Id Address.
                  </div>
                </div>
              </div>
              <div class="form-group col-4">
                <label>Priority</label>
                <select class="dropdown-select w-100" formControlName="priority">
                  <option value="null" disabled>Select Priority</option>
                  <option *ngFor="let priority of priorities" [value]="priority">
                    {{ priority }}
                  </option>
                </select>
                <div *ngIf="
                  control.priority.errors &&
                  (submitted ||
                    control.priority.touched ||
                    control.priority.dirty)
                " class="text-danger">
                  <div *ngIf="control.priority.errors.required">
                    Priority is required
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="form-group col-4">
                <label>Primary Gateway</label>
                <select class="dropdown-select w-100" formControlName="primary_gw_id">
                  <option value="null" disabled>Select Primary Gateway</option>
                  <option *ngFor="let gateway of gatewayListData" [value]="gateway.gw_id" [disabled]="
                    control.fallback_gw_id.value &&
                    gateway.gw_id === control.fallback_gw_id.value
                  ">
                    <span class="mr-1" style="font-weight: bolder;">{{ gateway.gw_id }}&nbsp;-</span>
                    {{ gateway.gw_name }}
                  </option>
                </select>

                <div *ngIf="
                  control.primary_gw_id.errors &&
                  (submitted ||
                    control.primary_gw_id.touched ||
                    control.primary_gw_id.dirty)
                " class="text-danger">
                  <div *ngIf="control.primary_gw_id.errors.required">
                    Primary Gateway is required
                  </div>
                </div>
              </div>
              <div class="form-group col-4">
                <label>Fallback Gateway</label>
                <select class="dropdown-select w-100" formControlName="fallback_gw_id">
                  <option value="null" disabled>Select Fallback Gateway</option>
                  <option *ngFor="let gateway of gatewayListData" [value]="gateway.gw_id" [disabled]="
                    control.primary_gw_id.value &&
                    gateway.gw_id === control.primary_gw_id.value
                  ">
                    <span class="mr-1" style="font-weight: bolder;">{{ gateway.gw_id }}&nbsp;-</span>
                    {{ gateway.gw_name }}
                  </option>
                </select>

                <div *ngIf="
                  control.fallback_gw_id.errors &&
                  (submitted ||
                    control.fallback_gw_id.touched ||
                    control.fallback_gw_id.dirty)
                " class="text-danger">
                  <div *ngIf="control.fallback_gw_id.errors.required">
                    Fallback Gateway is required
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row p-3">
            <label class="w-100">Add File List</label>
            <div class="form-group">
              <div class="upload-btn-wrapper">
                <button type="button" class="upload-btn">
                  <i class="fa fa-upload mr-1" aria-hidden="true"></i>
                  Browse Excel file to upload
                  <input type="file" accept=".xlsx,.xls" (change)="fileUpload($event)" />
                </button>
                <span class="m-2" *ngIf="cmobilesenderUpload">
                  {{ cmobilesenderUpload
                }}<i class="fa fa-times m-1" (click)="cmobilesenderUpload = null; selectedFile = null"
                    style="cursor: pointer;" title="Remove File"></i>
                </span>
              </div>
            </div>
          </div>
          <div class="row">
            <label class="col-12">Comments</label>
            <textarea class="w-100 ml-15" placeholder="Enter Comment" rows="4" formControlName="comments"></textarea>
          </div>
          <div class="col-12 text-center mt-4">
            <button type="reset" class="btn btn-basic mr-3" (click)="cancel()">
              Cancel
            </button>
            <button type="su bmit" class="btn erp-intl-btn save-btn">
              Add Route
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
<div class="pt-3 center-block h-100"
  *ngIf="!authService.authorizationState.route_mgmt.customroute_senderidcontent_add_route_enabled">
  <div class="d-block">
    <img style="width: 150px;" src="assets/icons/icon-lock.png" />
    <span class="w-100 d-block">
      Your are not <b>Authorized</b> to access this page
    </span>
  </div>
</div>
