<div class="row btm-border headings-div">
    <div class="col-12">
        <label class="main-heading"> <a routerLink="/gateway-management">GATEWAY MANAGEMENT / </a></label>
        <span> <a routerLink="/gateway-management/gateway-details/{{GtDetailsViewLog?.data.gw_id}}">
                {{GtDetailsViewLog?.data.gw_id}} -
                {{GtDetailsViewLog?.data.gw_name}} /</a> View Log</span>
    </div>
</div>
<div class="row btm-border second-row-det">
    <div class="col-9">
        <div class="row mb-2">
            <div class="col-2 border-right"><label>Gateway ID</label></div>
            <div class="col-8"><span><b>{{GtDetailsViewLog?.data.gw_id}}</b></span></div>
        </div>
        <div class="row">
            <div class="col-2 pr-0 border-right"><label>Gateway Name</label></div>
            <div class="col-8"><span><b>{{GtDetailsViewLog?.data.gw_name}}</b></span></div>
        </div>
    </div>
    <div class="col-3  form-group">
        <app-calendar-picker class="float-right" [params]="params" (selectDate)="getDateSelection($event)">
        </app-calendar-picker>
    </div>
</div>
<div class="main-container table-responsive">
    <table class="table table-borderless erp-list-table mb-0">
        <thead>
            <tr>
                <th>Date</th>
                <th>Time</th>
                <th>User</th>
                <th>Module</th>
                <th>Comment</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of GtDetailsViewLog?.data.tabledata">
                <td>{{item.date}}</td>
                <td>{{item.time}}</td>
                <td>{{item.actionby}}</td>
                <td>{{item.activity}}</td>
                <td>{{item.comment}}</td>
            </tr>
            <tr *ngIf="GtDetailsViewLog?.data.tabledata.length == 0">
                <td colspan="5" class="text-center py-3 main-heading">No data Found</td>
            </tr>
        </tbody>
    </table>
</div>