<div class="row btm-border headings-div">
    <div class="col-12">
        <label class="main-heading"><a routerLink="/customer-management">CUSTOMER MANAGEMENT /</a></label>
        <span><a routerLink="/customer-management/customer-management-edit"> 70000 100000011 /</a> VIEWLOG</span>
    </div>
</div>
<div class="row btm-border second-row-det">
    <div class="col-9">
        <div class="row mb-2">
            <div class="col-2 border-right "><label>ESME Addr.</label></div>
            <div class="col-9"><span><b>70000 100000011</b></span></div>
        </div>
        <div class="row">
            <div class="col-2 border-right"><label>Client Name</label></div>
            <div class="col-9"><span><b>Australia Telecom</b></span></div>
        </div>
    </div>
    <div class="col-2 mt-2 form-group">
        <app-calendar-picker></app-calendar-picker>
    </div>
    <div class="col-1 mt-2 text-right"><a class="icon-btn" href="#"><i aria-hidden="true" class="fa fa-download"></i></a></div>
</div>
<div class="main-container table-responsive">
    <table class="table table-borderless erp-list-table">
        <thead>
            <tr>
                <th>Date</th>
                <th>Time<i class="fa fa-caret-down"></i></th>
                <th>User</th>
                <th>Module</th>
                <th>Comments</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>28/10/2019 | 23:25:00</td>
                <td>23:43:56</td>
                <td class="font-weight-semi-bold">Sanal C</td>
                <td>Module1</td>
                <td>Lorem ipsum dolor sit amet, consectetur adipiscing elitunt</td>
            </tr>
            <tr>
                <td>28/10/2019 | 23:25:00</td>
                <td>23:43:56</td>
                <td class="font-weight-semi-bold">Sanal C</td>
                <td>Module1</td>
                <td>Lorem ipsum dolor sit amet, consectetur adipiscing elitunt</td>
            </tr>
            <tr>
                <td>28/10/2019 | 23:25:00</td>
                <td>23:43:56</td>
                <td class="font-weight-semi-bold">Sanal C</td>
                <td>Module1</td>
                <td>Lorem ipsum dolor sit amet, consectetur adipiscing elitunt</td>
            </tr>
        </tbody>
    </table>
</div>

