<div class="row btm-border">
    <div class="col-7 pt-10">
        <label class="main-heading">BILL PLAN MANAGEMENT /</label>
        <span
        > <a [routerLink]="['/billplan-management/home']"   > BILLPLAN</a> / <a [routerLink]="['/billplan-management/postpaid',billplan_id]">
          {{billplan_name}}/</a
        >
        VIEW</span
      >
    </div>
    <div class="col-5 dropdown text-right pt-2 mb-2" ngbDropdown>
        <span class="green-heading">BILL TYPE - POSTPAID</span>

        <button class="btn dropdown-basic" style="cursor: not-allowed;" >
          Flat / Fixed  </button>


    </div>
</div>
<div class="row btm-border second-row-det">

  <div class="col-3 ">
    <button class="btn w-100 dropdown-basic" style="cursor: not-allowed;" [innerHTML]=" ratecardname" ></button>
  </div>
  <div class="col-3 offset-6 text-right">
    <button class="btn w-100 dropdown-basic" style="cursor: not-allowed;" innerHTML="Billing Rate ({{currency}})" >
         Country + Operator </button>

  </div>

</div>
<!-- <div class="row btm-border second-row-det">
    <div class="col-5 text-right">
        <input type="search" class="form-control" id="" placeholder="&#xf002; Search by Continent, Country, Operator" />
    </div>

</div> -->
<div class="main-container row">
    <div class="col-6 table-responsive px-0 mt-4">
        <table class="table table-borderless erp-list-table row-hover-effect">
            <thead>
                <tr>
                  <th innerHTML="Billing Rate ({{currency}})"></th>
                  <th innerHTML="Normalize Rate ({{currencySybmol.nCurrency.symbol}})"></th>
                    <th>Discount(%)</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{billing_rate}}</td>
                    <td>{{normalizerate}}</td>
                    <td>{{discount_percentage}}</td>
                </tr>

            </tbody>
        </table>
        <div class="col-12 my-4">
            <label class="sub-heading">Description</label>
            <textarea rows="4"  readonly class="w-100" [value]="description" placeholder="Enter short Description here"></textarea>
        </div>
    </div>
</div>



