<div class="row btm-border second-row-pr">
    <div class="col-6 mt-2">
        <label class="mr-2"><b>Total Numbers</b></label>
        <span class="border-right">&nbsp;</span>
        <span class="ml-3 badge badge-dark"><b>435</b></span>
    </div>
  
    <div class="col-4 text-right">
        <input type="search" class="form-control" placeholder="&#xf002; Search by Mobile Number" />
    </div>
    <div class="col-2 text-right">
        <a routerLink="/route-management/custom-route/add-route" class="btn erp-intl-btn">Add Route</a>
    </div>
  </div>
  <div class="main-container table-responsive">
    <table class="table table-borderless erp-list-table row-hover-effect">
        <thead>
            <tr>
                <th>Mobile Number</th>
                <th>Whitelist Type</th>
                <th>Primary Route</th>
                <th>Fallback Route</th>
                <th>Creation Date & Time</th>
                <th>&nbsp;</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="font-weight-semi-bold">9879 90989</td>
                <td>Global</td>
                <td>Nexmo</td>
                <td>Tanla</td>
                <td>28/10/2019 | 23:25:00</td>
                <td><img src="assets/icons/delete-icon.svg" class="img-fluid" alt="delete icon"/></td>
            </tr>
            <tr>
                <td class="font-weight-semi-bold">9879 90989</td>
                <td>70000 100000011</td>
                <td>Nexmo</td>
                <td>Tanla</td>
                <td>28/10/2019 | 23:25:00</td>
                <td><img src="assets/icons/delete-icon.svg" class="img-fluid" alt="delete icon"/></td>
            </tr>
            <tr>
                <td class="font-weight-semi-bold">9879 90989</td>
                <td>Global</td>
                <td>Nexmo</td>
                <td>Tanla</td>
                <td>28/10/2019 | 23:25:00</td>
                <td><img src="assets/icons/delete-icon.svg" class="img-fluid" alt="delete icon"/></td>
            </tr>
        </tbody>
    </table>
</div>
