<mat-horizontal-stepper [linear]="isLinear" #stepper>
    <mat-step [stepControl]="firstFormGroup">
        <form [formGroup]="firstFormGroup">
            <section class="mb-2" formArrayName="groups"
                *ngFor="let X of firstFormGroup['controls'].groups['controls']; let indexGroup=index">
                <div formGroupName="{{indexGroup}}">
                    {{firstFormGroup.value | json}}
                    <div class="row">
                        <div class="col-3 mb-2">
                            <label>Group Name</label>
                            <div class="form-group">
                                <input type="search" class="form-control" formControlName="group_name"
                                    placeholder="Enter Group Name" />
                                <span class="text-danger pl-1 f-12"
                                    *ngIf="X.get('group_name').hasError('required') && groupSubmitted">
                                    Group Name is required
                                </span>
                            </div>
                        </div>
                        <div class="col-3 mb-2 offset-6">
                            <label>Continent(Optional)</label>
                            <select class="dropdown-select w-100" formControlName="continent_name">
                                <option value="" default>Select Continent</option>
                                <option value="1">option1</option>
                                <option value="2">option2</option>
                                <option value="3">option3</option>
                            </select>
                        </div>
                    </div>
                    <div class="gt-ratio-div">
                        <div class="row mb-2">
                            <div class="col-10">
                                <div formArrayName="countries">
                                    <div
                                        *ngFor="let Y of X['controls'].countries['controls']; let indexCountries=index">
                                        <div formGroupName="{{indexCountries}}" class="position-relative">
                                            <div class="row">
                                                <div class="col-3 mb-2">
                                                    <label>Country</label>
                                                    <select class="dropdown-select w-100"
                                                        (click)="handleCountryOperator(indexGroup, indexCountries, 'mcc', $event)"
                                                        formControlName="country_name">
                                                        <option value="" default>Select Country</option>
                                                        <option value="option1" [attr.data-value]="1">option1</option>
                                                        <option value="option2" [attr.data-value]="2">option2</option>
                                                        <option value="option3" [attr.data-value]="3">option3</option>
                                                    </select>
                                                    <span class="text-danger pl-1 f-12"
                                                        *ngIf="Y.get('country_name').hasError('required') && groupSubmitted">
                                                        Group Name is required
                                                    </span>
                                                </div>
                                                <div class="col-3 mb-2">
                                                    <label>Operator</label>
                                                    <select class="dropdown-select w-100"
                                                        (click)="handleCountryOperator(indexGroup, indexCountries, 'mnc', $event)"
                                                        formControlName="operator_name">
                                                        <option value="" default>Select Operator</option>
                                                        <option value="option1" [attr.data-value]="1">option1
                                                        </option>
                                                        <option value="option2" [attr.data-value]="2">option2
                                                        </option>
                                                        <option value="option3" [attr.data-value]="3">option3
                                                        </option>
                                                    </select>
                                                    <span class="text-danger pl-1 f-12"
                                                        *ngIf="Y.get('operator_name').hasError('required') && groupSubmitted">
                                                        Group Name is required
                                                    </span>
                                                </div>
                                                <div class="col-3 mb-2">
                                                    <label>Billing Rate (€)</label>
                                                    <div class="form-group">
                                                        <input type="search" class="form-control"
                                                            formControlName="billing_rate" placeholder="Enter Rate" />
                                                        <span class="text-danger pl-1 f-12"
                                                            *ngIf="Y.get('billing_rate').hasError('required') && groupSubmitted">
                                                            Group Name is required
                                                        </span>
                                                    </div>
                                                </div>
                                                <div class="col-3 mb-2">
                                                    <label>Normalize Rate (€)</label>
                                                    <div class="form-group">
                                                        <input type="search" class="form-control"
                                                            formControlName="normalize_rate" placeholder="0.0678" />
                                                        <span class="text-danger pl-1 f-12"
                                                            *ngIf="Y.get('normalize_rate').hasError('required') && groupSubmitted">
                                                            Group Name is required
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div *ngIf="indexCountries != 0" class="custom-delete add-div-btn">
                                                <button type="button" class="btn btn-light"
                                                    (click)="removeFromCountries(indexGroup,indexCountries)">-</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-2 add-div-btn">
                                <button type="button" class="btn btn-light"
                                    (click)="addToCountries(indexGroup)">+</button>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <div>

            </div>
            <div class="row mt-4 create-route-section">
                <div class="col-6">
                    <button type="button" class="btn btn-dark" (click)="addNewGroup()">ADD NEW
                        GROUP</button>
                </div>
                <div class="col-6 text-right save-form-div">
                    <button class="btn btn-basic mr-3" mat-button>Cancel</button>
                    <button class="btn erp-intl-btn" mat-button matStepperNext>Next</button>
                </div>
            </div>
        </form>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup">
        <form [formGroup]="secondFormGroup">
            <section class="mb-2">
                <div class="row ml-0">
                    <label class="col-12 pl-0">ROC - <span class="font-weight-bold ">CONTINENTS</span></label>
                    <div class="col-6">
                        <div class="row">
                            <div class=" form-group col-7 px-0">
                                <input type="radio" name="row" id="std-bp" checked>
                                <label for="std-bp" class="radio-inline">Copy from Default Rate Card</label>
                                <a routerLink="/settings/default-rate-card" class="ml-2"> <i class="fa fa-eye"></i></a>
                            </div>
                            <div class="form-group col-5 px-0">
                                <input type="radio" name="row" id="define-cr">
                                <label for="define-cr" class="radio-inline">Define Custom Rate</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 px-0 f-14">
                        <label class="font-weight-semi-bold">Note: If there is no specific ROC BillPlan, check Standard
                            BillPlan and click Next</label>
                    </div>
                </div>

                <div class="gt-ratio-div roc-div">
                    <div class="row">
                        <div class="col-6">
                            <div class="row">
                                <div class="col-4">
                                    <label>Continent - <span class="font-weight-bold">Asia</span></label>
                                </div>
                                <div class="col-6">
                                    <label>Group Name - <span class="font-weight-bold">groupname12</span></label>
                                </div>
                                <div class="col-12 country-count">
                                    ALREADY ROUTED COUNTRIES : <span class="font-weight-bold">52</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-3">
                            <label>Billing Rate (€)</label>
                            <div class="form-group">
                                <input type="search" class="form-control" id="" placeholder="Enter Rate" />
                            </div>
                        </div>
                        <div class="col-3">
                            <label>Normalize Rate (€)</label>
                            <div class="form-group">
                                <input type="search" class="form-control" id="" placeholder="0.0678" />
                            </div>
                        </div>

                    </div>
                </div>
                <div class="gt-ratio-div roc-div">
                    <div class="row">
                        <div class="col-6">
                            <div class="row">
                                <div class="col-4">
                                    <label>Continent - <span class="font-weight-bold">Asia</span></label>
                                </div>
                                <div class="col-6">
                                    <label>Group Name - <span class="font-weight-bold">groupname12</span></label>
                                </div>
                                <div class="col-12 country-count">
                                    ALREADY ROUTED COUNTRIES : <span class="font-weight-bold">52</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-3">
                            <label>Billing Rate (€)</label>
                            <div class="form-group">
                                <input type="search" class="form-control" id="" placeholder="Enter Rate" />
                            </div>
                        </div>
                        <div class="col-3">
                            <label>Normalize Rate (€)</label>
                            <div class="form-group">
                                <input type="search" class="form-control" id="" placeholder="0.0678" />
                            </div>
                        </div>

                    </div>
                </div>
            </section>
            <div>

            </div>
            <div class="row mt-4 create-route-section">
                <div class="col-12 text-center save-form-div">
                    <button class="btn btn-basic mr-3" mat-button matStepperPrevious>Back</button>
                    <button class="btn erp-intl-btn" mat-button matStepperNext>Next</button>
                </div>
            </div>
        </form>
    </mat-step>
    <mat-step [stepControl]="thirdFormGroup">
        <form [formGroup]="thirdFormGroup">
            <div class="main-container second-form-div">
                <div class="row">
                    <label class="font-weight-bold col-12">REST OF THE WORLD (ROW)</label>
                    <div class="col-6 pr-0">
                        <div class="row">
                            <div class=" form-group col-7 pr-0">
                                <input type="radio" name="row" id="std-bp" checked>
                                <label for="std-bp" class="radio-inline">Copy from Default Rate Card</label>
                                <a routerLink="/settings/default-rate-card" class="ml-2"> <i class="fa fa-eye"></i></a>
                            </div>
                            <div class="form-group col-5 pr-0">
                                <input type="radio" name="row" id="define-cr">
                                <label for="define-cr" class="radio-inline">Define Custom Rate</label>
                            </div>

                        </div>

                    </div>
                    <div class="col-6 p-0 text-right f-14"><label class="font-weight-semi-bold">Note: If there is no
                            specific ROW BillPlan, copy from Default Rate Card and Save</label></div>
                </div>
                <div class="gt-ratio-div">
                    <div class="row mb-2">
                        <div class="col-5 mb-2">
                            <label>Billing Rate (€)</label>
                            <div class="form-group">
                                <input type="search" class="form-control" id="" placeholder="Enter Rate" />
                            </div>
                        </div>
                        <div class="col-5 mb-2">
                            <label>Normalize Rate (€)</label>
                            <div class="form-group">
                                <input type="search" class="form-control" id="" placeholder="0.0678" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-2">
                    <label class="font-weight-bold col-12">Discount in % or Amount in €</label>
                </div>
                <div class="gt-ratio-div">
                    <div class="row">
                        <div class="col-6">
                            <label>Discount Amount</label>
                            <div class="form-group">
                                <input type="search" class="form-control" id="" placeholder="Enter Discount" />
                            </div>
                        </div>
                        <div class="col-2 discount-select">
                            <select class="dropdown-select w-100">
                                <option value="" default>%</option>
                                <option value="">option1</option>
                                <option value="">option2</option>
                                <option value="">option3</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="row mt-4">
                    <div class="col-12">
                        <Label class="font-weight-bold">Description:</Label>
                        <textarea rows="4" class="w-100" placeholder="Enter short Description here"></textarea>
                    </div>
                </div>

                <div class="row mt-4 create-route-section">

                    <div class="col-12 text-center">
                        <button class="btn btn-basic mr-3" mat-button matStepperPrevious>Back</button>
                        <button class="btn erp-intl-btn" mat-button>Save & Back To Listing</button>
                    </div>
                </div>
            </div>

        </form>
    </mat-step>

</mat-horizontal-stepper>