<mat-horizontal-stepper [linear]="isLinear" #stepper>

    <mat-step [stepControl]="parentForm">
        <form [formGroup]="parentForm" (ngSubmit)="onFirstStepSubmit(stepper)">
            <section class="mb-2">
                <div class="row">
                    <div class="col-3 form-group">
                        <label>Country</label>
                        <select (change)="selectCountry()" class="dropdown-select w-100" formControlName="countryName"
                            ngDefaultControl>
                            <!-- [ngClass]="{submitError:submitted && parentForm.get('countryName').hasError('required')}" -->
                            <option value="" disabled>Select Country</option>
                            <option *ngFor="let countryObj of countriesList" [ngValue]="countryObj.country">
                                {{ countryObj.country }}</option>
                        </select>
                        <span class="text-danger pl-1 f-12"
                            *ngIf="parentForm.get('countryName').hasError('required') && submitted">
                            Country Name is required
                        </span>
                    </div>
                    <div class="col-3 form-group">
                        <label>Operator</label>
                        <select (change)="selectOperator()" class="dropdown-select w-100" formControlName="operatorMNC">
                            <!-- [ngClass]="{submitError:submitted && parentForm.get('operatorMNC').hasError('required')}" -->
                            <option value="" disabled>Select Operator</option>
                            <option *ngFor="let operatorObj of operatorsList" [ngValue]="operatorObj.mnc">
                                {{ operatorObj.operator }}</option>
                        </select>
                        <span class="text-danger pl-1 f-12"
                            *ngIf="parentForm.get('countryName').hasError('required') && submitted">
                            Operator Name is required
                        </span>
                    </div>
                </div>
                <div class="row gt-ratio-div">
                    <div class="col-10">
                        <div class="row">
                            <div class="col-4 mb-2" formArrayName="gatewayRatio"
                                *ngFor="let item of parentForm.get('gatewayRatio').controls; let i = index;">
                                <div [formGroupName]="i">
                                    <div class="row">
                                        <label class="col-5">Gateway</label>
                                        <label class=" pull-1 col-6 text-center">Enter Ratio<br>(%)</label>
                                    </div>
                                    <div class="row ml-0 gatewayRow">
                                        <div class="col-7 p-0">
                                            <!-- [ngClass]="{submitError:submitted && item.get('gw_id').hasError('required')}" -->
                                            <select class="dropdown-select w-100" formControlName="gw_id"
                                                (change)="onChangeSelect(i, 'firstForm')">
                                                <option value="" disabled>Select Gateway</option>
                                                <option *ngFor="let obj of gatewaysList" [ngValue]="obj.gw_id"
                                                    [disabled]="obj.isSelected === false">
                                                    {{ obj.gw_id }}</option>
                                            </select>
                                            <span class="text-danger pl-1 f-12"
                                                *ngIf="item.get('gw_id').hasError('required') && submitted">
                                                Gateway is required
                                            </span>
                                        </div>
                                        <div class="col-5 p-0">
                                            <input type="number" formControlName="ratio_in_percentage" step="10"
                                                min="10" max="100" onKeyDown="return false" matInput placeholder="%"
                                                class="ratio-text"
                                                [ngClass]="{submitError:submitted && getRatioCount !== 100}"
                                                (click)="setFormArrayIndex(i)">
                                            <!-- [readonly]="item.get('gw_id').hasError('required')" -->
                                        </div>
                                        <span class="closeGateway" (click)="onCloseGateway(i)"><b>X</b></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-2 add-div-btn">
                        <button type="button" class="btn btn-light" (click)="addGateway()">+</button>
                    </div>


                </div>
            </section>
            <div>

            </div>
            <div class="row mt-4 create-route-section">
                <div class="col-6">
                    <button type="button" class="btn btn-dark" (click)="onAddNewRoute(stepper, 'fromAddNew')">ADD
                        NEW</button>
                </div>
                <div class="col-6 text-right save-form-div">
                    <!-- <a routerLink="/route-management/pool-route/account-wise-view" class="btn btn-basic mr-3"
                        mat-button>Cancel</a> -->
                    <!-- <button class="btn erp-intl-btn" mat-button matStepperNext>Next</button> -->
                    <button type="button" class="btn btn-basic mr-3" mat-button
                        (click)="firstFormCancel()">Cancel</button>
                    <button type="submit" class="btn erp-intl-btn" mat-button>Next</button>
                </div>
            </div>
        </form>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup">
        <form [formGroup]="secondFormGroup" (ngSubmit)="onSecondStepSubmit(stepper)">
            <div class="main-container p-4">
                <div class="row">
                    <label class="font-weight-bold col-12 mb-4">REST OF THE WORLD (ROW)</label>
                    <div class="col-5">
                        <div class="row">
                            <div class=" form-group col-4 pr-0">
                                <input type="radio" id="block-row" value="block" formControlName="row_route">
                                <label for="block-row" class="radio-inline">Block ROW</label>
                            </div>
                            <div class="form-group col-4 p-0">
                                <input type="radio" id="row-lcr" value="lcr" formControlName="row_route">
                                <label for="row-lcr" class="radio-inline">ROW on LCR</label>
                            </div>
                            <div class="form-group col-4 p-0">
                                <input type="radio" id="define-row" value="custom" formControlName="row_route"
                                    (change)="rowRoutesListFormArray.value.length === 0 && addRowGateway() ">
                                <label for="define-row" class="radio-inline">Define ROW</label>
                            </div>
                        </div>

                    </div>
                    <div class="col-7 text-right"><label class="font-weight-bold">Note: If there is no specific ROW
                            Routing, you may Skip and Save</label></div>
                </div>


                <div class="row gt-ratio-div" *ngIf="secondFormGroup.get('row_route').value === 'custom'">
                    <div class="col-10">
                        <div class="row">
                            <div class="col-4 mb-2" formArrayName="row_routes_list"
                                *ngFor="let item of secondFormGroup.get('row_routes_list').controls; let i = index;">
                                <div [formGroupName]="i">
                                    <div class="row">
                                        <label class="col-5">Gateway</label>
                                        <label class=" pull-1 col-6 text-center">Enter Ratio<br>(%)</label>
                                    </div>
                                    <div class="row ml-0 gatewayRow">
                                        <div class="col-7 p-0">
                                            <!-- [ngClass]="{submitError:secondStepSubmitted && item.get('gw_id').hasError('required')}" -->
                                            <select class="dropdown-select w-100" formControlName="gw_id"
                                                (change)="onChangeSelect(i, 'secondForm')">
                                                <option value="" disabled>Select Gateway</option>
                                                <option *ngFor="let obj of gatewaysList" [ngValue]="obj.gw_id"
                                                    [disabled]="obj.isSelected === false">
                                                    {{ obj.gw_id }}</option>
                                            </select>
                                            <span class="text-danger pl-1 f-12"
                                                *ngIf="item.get('gw_id').hasError('required') && secondStepSubmitted">
                                                Gateway is required
                                            </span>
                                        </div>
                                        <div class="col-5 p-0">

                                            <input type="number" formControlName="ratio_in_percentage" step="10"
                                                min="10" max="100" onKeyDown="return false" matInput placeholder="%"
                                                class="ratio-text" (click)="setFormArrayIndex(i)"
                                                [ngClass]="{submitError:secondStepSubmitted && getRowRatioCount !== 100}">
                                        </div>
                                        <span class="closeGateway" (click)="onCloseRowGateway(i)"><b>X</b></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-2 add-div-btn">
                        <button type="button" class="btn btn-light" (click)="addRowGateway()">+</button>
                    </div>


                </div>
                <div class="row mt-4">
                    <div class="col-12">
                        <Label class="font-weight-bold mb-3">Comments</Label>
                        <textarea rows="4" [minlength]="commentsTextAreaMin" [maxlength]="commentsTextAreaMax"
                            class="w-100" placeholder="Enter Comment here" formControlName="comments"></textarea>
                        <!-- [ngClass]="{submitError:secondStepSubmitted && secondFormGroup.get('comments').hasError('required')}" -->
                        <span class="text-danger pl-1 f-12"
                            *ngIf="!secondFormGroup.get('comments').valid && secondStepSubmitted">
                            Comments are required
                        </span>
                    </div>
                </div>


                <div class="row mt-4 create-route-section">
                    <div class="col-3">
                        <button type="button" class="btn btn-dark"
                            (click)="openPreviewModel(previewModal)">Preview</button>
                    </div>
                    <div class="col-6 text-center">
                        <button type="button" class="btn btn-basic mr-3" mat-button matStepperPrevious>Back</button>
                        <button type="submit" class="btn erp-intl-btn" mat-button>Save & Back To Listing</button>
                    </div>
                </div>
            </div>
            {{secondFormGroup.value | json}}
        </form>
    </mat-step>

</mat-horizontal-stepper>

<!-- modal pop-up -->
<ng-template #previewModal let-c="close" let-d="dismiss">
    <button type="button" class="offset-11 col-1 modal-close-btn" aria-label="Close"
        (click)="d('Cross click')">&times;</button>
    <div class="modal-body gt-det-modal">
        <form action="">

            <div class="row">
                <div class="col-4 p-0">
                    <label class="mr-2"><b>ROUTE NAME</b></label>
                    <span class="border-right">&nbsp;</span>
                    <span class="ml-3"><b>{{parentForm.get('route_name').value}}</b></span>
                </div>
                <div class="col-4 p-0">
                    <label class="mr-2"><b>Total Continents Added</b></label>
                    <span class="border-right">&nbsp;</span>
                    <span class="ml-3"><b>{{continentsCount}}</b></span>
                </div>
                <div class="col-4 p-0">
                    <label class="mr-2"><b>Total Countries Added</b></label>
                    <span class="border-right">&nbsp;</span>
                    <span class="ml-3"><b>{{countryCount}}</b></span>
                </div>
            </div>
            <div class="row my-3" *ngIf="secondFormGroup.get('row_route').value === 'custom'">
                <label class="table-heading w-100">ROW (Defined)</label>
                <div class="col-5 row-details">
                    <label class="mt-1" *ngFor="let item of this.secondFormGroup.get('row_routes_list').value">
                        {{item.gw_id}}
                        <span class="badge badge-white">{{item.ratio_in_percentage}}%</span>
                    </label>
                </div>
            </div>

            <div class="main-container table-responsive">
                <table class="table table-borderless erp-list-table row-hover-effect">
                    <thead>
                        <tr>
                            <th>Continent</th>
                            <th>Country</th>
                            <th>Operator</th>
                            <th>MCC + MNC</th>
                            <th>Distributed Gateway and Ratio</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let route of poolRouteService?.previewList">
                            <td class="font-weight-semi-bold">{{route.continent}}</td>
                            <td class="font-weight-semi-bold">{{route.country}}</td>
                            <td>{{route.operator}}</td>
                            <td>{{route.mcc}}-{{route.mnc}}</td>
                            <td>
                                <span class="badge badge-success mx-1"
                                    *ngFor="let Gate of route.ratios">{{Gate.gw_id}}-{{Gate.ratio_in_percentage}}%</span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="row">
                <div class="col-12 text-center mt-3">
                    <button type="button" class="btn erp-intl-btn" aria-label="Close"
                        (click)="d('Cross click')">Close</button>
                </div>
            </div>


        </form>
    </div>

</ng-template>