<mat-horizontal-stepper [linear]="isLinear" #stepper>
    <mat-step [stepControl]="parentForm">
        <form [formGroup]="parentForm" (ngSubmit)="addNewSlabCountryOperator()">
            <!-- <pre>{{parentForm.value | json}}</pre> -->
            <section class="mb-2">
                <div class="row">
                    <div class="col-3 mb-2">
                        <label>Country</label>
                        <select #coun class="dropdown-select w-100" formControlName="country_name"
                            (change)="initOperatorSubscription(coun.value)">
                            <option value="" disabled>Select Country</option>
                            <option *ngFor="let obj of countriesList" [value]="obj.country">
                                {{ obj.country }}</option>
                        </select>
                        <span class="text-danger pl-1 f-12"
                            *ngIf="parentForm.get('country_name').hasError('required') && firstStepSubmitted">
                            Country is required
                        </span>
                    </div>
                    <div class="col-3  mb-2">
                        <label>Operator</label>
                        <select #oper class="dropdown-select w-100" formControlName="operator_name"
                            (change)="operatorDropOnChange(oper.value)">
                            <option value="" disabled>Select Operator</option>
                            <!-- <ng-container *ngIf="operatorsList !== null"> -->
                            <option *ngFor="let obj of operatorsList" [value]="obj.operator">
                                {{ obj.operator }}</option>
                            <!-- </ng-container> -->
                        </select>
                        <span class="text-danger pl-1 f-12"
                            *ngIf="parentForm.get('operator_name').hasError('required') && firstStepSubmitted">
                            Operator is required
                        </span>
                    </div>
                    <div class="col-3 mb-2 offset-3">
                        <label>Continent(Optional)</label>
                        <select #conti class="dropdown-select w-100" formControlName="continent_name"
                            (change)="initCountrySubscription(conti.value)">
                            <option value="" disabled>Select Continent</option>
                            <option [value]=continent *ngFor="let continent of continentList">{{continent}}</option>
                        </select>
                    </div>
                </div>

                <div class="gt-ratio-div">
                    <div class="row mb-2">
                        <div class="col-10">
                            <div formArrayName="slabs">
                                <div *ngFor="let slab of firstFormArray.controls; let i=index">
                                    <div [formGroupName]=i class="position-relative">
                                        <div class="row">
                                            <div class="col-3 mb-2">
                                                <label>Min Limit</label>
                                                <div class="form-group">
                                                    <input type="number" class="form-control"
                                                        placeholder="Enter Min Limit" formControlName="min"
                                                        [readonly]="true" />
                                                </div>
                                            </div>
                                            <div class="col-3 mb-2">
                                                <label>Max Limit</label>
                                                <div class="form-group">
                                                    <input type="number" class="form-control"
                                                        placeholder="Enter Max Limit" formControlName="max"
                                                        [readonly]="firstFormArray.controls.length > i+1" />
                                                </div>
                                                <span class="text-danger pl-1 f-12"
                                                    *ngIf="!slab.get('max').valid && firstStepSubmitted ">
                                                    Max Limit is invalid
                                                </span>
                                            </div>
                                            <div class="col-3 mb-2">
                                                <label>Billing Rate (€)</label>
                                                <div class="form-group">
                                                    <input type="text" class="form-control" placeholder="Enter Rate"
                                                        formControlName="billing_rate" />
                                                    <!-- (focus)="setIndex(i)"
                                                        (blur)="onBlur()" -->
                                                </div>
                                                <span class="text-danger pl-1 f-12"
                                                    *ngIf="!slab.get('billing_rate').hasError('required') && firstStepSubmitted ">
                                                    Billing Rate is required
                                                </span>
                                                <span class="text-danger pl-1 f-12"
                                                    *ngIf="slab.get('billing_rate').hasError('pattern') && slab.get('billing_rate').dirty">
                                                    Please enter valid input
                                                </span>
                                            </div>
                                            <div class="col-3 mb-2">
                                                <label>Normalize Rate (€)</label>
                                                <div class="form-group">
                                                    <input type="number" class="form-control"
                                                        [value]="round(slab.get('billing_rate').value)"
                                                        formControlName="normalize_rate" [readonly]="true" />
                                                </div>
                                            </div>
                                        </div>
                                        <div *ngIf="i !== 0" class="custom-delete add-div-btn">
                                            <button type="button" class="btn btn-light"
                                                (click)="removeFromSlabsFirstFormArray(i)">-</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-2 add-div-btn">
                            <button type="button" class="btn btn-light" (click)="addToSlabsFirstFormArray()">+</button>
                        </div>
                    </div>
                </div>
            </section>
            <div>

            </div>
            <div class="row mt-4 create-route-section">
                <div class="col-6">
                    <button type="submit" class="btn btn-dark"> {{editModeState ? 'UPDATE' : 'ADD NEW COUNTRY &
                        OPERATOR'}}</button>
                </div>
                <div class="col-6 text-right save-form-div">
                    <button type="button" class="btn btn-basic mr-3" [routerLink]="['/billplan-management-postpaid']"
                        mat-button>Cancel</button>
                    <button type="button" class="btn erp-intl-btn" mat-button (click)="onNext(stepper)">Next</button>
                    <!-- matStepperNext -->
                </div>
            </div>
        </form>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup">
        <form [formGroup]="secondFormGroup" (ngSubmit)="onSecondStepSubmit()">
            <!-- <pre>{{secondFormGroup.value | json}}</pre> -->
            <div class="main-container second-form-div">
                <div class="row ml-0">
                    <label class="font-weight-bold col-12">REST OF THE WORLD (ROW)</label>
                    <div class="col-6 pr-0">
                        <div class="row">
                            <div class=" form-group col-7 pr-0">
                                <input type="radio" id="std-bp" value="standard" formControlName="ratetype_row">
                                <label for="std-bp" class="radio-inline">Copy from Default Rate Card</label>
                                <a routerLink="/settings/default-rate-card" class="ml-2"> <i class="fa fa-eye"></i></a>
                            </div>
                            <div class="form-group col-5 pr-0">
                                <input type="radio" id="define-cr" value="custom" formControlName="ratetype_row">
                                <label for="define-cr" class="radio-inline">Define Custom Rate</label>
                            </div>

                        </div>

                    </div>
                    <div class="col-6 p-0 text-right f-14"><label class="font-weight-semi-bold">Note: If there is no
                            specific ROW BillPlan, copy from Default Rate Card and Save</label></div>
                </div>

                <div class="gt-ratio-div" *ngIf="secondFormGrpRateType === 'custom'">
                    <div class="row mb-2">
                        <div class="col-10">
                            <div formArrayName="row_custom">
                                <div *ngFor="let slab of secondFormArray.controls; let i=index">
                                    <div [formGroupName]=i class="position-relative">
                                        <div class="row">
                                            <div class="col-3 mb-2">
                                                <label>Min Limit</label>
                                                <div class="form-group">
                                                    <input type="number" class="form-control"
                                                        placeholder="Enter Min Limit" formControlName="min"
                                                        [readonly]="true" />
                                                </div>
                                            </div>
                                            <div class="col-3 mb-2">
                                                <label>Max Limit</label>
                                                <div class="form-group">
                                                    <input type="number" class="form-control"
                                                        placeholder="Enter Max Limit" formControlName="max"
                                                        [readonly]="secondFormArray.controls.length > i+1" />
                                                </div>
                                                <span class="text-danger pl-1 f-12"
                                                    *ngIf="!slab.get('max').valid && secondStepSubmitted">
                                                    Max Limit is invalid
                                                </span>
                                            </div>
                                            <div class="col-3 mb-2">
                                                <label>Billing Rate (€)</label>
                                                <div class="form-group">
                                                    <input type="text" class="form-control" placeholder="Enter Rate"
                                                        formControlName="billing_rate" />
                                                    <!-- (focus)="setIndex(i)"
                                                        (blur)="onBlur()" -->
                                                </div>
                                                <span class="text-danger pl-1 f-12"
                                                    *ngIf="!slab.get('billing_rate').hasError('required') && secondStepSubmitted">
                                                    Billing Rate is required
                                                </span>
                                                <span class="text-danger pl-1 f-12"
                                                    *ngIf="slab.get('billing_rate').hasError('pattern') && slab.get('billing_rate').dirty">
                                                    Please enter valid input
                                                </span>
                                            </div>
                                            <div class="col-3 mb-2">
                                                <label>Normalize Rate (€)</label>
                                                <div class="form-group">
                                                    <input type="number" class="form-control"
                                                        [value]="round(slab.get('billing_rate').value)"
                                                        formControlName="normalize_rate" [readonly]="true" />
                                                </div>
                                            </div>
                                        </div>
                                        <div *ngIf="i !== 0" class="custom-delete add-div-btn">
                                            <button type="button" class="btn btn-light"
                                                (click)="removeFromSlabsSecondFormArray(i)">-</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-2 add-div-btn">
                            <button type="button" class="btn btn-light"
                                (click)="addToSlabsSecondFormArray(i)">+</button>
                        </div>
                    </div>
                </div>
                <div class="row mt-2">
                    <label class="font-weight-bold col-12">Discount in % or Amount in €</label>
                </div>
                <div class="gt-ratio-div">
                    <div class="row ">
                        <div class="col-6">
                            <label>Discount Amount</label>
                            <div class="form-group">
                                <input type="search" class="form-control" placeholder="Enter Discount"
                                    formControlName="discount_rate" />
                            </div>
                        </div>
                        <div class="col-6 discount-select">
                            <select class="dropdown-select w-100" formControlName="discount_type">
                                <option value="" default>Select discount type</option>
                                <option value="unit">Unit</option>
                                <option value="percentage">Percentage</option>
                            </select>
                        </div>


                    </div>

                </div>

                <div class="row mt-4">
                    <div class="col-12">
                        <Label class="font-weight-bold">Description:</Label>
                        <textarea rows="4" class="w-100" placeholder="Enter short Description here"
                            formControlName="description"></textarea>
                    </div>
                </div>

                <div class="row mt-4 create-route-section">

                    <div class="col-12 text-center">
                        <button type="button" class="btn btn-basic mr-3" mat-button matStepperPrevious>Back</button>
                        <button type="submit" class="btn erp-intl-btn" mat-button>Save & Back To Listing</button>
                    </div>
                </div>
            </div>

        </form>
    </mat-step>

</mat-horizontal-stepper>