<div class="row btm-border headings-div">
    <div class="col-11">
        <label class="main-heading">
            <a routerLink="/settings">SETTINGS /</a>
        </label>
        <span> DEFAULT RATE CARD </span>
    </div>
    <div class="col-1">
        <button *ngIf="accountType=='Country & Operator'" class="icon-btn"
            (click)="GsDefaultCountryOperator_download()"><i aria-hidden="true" class="fa fa-download"></i></button>
        <button *ngIf="accountType=='Country'" class="icon-btn" (click)="GsDefaultCountry_download()"><i
                aria-hidden="true" class="fa fa-download"></i></button>
    </div>
</div>
<div class="row btm-border second-row-pr">
    <div class="col-3 mt-2">
        <label class="mr-2"><b>Total Countries</b></label>
        <span class="border-right">&nbsp;</span>
        <span class="ml-3 badge badge-dark"
            *ngIf="accountType=='Country & Operator'"><b>{{gsDefaultCountryOperatorData?.data.totalcountry}}</b></span>
        <span class="ml-3 badge badge-dark"
            *ngIf="accountType=='Country'"><b>{{gsDefaultCountryData?.data.totalcountry}}</b></span>
    </div>
    <div class="col-3 mt-2">
        <div *ngIf="accountType=='Country & Operator'">
            <label class="mr-2"><b>Total Operators</b></label>
            <span class="border-right">&nbsp;</span>
            <span class="ml-3 badge badge-dark"><b>{{gsDefaultCountryOperatorData?.data.totaloperator}}</b></span>
        </div>
    </div>
    <div class="col-6 text-right billplan-radio mt-2">
        <mat-radio-group class="mat-radio-group" [(ngModel)]="accountType">
            <mat-radio-button class="mat-radio-button" *ngFor="let labelname of accounts" [value]="labelname">
                {{labelname}}
            </mat-radio-button>
        </mat-radio-group>
    </div>
</div>

<div class="input-container">
    <div *ngIf="accountType=='Country & Operator'">
        <div class="main-container table-responsive">
            <table class="table table-borderless erp-list-table row-hover-effect">
                <thead>
                    <tr>
                        <th>Continent</th>
                        <th>Country</th>
                        <th>Operator</th>
                        <th>MCC + MNC</th>
                        <th>Billing Currency</th>
                        <th>Billing rate</th>
                        <th>Normalize rate</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of gsDefaultCountryOperatorData?.data.tabledata">
                        <td class="font-weight-semi-bold">{{item.continent}}</td>
                        <td>{{item.country}}</td>
                        <td>{{item.operator}}</td>
                        <td>{{item.mcc}} + {{item.mnc}}</td>
                        <td [innerHTML]="item.billing_currency"></td>
                        <td>{{item.billing_rate}}</td>
                        <td>{{item.normalizerate}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div *ngIf="accountType=='Country'">
        <div class="main-container table-responsive">
            <table class="table table-borderless erp-list-table row-hover-effect">
                <thead>
                    <tr>
                        <th>Continent</th>
                        <th>Country</th>
                        <th>MCC</th>
                        <th>Billing Currency</th>
                        <th>Billing rate</th>
                        <th>Normalize rate</th>

                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of gsDefaultCountryData?.data.tabledata">
                        <td class="font-weight-semi-bold">{{item.continent}}</td>
                        <td>{{item.country}}</td>
                        <td>{{item.mcc}}</td>
                        <td [innerHTML]="item.billing_currency"></td>
                        <td>{{item.billing_rate}}</td>
                        <td>{{item.normalizerate}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>