<div class="row btm-border headings-div">
    <div class="col-8">
        <label class="main-heading"> <a routerLink="/gateway-management">GATEWAY MANAGEMENT / </a></label>
        <span><a routerLink="/gateway-management/gateway-details"> NX - NEXMO /</a> SENDERID’s Content Block</span>
    </div>
</div>
<div class="row btm-border second-row-pr">
    <div class="col-8">
        <div class="row">
            <div class="col-12">
                <label class="mr-2"><b>Total</b></label>
                <span class="border-right">&nbsp;</span>
                <span class="ml-3 badge badge-dark"><b>435</b></span>
            </div>
        </div>
        <div class="row gateway-count">
            <div class="col-3">
                <label>Country <span class="badge badge-dark"><b>290</b></span>
                </label>
            </div>
            <div class="col-3 gateway-detail">
                <label>Operator <span class="badge badge-dark"><b>290</b></span></label>
            </div>

        </div>
    </div>
    <div class="col-3 text-right mt-1">
        <div class="form-group">
            <input type="search" class="form-control" placeholder="&#xf002; Search by Country, SenderID" />
        </div>
    </div>
</div>
<div class="main-container table-responsive">
    <table class="table table-borderless erp-list-table row-hover-effect">
        <thead>
            <tr>
                <th>SenderID</th>
                <th>Whitelist Type</th>
                <th>Country</th>
                <th>Operator</th>
                <th>MCC + MNC</th>
                <th>Primary Route</th>
                <th>Fallback Route</th>
                <th>Priority</th>
                <th>Creation Date & Time</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="font-weight-semi-bold">HDFC345</td>
                <td>70000 100000011</td>
                <td>Australia</td>
                <td>Australian Telecom</td>
                <td>345-345</td>
                <td>Nexmo</td>
                <td>Tanla</td>
                <td>null</td>
                <td>28/10/2019 | 23:25:00</td>
            </tr>
            <tr>
                <td class="font-weight-semi-bold">HDFC345</td>
                <td>Global</td>
                <td>Australia</td>
                <td>Australian Telecom</td>
                <td>345-345</td>
                <td>Nexmo</td>
                <td>Tanla</td>
                <td>null</td>
                <td>28/10/2019 | 23:25:00</td>
            </tr>
            <tr>
                <td class="font-weight-semi-bold">HDFC345</td>
                <td>Global</td>
                <td>Australia</td>
                <td>Australian Telecom</td>
                <td>345-345</td>
                <td>Nexmo</td>
                <td>Tanla</td>
                <td>null</td>
                <td>28/10/2019 | 23:25:00</td>
            </tr>
        </tbody>
    </table>
</div>