<div class="row btm-border headings-div">
    <div class="col-5">
        <label class="main-heading">SETTINGS</label>
    </div>
    <div class="col-7 text-right">
        <a [ngClass]="{'disabled-func disabled': StMgmtAuthControls.settings_standard_rate_card_view_enabled ? null : true }"
            [routerLink]="StMgmtAuthControls.settings_standard_rate_card_view_enabled ? ['/settings/default-rate-card'] : []"
            class="btn btn-basic mr-3">Default Rate Card</a>
        <a routerLink="/settings/global-country-operator-list" class="btn erp-intl-btn">Global Country Operator
            Listing</a>
    </div>
</div>
<div class="data-container m-lr_15">
    <!-- <div class="row">
        <label class="gateway-section-heading col-6">CURRENCY CONVERSION RATE<span class="badge rounded-question" title="tooltip data">?</span></label>
        <div class="col-6 text-right setting-select">
            <input type="radio" name="settings" id="manual" checked /><label for="manual" class="mr-2">Manual</label>
            <input type="radio" name="settings" id="automatic" /><label for="automatic">Automatic</label>
        </div>
    </div>
    <section class="main-section">
        <div class="row">
            <div class="col-10">
                <div class="row">
                    <div class="col-3 form-group">
                        <label>From Currency</label>
                        <select class="dropdown-select w-100">
                            <option value="" default>USD</option>
                            <option value="">option1</option>
                            <option value="">option2</option>
                            <option value="">option3</option>
                        </select>
                    </div>
                    <div class="col-3 form-group">
                        <label>To Currency</label>
                        <select class="dropdown-select w-100">
                            <option value="" default>€</option>
                            <option value="">option1</option>
                            <option value="">option2</option>
                            <option value="">option3</option>
                        </select>
                    </div>
                    <div class="col-4 form-group">
                        <label>Conversion Rate</label>
                        <input type="search" class="form-control" id="" placeholder="Enter Conversion Rate" />
                    </div>
                    <div class="col-2 add-div-btn">
                        <button class="btn btn-light">+</button>
                    </div>
                </div>
            </div>
            <div class="col-2 text-right">
                <button class="btn btn-light">View Audit</button>
            </div>
        </div>
    </section> -->
    <form [formGroup]="invoiceFormGroup" (ngSubmit)="GsConversionRate_add(invoiceFormGroup.value)">
        <!-- <pre>{{invoiceFormGroup.value | json}}</pre> -->
        <div class="d-block">
            <div class="row">
                <label class="gateway-section-heading col-6">INVOICE BILL PLAN CONVERSION RATE<span
                        class="badge rounded-question" title="tooltip data">?</span></label>
                <div class="col-6 text-right setting-select">
                    <input type="radio" name="invoiceBillplan" id="manual2" formControlName="invoiceBillplan"
                        value="manual" (click)="changeType('manual')" />
                    <label for="manual2" class="mr-2">Manual</label>
                    <input type="radio" name="invoiceBillplan" id="automatic2" formControlName="invoiceBillplan"
                        value="auto" (click)="changeType('auto')" />
                    <label for="automatic2">Automatic</label>
                </div>
            </div>
            <section class="main-section">
                <div class="row">
                    <div class="col-9 position-relative invoice-block">
                        <div class="row">
                            <div class="col-12 invoice-list" formArrayName="currency_list"
                                *ngFor="let X of invoiceFormGroup['controls'].currency_list['controls']; let indexCurrency=index">
                                <div class="row" formGroupName="{{indexCurrency}}">
                                    <div class="col-4 form-group" *ngIf="X.get('status').value != 'delete'">
                                        <label>From Currency</label>
                                        <select class="dropdown-select w-100" formControlName="fromcurrencyid"
                                            (change)="handleInvoiceCurrencyChange()"
                                            *ngIf="X.get('status').value != 'view'">
                                            <option value="" default disabled>Select Gateway Currency</option>
                                            <option value="{{item.currency_id}}"
                                                *ngFor="let item of settingsCurrencyData?.data"
                                                [innerHTML]="( item.currency_name ) + ' - ' + (item.currency_symbol)">
                                            </option>
                                        </select>
                                        <span class="text-danger pl-1 f-12"
                                            *ngIf="X.get('fromcurrencyid').hasError('required') && isConversionRateValid">
                                            From Currency is required
                                        </span>
                                        <select class="dropdown-select w-100" disabled
                                            *ngIf="X.get('status').value == 'view'"
                                            [value]="X.get('fromcurrencyid').value">
                                            <option value="">Select Gateway Currency</option>
                                            <option value="{{item.currency_id}}"
                                                *ngFor="let item of settingsCurrencyData?.data"
                                                [innerHTML]="( item.currency_name ) + ' - ' + (item.currency_symbol)">
                                            </option>
                                        </select>
                                    </div>
                                    <div class="col-4 form-group" *ngIf="X.get('status').value != 'delete'">
                                        <label>To Currency</label>
                                        <select class="dropdown-select w-100" formControlName="tocurrencyid"
                                            (change)="handleInvoiceCurrencyChange()"
                                            *ngIf="X.get('status').value != 'view'">
                                            <option value="" default disabled>Select Gateway Currency</option>
                                            <option value="{{item.currency_id}}"
                                                *ngFor="let item of currencyObj[X.get('fromcurrencyid').value]"
                                                [disabled]="item.isSelected == true"
                                                [innerHTML]="( item.currency_name ) + ' - ' + (item.currency_symbol)">
                                            </option>
                                        </select>
                                        <span class="text-danger pl-1 f-12"
                                            *ngIf="X.get('tocurrencyid').hasError('required') && isConversionRateValid">
                                            To Currency is required
                                        </span>
                                        <select class="dropdown-select w-100" disabled
                                            *ngIf="X.get('status').value == 'view'"
                                            [value]="X.get('tocurrencyid').value">
                                            <option value="" disabled>Select Gateway Currency</option>
                                            <option value="{{item.currency_id}}"
                                                *ngFor="let item of settingsCurrencyData?.data"
                                                [innerHTML]="( item.currency_name ) + ' - ' + (item.currency_symbol)">
                                            </option>
                                        </select>
                                    </div>
                                    <div class="col-4 form-group" *ngIf="X.get('status').value != 'delete'">
                                        <label>Conversion Rate</label>
                                        <input type="search" class="form-control" formControlName="rate"
                                            (blur)="checkRate(X.get('rate').value, X, 'rate')"
                                            *ngIf="X.get('status').value != 'view' && invoiceFormGroup.get('invoiceBillplan').value != 'auto'"
                                            placeholder="Enter Conversion Rate" />
                                        <input type="search" class="form-control light-bg" disabled
                                            [value]="X.get('rate').value"
                                            *ngIf="X.get('status').value == 'view' || invoiceFormGroup.get('invoiceBillplan').value == 'auto'"
                                            placeholder="Enter Conversion Rate" />
                                        <span class="text-danger pl-1 f-12"
                                            *ngIf="X.get('rate').hasError('required') && isConversionRateValid">
                                            Conversion Rate is required
                                        </span>
                                        <span class="text-danger pl-1 f-12"
                                            *ngIf="(X.get('rate').hasError('pattern') && X.get('rate').dirty) || (X.get('rate').hasError('pattern') && isConversionRateValid && !X.get('rate').dirty)">
                                            Please enter valid input
                                        </span>
                                    </div>
                                    <div *ngIf="invoiceFormGroup.get('currency_list').value.length >= 2 && X.get('status').value != 'delete'"
                                        class="custom-delete add-div-btn ml-0">
                                        <button type="button" class="btn btn-light"
                                            (click)="removeFromCurrencyRow(indexCurrency)">-</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-1 add-div-btn d-flex align-items-end justify-content-end mb-3 px-0">
                        <button type="button" class="btn btn-light" (click)="addToCurrencyList(false)">+</button>
                    </div>
                    <div class="col-2 text-right pt-4">
                        <button class="btn btn-light" type="button"
                            [ngClass]="{'isDisabled': !StMgmtAuthControls.settings_billplan_invoice_currency_conversion_rates_view_audit_log_enabled }"
                            (click)="StMgmtAuthControls.settings_billplan_invoice_currency_conversion_rates_view_audit_log_enabled ? open(viewAudit): ''">View
                            Audit</button>
                    </div>
                </div>
            </section>
            <div class="col-12 text-left">
                <button type="submit" class="btn erp-intl-btn">Save</button>
            </div>
        </div>
    </form>

    <form [formGroup]="currencyTimezoneFormGroup" class="col-12 pt-5 px-0"
        (ngSubmit)="onSubmitCurrencyTimezoneFormGroup(currencyTimezoneFormGroup.value)">
        <div class="row">
            <!-- <pre>Form values: {{currencyTimezoneFormGroup.value | json}}</pre> -->
        </div>
        <div class="row">
            <div class="col-4">
                <label class="gateway-section-heading">NORMALIZE RATE SETTINGS<span class="badge rounded-question"
                        title="tooltip data">?</span></label>
                <section class="main-section">
                    <div class="form-group">
                        <label>Normalize Currency</label>
                        <select *ngIf="StMgmtAuthControls.settings_set_or_update_normalize_rate_currency_enabled"
                            class="dropdown-select w-100" formControlName="currency_id"
                            [attr.disabled]="StMgmtAuthControls.settings_set_or_update_normalize_rate_currency_enabled ? null : true">
                            <option value="" default disabled>Select Gateway Currency</option>
                            <option value="{{item.currency_id}}" *ngFor="let item of settingsCurrencyData?.data"
                                [innerHTML]="( item.currency_name ) + ' - ' + (item.currency_symbol)">
                            </option>
                        </select>
                        <select *ngIf="!StMgmtAuthControls.settings_set_or_update_normalize_rate_currency_enabled"
                            class="dropdown-select w-100" disabled
                            [value]="currencyTimezoneFormGroup.get('currency_id').value">
                            <option value="" default disabled>Select Gateway Currency</option>
                            <option value="{{item.currency_id}}" *ngFor="let item of settingsCurrencyData?.data"
                                [innerHTML]="( item.currency_name ) + ' - ' + (item.currency_symbol)">
                            </option>
                        </select>
                    </div>
                </section>
            </div>
            <div class="col-5">
                <label class="gateway-section-heading">TIMEZONE
                    <span class="badge rounded-question" title="tooltip data">?</span>
                </label>
                <section class="main-section">
                    <div class="row">
                        <div class="col-5"><label>TIMEZONE</label></div>
                        <div class="col-7 day-light-check text-right">
                            <label class="checkbox-label" for="day-light">
                                Day Light
                                <input type="checkbox" id="day-light" disabled>
                                <span class="checkmark"></span>
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <select *ngIf="StMgmtAuthControls.settings_set_or_update_timezone_enabled"
                            [attr.disabled]="StMgmtAuthControls.settings_set_or_update_timezone_enabled ? null : true"
                            class="dropdown-select w-100" formControlName="timezone_id">
                            <option value="" default disabled>Select Gateway Timezone</option>
                            <option *ngFor="let item of settingsTimeZoneData?.data" value="{{item.id}}">
                                {{item.timezone}}
                            </option>
                        </select>
                        <select *ngIf="!StMgmtAuthControls.settings_set_or_update_timezone_enabled"
                            class="dropdown-select w-100" [value]="currencyTimezoneFormGroup.get('timezone_id').value"
                            disabled>
                            <option value="" default disabled>Select Gateway Timezone</option>
                            <option *ngFor="let item of settingsTimeZoneData?.data" value="{{item.id}}">
                                {{item.timezone}}
                            </option>
                        </select>
                    </div>
                </section>
            </div>
            <div class="col-12 text-left">
                <button type="submit" class="btn erp-intl-btn">Save</button>
            </div>
        </div>
    </form>
</div>

<!-- modal pop-up -->
<ng-template #viewAudit let-c="close" let-d="dismiss">
    <button type="button" class="offset-11 col-1 modal-close-btn" aria-label="Close"
        (click)="d('Cross click')">&times;</button>
    <div class="modal-body ">
        <form action="">
            <label class="view-audit-head">View Audit</label>
            <div class="main-container table-responsive">
                <table class="table table-borderless erp-list-table row-hover-effect erp-table-scroll">
                    <thead>
                        <tr>
                            <th>From Currency</th>
                            <th>To Currency</th>
                            <th>Conversion Rate</th>
                            <th>Conversion Type</th>
                            <th>Conversion Date & Tme</th>
                            <th>Converted By User</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let tableData of settingsConversionViewData?.data.tabledata">
                            <td class="font-weight-semi-bold">Inr (₹)</td>
                            <td class="font-weight-semi-bold">Euro (€)</td>
                            <td>14.567</td>
                            <td>Manual</td>
                            <td>28/10/2019 | 23:25:00</td>
                            <td>Nawal</td>
                        </tr>
                        <tr *ngIf="settingsConversionViewData?.data.tabledata.length == 0">
                            <td colspan="6" class="text-center py-3 main-heading">No data Found</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-12 text-center">
                <input type="reset" class="btn erp-intl-btn mr-3" value="Close" aria-label="Close"
                    (click)="d('Cross click')">
            </div>
        </form>
    </div>

</ng-template>